<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- COMMENT:START CRM Titan 28973
			If you add any new section here , please ensure that section name is removed from help/web.config
End COMMENT:END-->
    <section name="crm.authentication"
             type="Microsoft.Crm.Authentication.AuthenticationSettingsConfigurationSectionHandler, Microsoft.Crm.Authentication, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="system.identityModel"
             type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services"
             type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <system.web>
    <httpRuntime executionTimeout="300" maxQueryStringLength="8192" maxRequestLength="131072"
                 requestValidationMode="3.0" encoderType="Microsoft.Crm.CrmHttpEncoder, Microsoft.Crm" />
    <httpModules>
      <add name="MapOrg"
           type="Microsoft.Crm.MapOrgEngine, Microsoft.Crm.Core, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrmFederatedAuthenticationModule"
           type="Microsoft.Crm.Authentication.Claims.CrmFederatedAuthenticationModule, Microsoft.Crm.Authentication, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrmSessionAuthenticationManager"
           type="Microsoft.Crm.Authentication.Claims.CrmSessionAuthenticationManager, Microsoft.Crm.Authentication, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrmAuthentication"
           type="Microsoft.Crm.Authentication.AuthenticationEngine, Microsoft.Crm.Authentication, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WebApiUrlRewriteModule"
           type="Microsoft.Crm.Application.Components.Modules.WebApiUrlRewriteModule, Microsoft.Crm.Application.Components.Application, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*"
           type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
           validate="false" />
    </httpHandlers>
    <compilation defaultLanguage="C#" debug="false">
      <assemblies>
        <!-- COMMENT:L:START Uncomment this if you need to run with Passport support; RPS needs to be installed
				<add assembly="Microsoft.Crm.Platform.Passport, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
End COMMENT:L:END-->
        <add assembly="Microsoft.Crm, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Crm.Sdk, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Crm.Platform.Sdk, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add
          assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <pages buffer="true" enableSessionState="false" enableViewState="false" validateRequest="false" />
    <sessionState mode="Off" />
  </system.web>
  <location>
    <system.webServer>
      <handlers>
        <remove name="WebDAV" />
        <remove name="ExtensionlessUrl-ISAPI-4.0_64bit" />
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <add name="Reserved.ReportViewerWebControl.axd_*" path="Reserved.ReportViewerWebControl.axd" verb="*"
             type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
             preCondition="integratedMode" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="api/*" verb="*" modules="IsapiModule"
             scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"
             preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="api/*" verb="*" modules="IsapiModule"
             scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll"
             preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="api/*" verb="*"
             type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <modules>
        <remove name="WebDAVModule" />
        <add name="MapOrg"
             type="Microsoft.Crm.MapOrgEngine, Microsoft.Crm.Core, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             preCondition="managedHandler" />
        <add name="CrmFederatedAuthenticationModule"
             type="Microsoft.Crm.Authentication.Claims.CrmFederatedAuthenticationModule, Microsoft.Crm.Authentication, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             preCondition="managedHandler" />
        <add name="CrmSessionAuthenticationManager"
             type="Microsoft.Crm.Authentication.Claims.CrmSessionAuthenticationManager, Microsoft.Crm.Authentication, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             preCondition="managedHandler" />
        <add name="CrmAuthentication"
             type="Microsoft.Crm.Authentication.AuthenticationEngine, Microsoft.Crm.Authentication, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             preCondition="managedHandler" />
        <add name="WebApiUrlRewriteModule"
             type="Microsoft.Crm.Application.Components.Modules.WebApiUrlRewriteModule, Microsoft.Crm.Application.Components.Application, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             preCondition="managedHandler" />
      </modules>
    </system.webServer>
  </location>
  <!--
	Specific settings for the MSCRMServices directory
	-->
  <location path="MSCRMServices">
    <system.web>
      <httpRuntime maxRequestLength="8192" />
      <webServices>
        <!-- configuring the reflector + format extension for custom WSDL generation -->
        <soapExtensionReflectorTypes>
          <add type="Microsoft.Crm.Sdk.CrmServiceSoapExtensionReflector, Microsoft.Crm.WebServices" />
        </soapExtensionReflectorTypes>
        <conformanceWarnings>
          <remove name="BasicProfile1_1" />
        </conformanceWarnings>
      </webServices>
    </system.web>
  </location>
  <!--
	Support for Live Portal
	-->
  <location path="Portal">
    <system.web>
      <compilation defaultLanguage="C#" debug="false">
        <assemblies>
          <clear />
          <add assembly="*" />
        </assemblies>
      </compilation>
      <pages enableSessionState="true" validateRequest="false" enableViewState="true" />
    </system.web>
    <system.webServer>
      <modules>
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <!--
	Support for Live Platform
	-->
  <location path="Platform">
    <system.web>
      <compilation defaultLanguage="C#" debug="false">
        <assemblies>
          <clear />
          <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          <add
            assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="*" />
        </assemblies>
      </compilation>
      <pages enableSessionState="true" validateRequest="false" enableViewState="true" />
    </system.web>
    <system.webServer>
      <modules>
        <remove name="CrmFederatedAuthenticationModule" />
        <remove name="CrmSessionAuthenticationManager" />
        <remove name="CrmAuthentication" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <location path="CrmLiveAdminWebService">
    <system.web>
      <compilation defaultLanguage="C#" debug="false">
        <assemblies>
          <clear />
          <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          <add
            assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="*" />
        </assemblies>
      </compilation>
    </system.web>
    <system.webServer>
      <modules>
        <remove name="CrmFederatedAuthenticationModule" />
        <remove name="CrmSessionAuthenticationManager" />
        <remove name="CrmAuthentication" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <location path="Support">
    <system.web>
      <compilation defaultLanguage="C#" debug="false">
        <assemblies>
          <!-- Only remove explicit assemblies added above -->
          <remove assembly="Microsoft.Crm, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <remove assembly="Microsoft.Crm.Sdk, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <remove
            assembly="Microsoft.Crm.Platform.Sdk, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <remove
            assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
          <remove
            assembly="Microsoft.Crm.Platform.Passport, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </assemblies>
      </compilation>
      <httpModules>
        <!-- Only remove explicit modules added above -->
        <remove name="CrmFederatedAuthenticationModule" />
        <remove name="CrmSessionAuthenticationManager" />
        <remove name="CrmAuthentication" />
      </httpModules>
    </system.web>
    <system.webServer>
      <modules>
        <remove name="CrmFederatedAuthenticationModule" />
        <remove name="CrmSessionAuthenticationManager" />
        <remove name="CrmAuthentication" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <location path="G">
    <system.web>
      <httpModules>
        <remove name="WebApiUrlRewriteModule" />
      </httpModules>
    </system.web>
    <system.webServer>
      <modules>
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <location path="viewer.aspx">
    <system.web>
      <pages buffer="true" enableSessionState="false" enableViewState="true" validateRequest="false" />
    </system.web>
  </location>
  <appSettings>
    <!--
    Task are only added in dot net 4.5, corext env has dot net 4.0. so HttpContext was becoming
    null after context switch in Odata Batching.    
    The "true" value for "aspnet:UseTaskFriendlySynchronizationContex" tells ASP.NET to use an entirely
    new asynchronous pipeline which follows CLR conventions for kicking off asynchronous operations, 
    including returning threads to the ThreadPool when necessary. ASP.NET 4.0 and below followed its own 
    conventions which went against CLR guidelines, and if the switch is not enabled it is very easy for
    asynchronous methods to run synchronously, deadlock the request, or otherwise not behave as expected.
    -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!--
			Help Catalog Name
			========================================================================================
			This is the name of the Index Server Catalog to use when executing queries from Help.
			Default Setting: "Microsoft CRM Help"
		-->
    <add key="HelpCatalogName" value="Microsoft CRM Help" />
    <!--
			Show Developer Errors
			========================================================================================
			If a server-side error occurs, this setting determines whether or not Debug error
			messages are rendered to the user.  Debug error message are not recommended for
			production environments, but may be useful in attempting to debug a problem you are
			having with MSCRM.
			Recommended Setting: "Off"
			Values: "On" or "Off"
		-->
    <add key="DevErrors" value="Off" />
    <!--
			Client Type
			========================================================================================
			This variable is used by the code to determine if the web pages are in Outlook
			client mode or in web mode.  Note that the Outlook Desktop client will use the Web
			mode since it's actually hitting the application server.
			Values: "Outlook" or "Web"
-->
    <add key="ClientType" value="Web" />
    <add key="ReportViewerServerConnection"
         value="Microsoft.Crm.Web.Reporting.CrmReportServerConnection, Microsoft.Crm.Application.Pages, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <add key="ReportViewerMessages"
         value="Microsoft.Crm.Web.Reporting.CrmReportViewerMessages, Microsoft.Crm.Application.Pages, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </appSettings>
  <crm.authentication>
    <authentication />
  </crm.authentication>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="8192" maxAllowedContentLength="134217728" />
        <denyUrlSequences>
          <add sequence="MSCRMServices/2007/CrmDeploymentService.asmx" />
        </denyUrlSequences>
        <fileExtensions allowUnlisted="true">
        </fileExtensions>
        <hiddenSegments>
        </hiddenSegments>
        <verbs allowUnlisted="true" applyToWebDAV="true">
          <add verb="OPTIONS" allowed="true" />
          <add verb="TRACE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="ClientGlobalContextRule" stopProcessing="true">
          <match
            url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?(WebResources|Handlers)/ClientGlobalContext.js.aspx" />
          <action type="Rewrite" url="/{R:1}/_Common/ClientGlobalContext.js.aspx" />
        </rule>
        <rule name="WebResourcesRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?webresources/([^\\?]+)" />
          <action type="Rewrite" url="/{R:1}/Handlers/WebResource.ashx?name={R:3}" />
        </rule>
        <rule name="FederationMetadataRule" stopProcessing="true">
          <match url="FederationMetadata/2007-06/FederationMetadata.xml" />
          <action type="Rewrite" url="/Handlers/FederationMetadata.ashx" />
        </rule>
        <rule name="GetFileRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?wopi/files/([0-9a-zA-Z][^/]*)/contents" />
          <action type="Rewrite"
                  url="{R:1}/Handlers/WopiServerHandler.ashx?action=GetFile&amp;fileId={R:3}&amp;access_token={C:1}"
                  appendQueryString="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="GET" />
            <add input="{QUERY_STRING}" pattern="access_token=([%0-9a-zA-Z][^/]*)" />
          </conditions>
        </rule>
        <rule name="PutFileRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?wopi/files/([0-9a-zA-Z][^/]*)/contents" />
          <action type="Rewrite"
                  url="{R:1}/Handlers/WopiServerHandler.ashx?action=PutFile&amp;fileId={R:3}&amp;access_token={C:1}"
                  appendQueryString="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="POST" />
            <add input="{QUERY_STRING}" pattern="access_token=([%0-9a-zA-Z][^/]*)" />
          </conditions>
        </rule>
        <rule name="CheckFileInfoRule" stopProcessing="true">
          <match
            url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?wopi/files/([0-9a-zA-Z][^/]*)(?!.*?contents)" />
          <action type="Rewrite"
                  url="{R:1}/Handlers/WopiServerHandler.ashx?action=CheckFileInfo&amp;fileId={R:3}&amp;access_token={C:1}"
                  appendQueryString="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="GET" />
            <add input="{QUERY_STRING}" pattern="access_token=([%0-9a-zA-Z][^/]*)" />
          </conditions>
        </rule>
        <rule name="LockFileRule" stopProcessing="true">
          <match
            url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?wopi/files/([0-9a-zA-Z][^/]*)(?!.*?contents)" />
          <action type="Rewrite"
                  url="{R:1}/Handlers/WopiServerHandler.ashx?action=LockFile&amp;fileId={R:3}&amp;access_token={C:1}"
                  appendQueryString="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="POST" />
            <add input="{QUERY_STRING}" pattern="access_token=([%0-9a-zA-Z][^/]*)" />
          </conditions>
        </rule>
        <rule name="AppModuleRule" stopProcessing="true">
          <match url="([0-9a-zA-Z][^/]*/)?apps/([0-9a-zA-Z][^/]*)/(.*)" />
          <action type="Rewrite" url="{R:1}{R:3}?app={R:2}" />
        </rule>
        <rule name="AppLandingRule">
          <match url="^([0-9a-zA-Z][^/]*/)?apps/default.aspx$" />
          <action type="Rewrite" url="{R:1}/applandingpage.aspx" />
        </rule>
        <rule name="DesignerUrlRule1" enabled="true">
          <match url="^designer/([a-zA-Z]+)/?([0-9a-zA-Z][^/]*)?/?([0-9a-zA-Z][^/]*)?" />
          <action type="Rewrite" url="designers/designer.aspx?designer={R:1}&amp;solutionid={R:2}&amp;id={R:3}" />
          <conditions logicalGrouping="MatchAny">
            <add input="{PATH_INFO}" pattern="/designer/app/" />
            <add input="{PATH_INFO}" pattern="/designer/sitemap/" />
          </conditions>
        </rule>
        <rule name="DesignerUrlRule2" enabled="true">
          <match url="/?(.+?)?/designer/([a-zA-Z]+)/?([0-9a-zA-Z][^/]*)?/?([0-9a-zA-Z][^/]*)?" />
          <action type="Rewrite" url="{R:1}/designers/designer.aspx?designer={R:2}&amp;solutionid={R:3}&amp;id={R:4}" />
          <conditions logicalGrouping="MatchAny">
            <add input="{PATH_INFO}" pattern="/designer/app/" />
            <add input="{PATH_INFO}" pattern="/designer/sitemap/" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Workflow" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Workflow" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.99.99.99" newVersion="2.21.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="ServiceModelRedirect" />
        </listeners>
      </source>
      <source name="System.ServiceModel.Activation" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="ServiceModelRedirect" />
        </listeners>
      </source>
      <source name="System.IdentityModel" switchValue="Error">
        <listeners>
          <add name="ServiceModelRedirect" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="Microsoft.Crm.ServiceModelTraceRedirector, Microsoft.Crm.Core" name="ServiceModelRedirect" />
    </sharedListeners>
  </system.diagnostics>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1073741824" />
        <!-- 1GB limit -->
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>