USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[SdkMessagePairBaseIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SdkMessagePairBaseIds](
	[SdkMessagePairId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SdkMessagePairBaseIds] PRIMARY KEY CLUSTERED 
(
	[SdkMessagePairId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SdkMessagePairBaseIds] ([SdkMessagePairId]) VALUES (N'4fbebb1b-ea3e-db11-86a7-000a3a5473e8')
INSERT [dbo].[SdkMessagePairBaseIds] ([SdkMessagePairId]) VALUES (N'50bebb1b-ea3e-db11-86a7-000a3a5473e8')
INSERT [dbo].[SdkMessagePairBaseIds] ([SdkMessagePairId]) VALUES (N'51bebb1b-ea3e-db11-86a7-000a3a5473e8')
GO
