USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[ConnectionRoleBaseIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConnectionRoleBaseIds](
	[ConnectionRoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ConnectionRoleBaseIds] PRIMARY KEY CLUSTERED 
(
	[ConnectionRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ConnectionRoleBaseIds] ([ConnectionRoleId]) VALUES (N'adccf191-576b-463b-be78-019a427eb2e5')
INSERT [dbo].[ConnectionRoleBaseIds] ([ConnectionRoleId]) VALUES (N'4592387c-987a-48cb-98d7-1ea884049896')
INSERT [dbo].[ConnectionRoleBaseIds] ([ConnectionRoleId]) VALUES (N'8e91c0f0-7b79-4614-a5b0-273d3e539c00')
