USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[ImportJobBase]    Script Date: 4/10/2017 9:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportJobBase](
	[CompletedOn] [datetime] NULL,
	[StartedOn] [datetime] NULL,
	[ImportJobId] [uniqueidentifier] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[Data] [nvarchar](max) NULL,
	[TimeZoneRuleVersionNumber] [int] NULL,
	[UTCConversionTimeZoneCode] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[Name] [nvarchar](256) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[SolutionName] [nvarchar](256) NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ImportJobBase_OrganizationId]  DEFAULT ('00000000-0000-0000-0000-000000000000'),
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[Progress] [float] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [cndx_PrimaryKey_ImportJob] PRIMARY KEY CLUSTERED 
(
	[ImportJobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [fndx_SolutionName]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [fndx_SolutionName] ON [dbo].[ImportJobBase]
(
	[SolutionName] ASC
)
WHERE ([SolutionName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
