USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[ComplexControlBase]    Script Date: 4/10/2017 9:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplexControlBase](
	[Type] [int] NULL CONSTRAINT [DF_ComplexControlBase_Type]  DEFAULT ((0)),
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ComplexControlId] [uniqueidentifier] NOT NULL,
	[VersionNumber] [timestamp] NULL,
	[ComplexControlIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_ComplexControlBase_ComplexControlIdUnique]  DEFAULT (newid()),
	[ComplexControlXml] [nvarchar](max) NOT NULL,
	[Version] [int] NULL,
 CONSTRAINT [cndx_PrimaryKey_ComplexControl] PRIMARY KEY CLUSTERED 
(
	[ComplexControlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[ComplexControlBase]
(
	[VersionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
