USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[CustomControlBase]    Script Date: 4/10/2017 9:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomControlBase](
	[CustomControlIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_CustomControlBase_CustomControlIdUnique]  DEFAULT (newid()),
	[CompatibleDataTypes] [nvarchar](500) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[ComponentState] [int] NOT NULL CONSTRAINT [DF_CustomControlBase_ComponentState]  DEFAULT ((0)),
	[IntroducedVersion] [nvarchar](48) NULL,
	[SupportingSolutionId] [uniqueidentifier] NULL,
	[CustomControlId] [uniqueidentifier] NOT NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[Version] [nvarchar](20) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Manifest] [nvarchar](max) NOT NULL,
	[SolutionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_CustomControlBase_SolutionId]  DEFAULT ('fd140aad-4df4-11dd-bd17-0019b9312238'),
	[IsManaged] [bit] NOT NULL CONSTRAINT [DF_CustomControlBase_IsManaged]  DEFAULT ((0)),
	[ModifiedOn] [datetime] NULL,
	[OverwriteTime] [datetime] NOT NULL CONSTRAINT [DF_CustomControlBase_OverwriteTime]  DEFAULT ((0)),
	[VersionNumber] [timestamp] NULL,
 CONSTRAINT [cndx_PrimaryKey_CustomControl] PRIMARY KEY CLUSTERED 
(
	[CustomControlId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_CustomControlBase_CustomControlIdNameVersion]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[CustomControlBase] ADD  CONSTRAINT [UQ_CustomControlBase_CustomControlIdNameVersion] UNIQUE NONCLUSTERED 
(
	[CustomControlId] ASC,
	[Name] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [UQ_CustomControlBase_CustomControlIdUnique]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[CustomControlBase] ADD  CONSTRAINT [UQ_CustomControlBase_CustomControlIdUnique] UNIQUE NONCLUSTERED 
(
	[CustomControlIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [indx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [indx_Sync_VersionNumber] ON [dbo].[CustomControlBase]
(
	[VersionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
