USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[SolutionAwareEntitiesForUpgrade]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolutionAwareEntitiesForUpgrade](
	[EntityId] [uniqueidentifier] ROWGUIDCOL  NOT NULL
) ON [PRIMARY]

GO
