USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[SdkMessageResponseFieldBase]    Script Date: 4/10/2017 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SdkMessageResponseFieldBase](
	[PublicName] [nvarchar](256) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[SdkMessageResponseFieldIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_SdkMessageResponseFieldBase_SdkMessageResponseFieldIdUnique]  DEFAULT (newid()),
	[Value] [nvarchar](256) NOT NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[Formatter] [nvarchar](256) NULL,
	[ClrFormatter] [nvarchar](256) NULL,
	[CustomizationLevel] [int] NOT NULL CONSTRAINT [DF_SdkMessageResponseFieldBase_CustomizationLevel]  DEFAULT ((0)),
	[Name] [nvarchar](256) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[Position] [int] NOT NULL CONSTRAINT [DF_SdkMessageResponseFieldBase_Position]  DEFAULT ((0)),
	[VersionNumber] [timestamp] NULL,
	[SdkMessageResponseFieldId] [uniqueidentifier] NOT NULL,
	[SdkMessageResponseId] [uniqueidentifier] NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[ParameterBindingInformation] [nvarchar](128) NULL,
 CONSTRAINT [cndx_PrimaryKey_SdkMessageResponseField] PRIMARY KEY CLUSTERED 
(
	[SdkMessageResponseFieldId] ASC,
	[CustomizationLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [UQ_SdkMessageResponseFieldBase_SdkMessageResponseFieldIdUnique]    Script Date: 4/10/2017 9:59:57 PM ******/
ALTER TABLE [dbo].[SdkMessageResponseFieldBase] ADD  CONSTRAINT [UQ_SdkMessageResponseFieldBase_SdkMessageResponseFieldIdUnique] UNIQUE NONCLUSTERED 
(
	[SdkMessageResponseFieldIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[SdkMessageResponseFieldBase]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase]  WITH CHECK ADD  CONSTRAINT [createdby_sdkmessageresponsefield] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[SystemUserBase] ([SystemUserId])
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase] CHECK CONSTRAINT [createdby_sdkmessageresponsefield]
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase]  WITH CHECK ADD  CONSTRAINT [createdonbehalfby_sdkmessageresponsefield] FOREIGN KEY([CreatedOnBehalfBy])
REFERENCES [dbo].[SystemUserBase] ([SystemUserId])
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase] CHECK CONSTRAINT [createdonbehalfby_sdkmessageresponsefield]
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase]  WITH CHECK ADD  CONSTRAINT [messageresponse_sdkmessageresponsefield] FOREIGN KEY([SdkMessageResponseId])
REFERENCES [dbo].[SdkMessageResponseBaseIds] ([SdkMessageResponseId])
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase] CHECK CONSTRAINT [messageresponse_sdkmessageresponsefield]
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase]  WITH CHECK ADD  CONSTRAINT [modifiedby_sdkmessageresponsefield] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[SystemUserBase] ([SystemUserId])
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase] CHECK CONSTRAINT [modifiedby_sdkmessageresponsefield]
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase]  WITH CHECK ADD  CONSTRAINT [modifiedonbehalfby_sdkmessageresponsefield] FOREIGN KEY([ModifiedOnBehalfBy])
REFERENCES [dbo].[SystemUserBase] ([SystemUserId])
GO
ALTER TABLE [dbo].[SdkMessageResponseFieldBase] CHECK CONSTRAINT [modifiedonbehalfby_sdkmessageresponsefield]
GO
