USE [D365_MSCRM]
GO
/****** Object:  View [dbo].[Account]    Script Date: 4/10/2017 9:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--
-- base view for Account
--
create view [dbo].[Account]
 (
    -- logical attributes
    [PreferredEquipmentIdName],
    [CreatedByYomiName],
    [CreatedByName],
    [CreatedByExternalPartyYomiName],
    [CreatedByExternalPartyName],
    [EntityImage_Timestamp],
    [EntityImage_URL],
    [EntityImage],
    [PrimaryContactIdName],
    [PrimaryContactIdYomiName],
    [ModifiedByExternalPartyName],
    [ModifiedByExternalPartyYomiName],
    [ModifiedOnBehalfByYomiName],
    [ModifiedOnBehalfByName],
    [MasterAccountIdYomiName],
    [MasterAccountIdName],
    [OriginatingLeadIdYomiName],
    [OriginatingLeadIdName],
    [ParentAccountIdName],
    [ParentAccountIdYomiName],
    [CreatedOnBehalfByName],
    [CreatedOnBehalfByYomiName],
    [ModifiedByName],
    [ModifiedByYomiName],
    [SLAInvokedIdName],
    [PreferredServiceIdName],
    [TransactionCurrencyIdName],
    [TerritoryIdName],
    [DefaultPriceLevelIdName],
    [PreferredSystemUserIdYomiName],
    [PreferredSystemUserIdName],
    [SLAName],

    -- linked address entities
    [Address1_AddressTypeCode],
    [Address1_City],
    [Address1_Composite],
    [Address1_Country],
    [Address1_County],
    [Address1_AddressId],
    [Address1_Fax],
    [Address1_FreightTermsCode],
    [Address1_Latitude],
    [Address1_Line1],
    [Address1_Line2],
    [Address1_Line3],
    [Address1_Longitude],
    [Address1_Name],
    [Address1_PostalCode],
    [Address1_PostOfficeBox],
    [Address1_PrimaryContactName],
    [Address1_ShippingMethodCode],
    [Address1_StateOrProvince],
    [Address1_Telephone1],
    [Address1_Telephone2],
    [Address1_Telephone3],
    [Address1_UPSZone],
    [Address1_UTCOffset],

    [Address2_AddressTypeCode],
    [Address2_City],
    [Address2_Composite],
    [Address2_Country],
    [Address2_County],
    [Address2_AddressId],
    [Address2_Fax],
    [Address2_FreightTermsCode],
    [Address2_Latitude],
    [Address2_Line1],
    [Address2_Line2],
    [Address2_Line3],
    [Address2_Longitude],
    [Address2_Name],
    [Address2_PostalCode],
    [Address2_PostOfficeBox],
    [Address2_PrimaryContactName],
    [Address2_ShippingMethodCode],
    [Address2_StateOrProvince],
    [Address2_Telephone1],
    [Address2_Telephone2],
    [Address2_Telephone3],
    [Address2_UPSZone],
    [Address2_UTCOffset],

    -- ownership entries
    OwnerId,
    OwnerIdName,
    OwnerIdYomiName,
    OwnerIdDsc,
    OwnerIdType,
    OwningUser,
    OwningTeam,

    -- physical attributes
    [AccountId],
    [AccountCategoryCode],
    [TerritoryId],
    [DefaultPriceLevelId],
    [CustomerSizeCode],
    [PreferredContactMethodCode],
    [CustomerTypeCode],
    [AccountRatingCode],
    [IndustryCode],
    [TerritoryCode],
    [AccountClassificationCode],
    [BusinessTypeCode],
    [OwningBusinessUnit],
    [TraversedPath],
    [OriginatingLeadId],
    [PaymentTermsCode],
    [ShippingMethodCode],
    [PrimaryContactId],
    [ParticipatesInWorkflow],
    [Name],
    [AccountNumber],
    [Revenue],
    [NumberOfEmployees],
    [Description],
    [SIC],
    [OwnershipCode],
    [MarketCap],
    [SharesOutstanding],
    [TickerSymbol],
    [StockExchange],
    [WebSiteURL],
    [FtpSiteURL],
    [EMailAddress1],
    [EMailAddress2],
    [EMailAddress3],
    [DoNotPhone],
    [DoNotFax],
    [Telephone1],
    [DoNotEMail],
    [Telephone2],
    [Fax],
    [Telephone3],
    [DoNotPostalMail],
    [DoNotBulkEMail],
    [DoNotBulkPostalMail],
    [CreditLimit],
    [CreditOnHold],
    [IsPrivate],
    [CreatedOn],
    [CreatedBy],
    [ModifiedOn],
    [ModifiedBy],
    [VersionNumber],
    [ParentAccountId],
    [Aging30],
    [StateCode],
    [Aging60],
    [StatusCode],
    [Aging90],
    [PreferredAppointmentDayCode],
    [PreferredSystemUserId],
    [PreferredAppointmentTimeCode],
    [Merged],
    [DoNotSendMM],
    [MasterId],
    [LastUsedInCampaign],
    [PreferredServiceId],
    [PreferredEquipmentId],
    [ExchangeRate],
    [UTCConversionTimeZoneCode],
    [OverriddenCreatedOn],
    [TimeZoneRuleVersionNumber],
    [ImportSequenceNumber],
    [TransactionCurrencyId],
    [CreditLimit_Base],
    [Aging30_Base],
    [Revenue_Base],
    [Aging90_Base],
    [MarketCap_Base],
    [Aging60_Base],
    [YomiName],
    [CreatedOnBehalfBy],
    [ModifiedOnBehalfBy],
    [StageId],
    [ProcessId],
    [EntityImageId],
    [OpenDeals],
    [OpenDeals_Date],
    [OpenDeals_State],
    [TimeSpentByMeOnEmailAndMeetings],
    [OpenRevenue],
    [OpenRevenue_Base],
    [OpenRevenue_Date],
    [OpenRevenue_State],
    [CreatedByExternalParty],
    [ModifiedByExternalParty],
    [PrimarySatoriId],
    [PrimaryTwitterId],
    [SLAId],
    [SLAInvokedId],
    [OnHoldTime],
    [LastOnHoldTime],
    [FollowEmail],
    [MarketingOnly]
) with view_metadata as
select
    -- logical attributes
    [equipment_accounts].[Name],
    [lk_accountbase_createdby].[YomiFullName],
    [lk_accountbase_createdby].[FullName],
    [lk_externalparty_account_createdby].[YomiFullName],
    [lk_externalparty_account_createdby].[FullName],
    [lk_account_entityimage].[ImageTimestamp],
    [lk_account_entityimage].[ImageURL],
    [lk_account_entityimage].[ImageData],
    [account_primary_contact].[FullName],
    [account_primary_contact].[YomiFullName],
    [lk_externalparty_account_modifiedby].[FullName],
    [lk_externalparty_account_modifiedby].[YomiFullName],
    [lk_accountbase_modifiedonbehalfby].[YomiFullName],
    [lk_accountbase_modifiedonbehalfby].[FullName],
    [account_master_account].[YomiName],
    [account_master_account].[Name],
    [account_originating_lead].[YomiFullName],
    [account_originating_lead].[FullName],
    [account_parent_account].[Name],
    [account_parent_account].[YomiName],
    [lk_accountbase_createdonbehalfby].[FullName],
    [lk_accountbase_createdonbehalfby].[YomiFullName],
    [lk_accountbase_modifiedby].[FullName],
    [lk_accountbase_modifiedby].[YomiFullName],
    [sla_account].[Name],
    [service_accounts].[Name],
    [transactioncurrency_account].[CurrencyName],
    [territory_accounts].[Name],
    [price_level_accounts].[Name],
    [system_user_accounts].[YomiFullName],
    [system_user_accounts].[FullName],
    [manualsla_account].[Name],

    -- linked address entities
    [XXaddress1].[AddressTypeCode],
    [XXaddress1].[City],
    [XXaddress1].[Composite],
    [XXaddress1].[Country],
    [XXaddress1].[County],
    [XXaddress1].[CustomerAddressId],
    [XXaddress1].[Fax],
    [XXaddress1].[FreightTermsCode],
    [XXaddress1].[Latitude],
    [XXaddress1].[Line1],
    [XXaddress1].[Line2],
    [XXaddress1].[Line3],
    [XXaddress1].[Longitude],
    [XXaddress1].[Name],
    [XXaddress1].[PostalCode],
    [XXaddress1].[PostOfficeBox],
    [XXaddress1].[PrimaryContactName],
    [XXaddress1].[ShippingMethodCode],
    [XXaddress1].[StateOrProvince],
    [XXaddress1].[Telephone1],
    [XXaddress1].[Telephone2],
    [XXaddress1].[Telephone3],
    [XXaddress1].[UPSZone],
    [XXaddress1].[UTCOffset],
    [XXaddress2].[AddressTypeCode],
    [XXaddress2].[City],
    [XXaddress2].[Composite],
    [XXaddress2].[Country],
    [XXaddress2].[County],
    [XXaddress2].[CustomerAddressId],
    [XXaddress2].[Fax],
    [XXaddress2].[FreightTermsCode],
    [XXaddress2].[Latitude],
    [XXaddress2].[Line1],
    [XXaddress2].[Line2],
    [XXaddress2].[Line3],
    [XXaddress2].[Longitude],
    [XXaddress2].[Name],
    [XXaddress2].[PostalCode],
    [XXaddress2].[PostOfficeBox],
    [XXaddress2].[PrimaryContactName],
    [XXaddress2].[ShippingMethodCode],
    [XXaddress2].[StateOrProvince],
    [XXaddress2].[Telephone1],
    [XXaddress2].[Telephone2],
    [XXaddress2].[Telephone3],
    [XXaddress2].[UPSZone],
    [XXaddress2].[UTCOffset],
    -- ownership entries
    OwnerId = [AccountBase].OwnerId,
    OwnerName = XXowner.Name,
    OwnerYomiName =  XXowner.YomiName,
    OwnerDsc = 0, -- DSC is removed, stub it to 0
    OwnerIdType = XXowner.OwnerIdType,
    OwningUser = case 
 		when XXowner.OwnerIdType= 8 then XXowner.OwnerId
		else null
		end,
    OwningTeam = case 
 		when XXowner.OwnerIdType= 9 then XXowner.OwnerId
		else null
		end,

    -- physical attribute
    [AccountBase].[AccountId],
    [AccountBase].[AccountCategoryCode],
    [AccountBase].[TerritoryId],
    [AccountBase].[DefaultPriceLevelId],
    [AccountBase].[CustomerSizeCode],
    [AccountBase].[PreferredContactMethodCode],
    [AccountBase].[CustomerTypeCode],
    [AccountBase].[AccountRatingCode],
    [AccountBase].[IndustryCode],
    [AccountBase].[TerritoryCode],
    [AccountBase].[AccountClassificationCode],
    [AccountBase].[BusinessTypeCode],
    [AccountBase].[OwningBusinessUnit],
    [AccountBase].[TraversedPath],
    [AccountBase].[OriginatingLeadId],
    [AccountBase].[PaymentTermsCode],
    [AccountBase].[ShippingMethodCode],
    [AccountBase].[PrimaryContactId],
    [AccountBase].[ParticipatesInWorkflow],
    [AccountBase].[Name],
    [AccountBase].[AccountNumber],
    [AccountBase].[Revenue],
    [AccountBase].[NumberOfEmployees],
    [AccountBase].[Description],
    [AccountBase].[SIC],
    [AccountBase].[OwnershipCode],
    [AccountBase].[MarketCap],
    [AccountBase].[SharesOutstanding],
    [AccountBase].[TickerSymbol],
    [AccountBase].[StockExchange],
    [AccountBase].[WebSiteURL],
    [AccountBase].[FtpSiteURL],
    [AccountBase].[EMailAddress1],
    [AccountBase].[EMailAddress2],
    [AccountBase].[EMailAddress3],
    [AccountBase].[DoNotPhone],
    [AccountBase].[DoNotFax],
    [AccountBase].[Telephone1],
    [AccountBase].[DoNotEMail],
    [AccountBase].[Telephone2],
    [AccountBase].[Fax],
    [AccountBase].[Telephone3],
    [AccountBase].[DoNotPostalMail],
    [AccountBase].[DoNotBulkEMail],
    [AccountBase].[DoNotBulkPostalMail],
    [AccountBase].[CreditLimit],
    [AccountBase].[CreditOnHold],
    [AccountBase].[IsPrivate],
    [AccountBase].[CreatedOn],
    [AccountBase].[CreatedBy],
    [AccountBase].[ModifiedOn],
    [AccountBase].[ModifiedBy],
    [AccountBase].[VersionNumber],
    [AccountBase].[ParentAccountId],
    [AccountBase].[Aging30],
    [AccountBase].[StateCode],
    [AccountBase].[Aging60],
    [AccountBase].[StatusCode],
    [AccountBase].[Aging90],
    [AccountBase].[PreferredAppointmentDayCode],
    [AccountBase].[PreferredSystemUserId],
    [AccountBase].[PreferredAppointmentTimeCode],
    [AccountBase].[Merged],
    [AccountBase].[DoNotSendMM],
    [AccountBase].[MasterId],
    [AccountBase].[LastUsedInCampaign],
    [AccountBase].[PreferredServiceId],
    [AccountBase].[PreferredEquipmentId],
    [AccountBase].[ExchangeRate],
    [AccountBase].[UTCConversionTimeZoneCode],
    [AccountBase].[OverriddenCreatedOn],
    [AccountBase].[TimeZoneRuleVersionNumber],
    [AccountBase].[ImportSequenceNumber],
    [AccountBase].[TransactionCurrencyId],
    [AccountBase].[CreditLimit_Base],
    [AccountBase].[Aging30_Base],
    [AccountBase].[Revenue_Base],
    [AccountBase].[Aging90_Base],
    [AccountBase].[MarketCap_Base],
    [AccountBase].[Aging60_Base],
    [AccountBase].[YomiName],
    [AccountBase].[CreatedOnBehalfBy],
    [AccountBase].[ModifiedOnBehalfBy],
    [AccountBase].[StageId],
    [AccountBase].[ProcessId],
    [AccountBase].[EntityImageId],
    [AccountBase].[OpenDeals],
    [AccountBase].[OpenDeals_Date],
    [AccountBase].[OpenDeals_State],
    [AccountBase].[TimeSpentByMeOnEmailAndMeetings],
    [AccountBase].[OpenRevenue],
    [AccountBase].[OpenRevenue_Base],
    [AccountBase].[OpenRevenue_Date],
    [AccountBase].[OpenRevenue_State],
    [AccountBase].[CreatedByExternalParty],
    [AccountBase].[ModifiedByExternalParty],
    [AccountBase].[PrimarySatoriId],
    [AccountBase].[PrimaryTwitterId],
    [AccountBase].[SLAId],
    [AccountBase].[SLAInvokedId],
    [AccountBase].[OnHoldTime],
    [AccountBase].[LastOnHoldTime],
    [AccountBase].[FollowEmail],
    [AccountBase].[MarketingOnly]
from [AccountBase] 
    left join [CustomerAddressBase] XXaddress1 on ([AccountBase].[AccountId] = XXaddress1.ParentId and XXaddress1.AddressNumber = 1)
    left join [CustomerAddressBase] XXaddress2 on ([AccountBase].[AccountId] = XXaddress2.ParentId and XXaddress2.AddressNumber = 2)
    left join [AccountBase] [account_master_account] on ([AccountBase].[MasterId] = [account_master_account].[AccountId])
    left join [LeadBase] [account_originating_lead] on ([AccountBase].[OriginatingLeadId] = [account_originating_lead].[LeadId])
    left join [AccountBase] [account_parent_account] on ([AccountBase].[ParentAccountId] = [account_parent_account].[AccountId])
    left join [ContactBase] [account_primary_contact] on ([AccountBase].[PrimaryContactId] = [account_primary_contact].[ContactId])
    left join [EquipmentBase] [equipment_accounts] on ([AccountBase].[PreferredEquipmentId] = [equipment_accounts].[EquipmentId])
    left join [ImageDescriptor] [lk_account_entityimage] on ([AccountBase].[EntityImageId] = [lk_account_entityimage].[ImageDescriptorId])
    left join [SystemUserBase] [lk_accountbase_createdby] with(nolock) on ([AccountBase].[CreatedBy] = [lk_accountbase_createdby].[SystemUserId])
    left join [SystemUserBase] [lk_accountbase_createdonbehalfby] with(nolock) on ([AccountBase].[CreatedOnBehalfBy] = [lk_accountbase_createdonbehalfby].[SystemUserId])
    left join [SystemUserBase] [lk_accountbase_modifiedby] with(nolock) on ([AccountBase].[ModifiedBy] = [lk_accountbase_modifiedby].[SystemUserId])
    left join [SystemUserBase] [lk_accountbase_modifiedonbehalfby] with(nolock) on ([AccountBase].[ModifiedOnBehalfBy] = [lk_accountbase_modifiedonbehalfby].[SystemUserId])
    left join [ExternalPartyBase] [lk_externalparty_account_createdby] on ([AccountBase].[CreatedByExternalParty] = [lk_externalparty_account_createdby].[ExternalPartyId])
    left join [ExternalPartyBase] [lk_externalparty_account_modifiedby] on ([AccountBase].[ModifiedByExternalParty] = [lk_externalparty_account_modifiedby].[ExternalPartyId])
    left join [SLABase] [manualsla_account] on ([AccountBase].[SLAId] = [manualsla_account].[SLAId] and [manualsla_account].OverwriteTime = 0 and [manualsla_account].ComponentState = 0)
    left join [PriceLevelBase] [price_level_accounts] on ([AccountBase].[DefaultPriceLevelId] = [price_level_accounts].[PriceLevelId])
    left join [ServiceBase] [service_accounts] on ([AccountBase].[PreferredServiceId] = [service_accounts].[ServiceId])
    left join [SLABase] [sla_account] on ([AccountBase].[SLAInvokedId] = [sla_account].[SLAId] and [sla_account].OverwriteTime = 0 and [sla_account].ComponentState = 0)
    left join [SystemUserBase] [system_user_accounts] with(nolock) on ([AccountBase].[PreferredSystemUserId] = [system_user_accounts].[SystemUserId])
    left join [TerritoryBase] [territory_accounts] on ([AccountBase].[TerritoryId] = [territory_accounts].[TerritoryId])
    left join [TransactionCurrencyBase] [transactioncurrency_account] on ([AccountBase].[TransactionCurrencyId] = [transactioncurrency_account].[TransactionCurrencyId])
    left join OwnerBase XXowner with(nolock) on ([AccountBase].OwnerId = XXowner.OwnerId)

GO
