USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[SdkMessageResponseBase]    Script Date: 4/10/2017 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SdkMessageResponseBase](
	[VersionNumber] [timestamp] NULL,
	[SdkMessageResponseIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_SdkMessageResponseBase_SdkMessageResponseIdUnique]  DEFAULT (newid()),
	[ModifiedBy] [uniqueidentifier] NULL,
	[CustomizationLevel] [int] NOT NULL CONSTRAINT [DF_SdkMessageResponseBase_CustomizationLevel]  DEFAULT ((0)),
	[SdkMessageRequestId] [uniqueidentifier] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[SdkMessageResponseId] [uniqueidentifier] NOT NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
 CONSTRAINT [cndx_PrimaryKey_SdkMessageResponse] PRIMARY KEY CLUSTERED 
(
	[SdkMessageResponseId] ASC,
	[CustomizationLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [UQ_SdkMessageResponseBase_SdkMessageResponseIdUnique]    Script Date: 4/10/2017 9:59:57 PM ******/
ALTER TABLE [dbo].[SdkMessageResponseBase] ADD  CONSTRAINT [UQ_SdkMessageResponseBase_SdkMessageResponseIdUnique] UNIQUE NONCLUSTERED 
(
	[SdkMessageResponseIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[SdkMessageResponseBase]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SdkMessageResponseBase]  WITH CHECK ADD  CONSTRAINT [createdby_sdkmessageresponse] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[SystemUserBase] ([SystemUserId])
GO
ALTER TABLE [dbo].[SdkMessageResponseBase] CHECK CONSTRAINT [createdby_sdkmessageresponse]
GO
ALTER TABLE [dbo].[SdkMessageResponseBase]  WITH CHECK ADD  CONSTRAINT [createdonbehalfby_sdkmessageresponse] FOREIGN KEY([CreatedOnBehalfBy])
REFERENCES [dbo].[SystemUserBase] ([SystemUserId])
GO
ALTER TABLE [dbo].[SdkMessageResponseBase] CHECK CONSTRAINT [createdonbehalfby_sdkmessageresponse]
GO
ALTER TABLE [dbo].[SdkMessageResponseBase]  WITH CHECK ADD  CONSTRAINT [messagerequest_sdkmessageresponse] FOREIGN KEY([SdkMessageRequestId])
REFERENCES [dbo].[SdkMessageRequestBaseIds] ([SdkMessageRequestId])
GO
ALTER TABLE [dbo].[SdkMessageResponseBase] CHECK CONSTRAINT [messagerequest_sdkmessageresponse]
GO
ALTER TABLE [dbo].[SdkMessageResponseBase]  WITH CHECK ADD  CONSTRAINT [modifiedby_sdkmessageresponse] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[SystemUserBase] ([SystemUserId])
GO
ALTER TABLE [dbo].[SdkMessageResponseBase] CHECK CONSTRAINT [modifiedby_sdkmessageresponse]
GO
ALTER TABLE [dbo].[SdkMessageResponseBase]  WITH CHECK ADD  CONSTRAINT [modifiedonbehalfby_sdkmessageresponse] FOREIGN KEY([ModifiedOnBehalfBy])
REFERENCES [dbo].[SystemUserBase] ([SystemUserId])
GO
ALTER TABLE [dbo].[SdkMessageResponseBase] CHECK CONSTRAINT [modifiedonbehalfby_sdkmessageresponse]
GO
