USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[Rollup_Bootstrap_Markers_e10cdd445c7f4ac8a5d1b2118926f2bd]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rollup_Bootstrap_Markers_e10cdd445c7f4ac8a5d1b2118926f2bd](
	[Id] [int] NULL,
	[Start] [int] NULL,
	[End] [int] NULL
) ON [PRIMARY]

GO
