USE [D365_MSCRM]
GO
/****** Object:  View [dbo].[Organization]    Script Date: 4/10/2017 9:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--
-- base view for Organization
--
create view [dbo].[Organization]
 (
    -- logical attributes
    [ModifiedByYomiName],
    [ModifiedByName],
    [DefaultEmailServerProfileIdName],
    [CreatedByYomiName],
    [CreatedByName],
    [ModifiedOnBehalfByYomiName],
    [ModifiedOnBehalfByName],
    [CreatedOnBehalfByYomiName],
    [CreatedOnBehalfByName],
    [DefaultMobileOfflineProfileIdName],
    [BaseCurrencyIdName],
    [EntityImage_URL],
    [EntityImage],
    [EntityImage_Timestamp],
    [AcknowledgementTemplateIdName],

    -- physical attributes
    [OrganizationId],
    [Name],
    [UserGroupId],
    [PrivilegeUserGroupId],
    [RecurrenceExpansionJobBatchSize],
    [RecurrenceExpansionJobBatchInterval],
    [FiscalPeriodType],
    [FiscalCalendarStart],
    [DateFormatCode],
    [TimeFormatCode],
    [CurrencySymbol],
    [WeekStartDayCode],
    [DateSeparator],
    [FullNameConventionCode],
    [NegativeFormatCode],
    [NumberFormat],
    [IsDisabled],
    [DisabledReason],
    [KbPrefix],
    [CurrentKbNumber],
    [CasePrefix],
    [CurrentCaseNumber],
    [ContractPrefix],
    [CurrentContractNumber],
    [QuotePrefix],
    [CurrentQuoteNumber],
    [OrderPrefix],
    [CurrentOrderNumber],
    [InvoicePrefix],
    [CurrentInvoiceNumber],
    [UniqueSpecifierLength],
    [CreatedOn],
    [ModifiedOn],
    [FiscalYearFormat],
    [FiscalPeriodFormat],
    [FiscalYearPeriodConnect],
    [LanguageCode],
    [SortId],
    [DateFormatString],
    [TimeFormatString],
    [PricingDecimalPrecision],
    [ShowWeekNumber],
    [NextTrackingNumber],
    [TagMaxAggressiveCycles],
    [TokenKey],
    [SystemUserId],
    [CreatedBy],
    [GrantAccessToNetworkService],
    [AllowOutlookScheduledSyncs],
    [AllowMarketingEmailExecution],
    [SqlAccessGroupId],
    [CurrencyFormatCode],
    [FiscalSettingsUpdated],
    [ReportingGroupId],
    [TokenExpiry],
    [ShareToPreviousOwnerOnAssign],
    [AcknowledgementTemplateId],
    [ModifiedBy],
    [IntegrationUserId],
    [TrackingTokenIdBase],
    [BusinessClosureCalendarId],
    [AllowAutoUnsubscribeAcknowledgement],
    [AllowAutoUnsubscribe],
    [Picture],
    [VersionNumber],
    [TrackingPrefix],
    [MinOutlookSyncInterval],
    [BulkOperationPrefix],
    [AllowAutoResponseCreation],
    [MaximumTrackingNumber],
    [CampaignPrefix],
    [SqlAccessGroupName],
    [CurrentCampaignNumber],
    [FiscalYearDisplayCode],
    [SiteMapXml],
    [IsRegistered],
    [ReportingGroupName],
    [CurrentBulkOperationNumber],
    [SchemaNamePrefix],
    [IgnoreInternalEmail],
    [TagPollingPeriod],
    [TrackingTokenIdDigits],
    [NumberGroupFormat],
    [LongDateFormatCode],
    [UTCConversionTimeZoneCode],
    [TimeZoneRuleVersionNumber],
    [CurrentImportSequenceNumber],
    [ParsedTablePrefix],
    [V3CalloutConfigHash],
    [IsFiscalPeriodMonthBased],
    [LocaleId],
    [ParsedTableColumnPrefix],
    [SupportUserId],
    [AMDesignator],
    [CurrencyDisplayOption],
    [MinAddressBookSyncInterval],
    [IsDuplicateDetectionEnabledForOnlineCreateUpdate],
    [FeatureSet],
    [BlockedAttachments],
    [IsDuplicateDetectionEnabledForOfflineSync],
    [AllowOfflineScheduledSyncs],
    [AllowUnresolvedPartiesOnEmailSend],
    [TimeSeparator],
    [CurrentParsedTableNumber],
    [MinOfflineSyncInterval],
    [AllowWebExcelExport],
    [ReferenceSiteMapXml],
    [IsDuplicateDetectionEnabledForImport],
    [CalendarType],
    [SQMEnabled],
    [NegativeCurrencyFormatCode],
    [AllowAddressBookSyncs],
    [ISVIntegrationCode],
    [DecimalSymbol],
    [MaxUploadFileSize],
    [IsAppMode],
    [EnablePricingOnCreate],
    [IsSOPIntegrationEnabled],
    [PMDesignator],
    [CurrencyDecimalPrecision],
    [MaxAppointmentDurationDays],
    [EmailSendPollingPeriod],
    [RenderSecureIFrameForEmail],
    [NumberSeparator],
    [PrivReportingGroupId],
    [BaseCurrencyId],
    [MaxRecordsForExportToExcel],
    [PrivReportingGroupName],
    [YearStartWeekCode],
    [IsPresenceEnabled],
    [IsDuplicateDetectionEnabled],
    [ExpireSubscriptionsInDays],
    [IsAuditEnabled],
    [BaseCurrencyPrecision],
    [BaseCurrencySymbol],
    [BaseISOCurrencyCode],
    [NextCustomObjectTypeCode],
    [MaxRecordsForLookupFilters],
    [AllowEntityOnlyAudit],
    [DefaultRecurrenceEndRangeType],
    [FutureExpansionWindow],
    [PastExpansionWindow],
    [RecurrenceExpansionSynchCreateMax],
    [RecurrenceDefaultNumberOfOccurrences],
    [CreatedOnBehalfBy],
    [ModifiedOnBehalfBy],
    [GetStartedPaneContentEnabled],
    [UseReadForm],
    [InitialVersion],
    [SampleDataImportId],
    [ReportScriptErrors],
    [RequireApprovalForUserEmail],
    [RequireApprovalForQueueEmail],
    [GoalRollupExpiryTime],
    [GoalRollupFrequency],
    [AutoApplyDefaultonCaseCreate],
    [AutoApplyDefaultonCaseUpdate],
    [FiscalYearFormatPrefix],
    [FiscalYearFormatSuffix],
    [FiscalYearFormatYear],
    [DiscountCalculationMethod],
    [FiscalPeriodFormatPeriod],
    [AllowClientMessageBarAd],
    [AllowUserFormModePreference],
    [HashFilterKeywords],
    [HashMaxCount],
    [HashDeltaSubjectCount],
    [HashMinAddressCount],
    [EnableSmartMatching],
    [PinpointLanguageCode],
    [OrgDbOrgSettings],
    [IsUserAccessAuditEnabled],
    [UserAccessAuditingInterval],
    [QuickFindRecordLimitEnabled],
    [EnableBingMapsIntegration],
    [IsDefaultCountryCodeCheckEnabled],
    [DefaultCountryCode],
    [UseSkypeProtocol],
    [IncomingEmailExchangeEmailRetrievalBatchSize],
    [EmailCorrelationEnabled],
    [MetadataSyncTimestamp],
    [MetadataSyncLastTimeOfNeverExpiredDeletedObjects],
    [YammerOAuthAccessTokenExpired],
    [DefaultEmailSettings],
    [YammerGroupId],
    [YammerNetworkPermalink],
    [YammerPostMethod],
    [EmailConnectionChannel],
    [DefaultEmailServerProfileId],
    [IsAutoSaveEnabled],
    [BingMapsApiKey],
    [GenerateAlertsForErrors],
    [GenerateAlertsForInformation],
    [GenerateAlertsForWarnings],
    [NotifyMailboxOwnerOfEmailServerLevelAlerts],
    [MaximumActiveBusinessProcessFlowsAllowedPerEntity],
    [EntityImageId],
    [AllowUsersSeeAppdownloadMessage],
    [SignupOutlookDownloadFWLink],
    [CascadeStatusUpdate],
    [RestrictStatusUpdate],
    [SuppressSLA],
    [SocialInsightsTermsAccepted],
    [SocialInsightsInstance],
    [DisableSocialCare],
    [MaxProductsInBundle],
    [UseInbuiltRuleForDefaultPricelistSelection],
    [OOBPriceCalculationEnabled],
    [IsHierarchicalSecurityModelEnabled],
    [MaximumDynamicPropertiesAllowed],
    [UsePositionHierarchy],
    [MaxDepthForHierarchicalSecurityModel],
    [SlaPauseStates],
    [SocialInsightsEnabled],
    [IsAppointmentAttachmentSyncEnabled],
    [IsAssignedTasksSyncEnabled],
    [IsContactMailingAddressSyncEnabled],
    [MaxSupportedInternetExplorerVersion],
    [GlobalHelpUrl],
    [GlobalHelpUrlEnabled],
    [GlobalAppendUrlParametersEnabled],
    [KMSettings],
    [CreateProductsWithoutParentInActiveState],
    [IsMailboxInactiveBackoffEnabled],
    [IsFullTextSearchEnabled],
    [EnforceReadOnlyPlugins],
    [SharePointDeploymentType],
    [DefaultThemeData],
    [IsFolderBasedTrackingEnabled],
    [WebResourceHash],
    [ExpireChangeTrackingInDays],
    [MaxFolderBasedTrackingMappings],
    [PrivacyStatementUrl],
    [PluginTraceLogSetting],
    [IsMailboxForcedUnlockingEnabled],
    [MailboxIntermittentIssueMinRange],
    [MailboxPermanentIssueMinRange],
    [HighContrastThemeData],
    [DelegatedAdminUserId],
    [IsExternalSearchIndexEnabled],
    [IsMobileOfflineEnabled],
    [IsOfficeGraphEnabled],
    [IsOneDriveEnabled],
    [ExternalPartyEntitySettings],
    [ExternalPartyCorrelationKeys],
    [MaxVerboseLoggingMailbox],
    [MaxVerboseLoggingSyncCycles],
    [MobileOfflineSyncInterval],
    [OfficeGraphDelveUrl],
    [MobileOfflineMinLicenseTrial],
    [MobileOfflineMinLicenseProd],
    [DaysSinceRecordLastModifiedMaxValue],
    [TaskBasedFlowEnabled],
    [ShowKBArticleDeprecationNotification],
    [AzureSchedulerJobCollectionName],
    [CortanaProactiveExperienceEnabled],
    [OfficeAppsAutoDeploymentEnabled],
    [AppDesignerExperienceEnabled],
    [AutoApplySLA],
    [IsEmailServerProfileContentFilteringEnabled],
    [IsDelegateAccessEnabled],
    [DisplayNavigationTour],
    [UseLegacyRendering],
    [DefaultMobileOfflineProfileId],
    [KaPrefix],
    [CurrentKaNumber],
    [CurrentCategoryNumber],
    [CategoryPrefix],
    [MaximumEntitiesWithActiveSLA],
    [MaximumSLAKPIPerEntityWithActiveSLA],
    [IsConflictDetectionEnabledForMobileClient],
    [IsDelveActionHubIntegrationEnabled],
    [OrgInsightsEnabled],
    [ProductRecommendationsEnabled],
    [TextAnalyticsEnabled],
    [MaxConditionsForMobileOfflineFilters],
    [IsFolderAutoCreatedonSP],
    [PowerBiFeatureEnabled],
    [IsActionCardEnabled],
    [IsEmailMonitoringAllowed],
    [IsActivityAnalysisEnabled],
    [IsAutoDataCaptureEnabled],
    [ExternalBaseUrl],
    [IsPreviewEnabledForActionCard],
    [IsPreviewForEmailMonitoringAllowed],
    [UnresolveEmailAddressIfMultipleMatch],
    [RiErrorStatus],
    [WidgetProperties],
    [EnableMicrosoftFlowIntegration],
    [IsEnabledForAllRoles],
    [IsPreviewForAutoCaptureEnabled],
    [DefaultCrmCustomName],
    [ACIWebEndpointUrl],
    [EnableLPAuthoring],
    [IsResourceBookingExchangeSyncEnabled],
    [IsMobileClientOnDemandSyncEnabled],
    [PostMessageWhitelistDomains],
    [IsRelationshipInsightsEnabled]
) with view_metadata as
select
    -- logical attributes
    [lk_organizationbase_modifiedby].[YomiFullName],
    [lk_organizationbase_modifiedby].[FullName],
    [EmailServerProfile_Organization].[Name],
    [lk_organizationbase_createdby].[YomiFullName],
    [lk_organizationbase_createdby].[FullName],
    [lk_organizationbase_modifiedonbehalfby].[YomiFullName],
    [lk_organizationbase_modifiedonbehalfby].[FullName],
    [lk_organizationbase_createdonbehalfby].[YomiFullName],
    [lk_organizationbase_createdonbehalfby].[FullName],
    [DefaultMobileOfflineProfile_Organization].[Name],
    [basecurrency_organization].[CurrencyName],
    [lk_organization_entityimage].[ImageURL],
    [lk_organization_entityimage].[ImageData],
    [lk_organization_entityimage].[ImageTimestamp],
    [Template_Organization].[Title],

    -- physical attribute
    [OrganizationBase].[OrganizationId],
    [OrganizationBase].[Name],
    [OrganizationBase].[UserGroupId],
    [OrganizationBase].[PrivilegeUserGroupId],
    [OrganizationBase].[RecurrenceExpansionJobBatchSize],
    [OrganizationBase].[RecurrenceExpansionJobBatchInterval],
    [OrganizationBase].[FiscalPeriodType],
    [OrganizationBase].[FiscalCalendarStart],
    [OrganizationBase].[DateFormatCode],
    [OrganizationBase].[TimeFormatCode],
    [OrganizationBase].[CurrencySymbol],
    [OrganizationBase].[WeekStartDayCode],
    [OrganizationBase].[DateSeparator],
    [OrganizationBase].[FullNameConventionCode],
    [OrganizationBase].[NegativeFormatCode],
    [OrganizationBase].[NumberFormat],
    [OrganizationBase].[IsDisabled],
    [OrganizationBase].[DisabledReason],
    [OrganizationBase].[KbPrefix],
    [OrganizationBase].[CurrentKbNumber],
    [OrganizationBase].[CasePrefix],
    (SELECT CAST(current_value as int) + 1 FROM sys.sequences WHERE name = 'SO_currentcasenumber') as [CurrentCaseNumber],
    [OrganizationBase].[ContractPrefix],
    [OrganizationBase].[CurrentContractNumber],
    [OrganizationBase].[QuotePrefix],
    [OrganizationBase].[CurrentQuoteNumber],
    [OrganizationBase].[OrderPrefix],
    [OrganizationBase].[CurrentOrderNumber],
    [OrganizationBase].[InvoicePrefix],
    [OrganizationBase].[CurrentInvoiceNumber],
    [OrganizationBase].[UniqueSpecifierLength],
    [OrganizationBase].[CreatedOn],
    [OrganizationBase].[ModifiedOn],
    [OrganizationBase].[FiscalYearFormat],
    [OrganizationBase].[FiscalPeriodFormat],
    [OrganizationBase].[FiscalYearPeriodConnect],
    [OrganizationBase].[LanguageCode],
    [OrganizationBase].[SortId],
    [OrganizationBase].[DateFormatString],
    [OrganizationBase].[TimeFormatString],
    [OrganizationBase].[PricingDecimalPrecision],
    [OrganizationBase].[ShowWeekNumber],
 
CASE 
WHEN (SELECT CAST(current_value as int) FROM sys.sequences WHERE name = 'SO_NextEmailTrackingNumber') < MaximumTrackingNumber THEN  (SELECT CAST(current_value as int) + 1 FROM sys.sequences WHERE name = 'SO_NextEmailTrackingNumber') 
ELSE 0
END as [NextTrackingNumber],    [OrganizationBase].[TagMaxAggressiveCycles],
    [OrganizationBase].[TokenKey],
    [OrganizationBase].[SystemUserId],
    [OrganizationBase].[CreatedBy],
    [OrganizationBase].[GrantAccessToNetworkService],
    [OrganizationBase].[AllowOutlookScheduledSyncs],
    [OrganizationBase].[AllowMarketingEmailExecution],
    [OrganizationBase].[SqlAccessGroupId],
    [OrganizationBase].[CurrencyFormatCode],
    [OrganizationBase].[FiscalSettingsUpdated],
    [OrganizationBase].[ReportingGroupId],
    [OrganizationBase].[TokenExpiry],
    [OrganizationBase].[ShareToPreviousOwnerOnAssign],
    [OrganizationBase].[AcknowledgementTemplateId],
    [OrganizationBase].[ModifiedBy],
    [OrganizationBase].[IntegrationUserId],
    [OrganizationBase].[TrackingTokenIdBase],
    [OrganizationBase].[BusinessClosureCalendarId],
    [OrganizationBase].[AllowAutoUnsubscribeAcknowledgement],
    [OrganizationBase].[AllowAutoUnsubscribe],
    [OrganizationBase].[Picture],
    [OrganizationBase].[VersionNumber],
    [OrganizationBase].[TrackingPrefix],
    [OrganizationBase].[MinOutlookSyncInterval],
    [OrganizationBase].[BulkOperationPrefix],
    [OrganizationBase].[AllowAutoResponseCreation],
    [OrganizationBase].[MaximumTrackingNumber],
    [OrganizationBase].[CampaignPrefix],
    [OrganizationBase].[SqlAccessGroupName],
    [OrganizationBase].[CurrentCampaignNumber],
    [OrganizationBase].[FiscalYearDisplayCode],
    [OrganizationBase].[SiteMapXml],
    [OrganizationBase].[IsRegistered],
    [OrganizationBase].[ReportingGroupName],
    [OrganizationBase].[CurrentBulkOperationNumber],
    [OrganizationBase].[SchemaNamePrefix],
    [OrganizationBase].[IgnoreInternalEmail],
    [OrganizationBase].[TagPollingPeriod],
    [OrganizationBase].[TrackingTokenIdDigits],
    [OrganizationBase].[NumberGroupFormat],
    [OrganizationBase].[LongDateFormatCode],
    [OrganizationBase].[UTCConversionTimeZoneCode],
    [OrganizationBase].[TimeZoneRuleVersionNumber],
    [OrganizationBase].[CurrentImportSequenceNumber],
    [OrganizationBase].[ParsedTablePrefix],
    [OrganizationBase].[V3CalloutConfigHash],
    [OrganizationBase].[IsFiscalPeriodMonthBased],
    [OrganizationBase].[LocaleId],
    [OrganizationBase].[ParsedTableColumnPrefix],
    [OrganizationBase].[SupportUserId],
    [OrganizationBase].[AMDesignator],
    [OrganizationBase].[CurrencyDisplayOption],
    [OrganizationBase].[MinAddressBookSyncInterval],
    [OrganizationBase].[IsDuplicateDetectionEnabledForOnlineCreateUpdate],
    [OrganizationBase].[FeatureSet],
    [OrganizationBase].[BlockedAttachments],
    [OrganizationBase].[IsDuplicateDetectionEnabledForOfflineSync],
    [OrganizationBase].[AllowOfflineScheduledSyncs],
    [OrganizationBase].[AllowUnresolvedPartiesOnEmailSend],
    [OrganizationBase].[TimeSeparator],
    [OrganizationBase].[CurrentParsedTableNumber],
    [OrganizationBase].[MinOfflineSyncInterval],
    [OrganizationBase].[AllowWebExcelExport],
    [OrganizationBase].[ReferenceSiteMapXml],
    [OrganizationBase].[IsDuplicateDetectionEnabledForImport],
    [OrganizationBase].[CalendarType],
    [OrganizationBase].[SQMEnabled],
    [OrganizationBase].[NegativeCurrencyFormatCode],
    [OrganizationBase].[AllowAddressBookSyncs],
    [OrganizationBase].[ISVIntegrationCode],
    [OrganizationBase].[DecimalSymbol],
    [OrganizationBase].[MaxUploadFileSize],
    [OrganizationBase].[IsAppMode],
    [OrganizationBase].[EnablePricingOnCreate],
    [OrganizationBase].[IsSOPIntegrationEnabled],
    [OrganizationBase].[PMDesignator],
    [OrganizationBase].[CurrencyDecimalPrecision],
    [OrganizationBase].[MaxAppointmentDurationDays],
    [OrganizationBase].[EmailSendPollingPeriod],
    [OrganizationBase].[RenderSecureIFrameForEmail],
    [OrganizationBase].[NumberSeparator],
    [OrganizationBase].[PrivReportingGroupId],
    [OrganizationBase].[BaseCurrencyId],
    [OrganizationBase].[MaxRecordsForExportToExcel],
    [OrganizationBase].[PrivReportingGroupName],
    [OrganizationBase].[YearStartWeekCode],
    [OrganizationBase].[IsPresenceEnabled],
    [OrganizationBase].[IsDuplicateDetectionEnabled],
    [OrganizationBase].[ExpireSubscriptionsInDays],
    [OrganizationBase].[IsAuditEnabled],
    [OrganizationBase].[BaseCurrencyPrecision],
    [OrganizationBase].[BaseCurrencySymbol],
    [OrganizationBase].[BaseISOCurrencyCode],
    [OrganizationBase].[NextCustomObjectTypeCode],
    [OrganizationBase].[MaxRecordsForLookupFilters],
    [OrganizationBase].[AllowEntityOnlyAudit],
    [OrganizationBase].[DefaultRecurrenceEndRangeType],
    [OrganizationBase].[FutureExpansionWindow],
    [OrganizationBase].[PastExpansionWindow],
    [OrganizationBase].[RecurrenceExpansionSynchCreateMax],
    [OrganizationBase].[RecurrenceDefaultNumberOfOccurrences],
    [OrganizationBase].[CreatedOnBehalfBy],
    [OrganizationBase].[ModifiedOnBehalfBy],
    [OrganizationBase].[GetStartedPaneContentEnabled],
    [OrganizationBase].[UseReadForm],
    [OrganizationBase].[InitialVersion],
    [OrganizationBase].[SampleDataImportId],
    [OrganizationBase].[ReportScriptErrors],
    [OrganizationBase].[RequireApprovalForUserEmail],
    [OrganizationBase].[RequireApprovalForQueueEmail],
    [OrganizationBase].[GoalRollupExpiryTime],
    [OrganizationBase].[GoalRollupFrequency],
    [OrganizationBase].[AutoApplyDefaultonCaseCreate],
    [OrganizationBase].[AutoApplyDefaultonCaseUpdate],
    [OrganizationBase].[FiscalYearFormatPrefix],
    [OrganizationBase].[FiscalYearFormatSuffix],
    [OrganizationBase].[FiscalYearFormatYear],
    [OrganizationBase].[DiscountCalculationMethod],
    [OrganizationBase].[FiscalPeriodFormatPeriod],
    [OrganizationBase].[AllowClientMessageBarAd],
    [OrganizationBase].[AllowUserFormModePreference],
    [OrganizationBase].[HashFilterKeywords],
    [OrganizationBase].[HashMaxCount],
    [OrganizationBase].[HashDeltaSubjectCount],
    [OrganizationBase].[HashMinAddressCount],
    [OrganizationBase].[EnableSmartMatching],
    [OrganizationBase].[PinpointLanguageCode],
    [OrganizationBase].[OrgDbOrgSettings],
    [OrganizationBase].[IsUserAccessAuditEnabled],
    [OrganizationBase].[UserAccessAuditingInterval],
    [OrganizationBase].[QuickFindRecordLimitEnabled],
    [OrganizationBase].[EnableBingMapsIntegration],
    [OrganizationBase].[IsDefaultCountryCodeCheckEnabled],
    [OrganizationBase].[DefaultCountryCode],
    [OrganizationBase].[UseSkypeProtocol],
    [OrganizationBase].[IncomingEmailExchangeEmailRetrievalBatchSize],
    [OrganizationBase].[EmailCorrelationEnabled],
    [OrganizationBase].[MetadataSyncTimestamp],
    [OrganizationBase].[MetadataSyncLastTimeOfNeverExpiredDeletedObjects],
    [OrganizationBase].[YammerOAuthAccessTokenExpired],
    [OrganizationBase].[DefaultEmailSettings],
    [OrganizationBase].[YammerGroupId],
    [OrganizationBase].[YammerNetworkPermalink],
    [OrganizationBase].[YammerPostMethod],
    [OrganizationBase].[EmailConnectionChannel],
    [OrganizationBase].[DefaultEmailServerProfileId],
    [OrganizationBase].[IsAutoSaveEnabled],
    [OrganizationBase].[BingMapsApiKey],
    [OrganizationBase].[GenerateAlertsForErrors],
    [OrganizationBase].[GenerateAlertsForInformation],
    [OrganizationBase].[GenerateAlertsForWarnings],
    [OrganizationBase].[NotifyMailboxOwnerOfEmailServerLevelAlerts],
    [OrganizationBase].[MaximumActiveBusinessProcessFlowsAllowedPerEntity],
    [OrganizationBase].[EntityImageId],
    [OrganizationBase].[AllowUsersSeeAppdownloadMessage],
    [OrganizationBase].[SignupOutlookDownloadFWLink],
    [OrganizationBase].[CascadeStatusUpdate],
    [OrganizationBase].[RestrictStatusUpdate],
    [OrganizationBase].[SuppressSLA],
    [OrganizationBase].[SocialInsightsTermsAccepted],
    [OrganizationBase].[SocialInsightsInstance],
    [OrganizationBase].[DisableSocialCare],
    [OrganizationBase].[MaxProductsInBundle],
    [OrganizationBase].[UseInbuiltRuleForDefaultPricelistSelection],
    [OrganizationBase].[OOBPriceCalculationEnabled],
    [OrganizationBase].[IsHierarchicalSecurityModelEnabled],
    [OrganizationBase].[MaximumDynamicPropertiesAllowed],
    [OrganizationBase].[UsePositionHierarchy],
    [OrganizationBase].[MaxDepthForHierarchicalSecurityModel],
    [OrganizationBase].[SlaPauseStates],
    [OrganizationBase].[SocialInsightsEnabled],
    [OrganizationBase].[IsAppointmentAttachmentSyncEnabled],
    [OrganizationBase].[IsAssignedTasksSyncEnabled],
    [OrganizationBase].[IsContactMailingAddressSyncEnabled],
    [OrganizationBase].[MaxSupportedInternetExplorerVersion],
    [OrganizationBase].[GlobalHelpUrl],
    [OrganizationBase].[GlobalHelpUrlEnabled],
    [OrganizationBase].[GlobalAppendUrlParametersEnabled],
    [OrganizationBase].[KMSettings],
    [OrganizationBase].[CreateProductsWithoutParentInActiveState],
    [OrganizationBase].[IsMailboxInactiveBackoffEnabled],
    [OrganizationBase].[IsFullTextSearchEnabled],
    [OrganizationBase].[EnforceReadOnlyPlugins],
    [OrganizationBase].[SharePointDeploymentType],
    [OrganizationBase].[DefaultThemeData],
    [OrganizationBase].[IsFolderBasedTrackingEnabled],
    [OrganizationBase].[WebResourceHash],
    [OrganizationBase].[ExpireChangeTrackingInDays],
    [OrganizationBase].[MaxFolderBasedTrackingMappings],
    [OrganizationBase].[PrivacyStatementUrl],
    [OrganizationBase].[PluginTraceLogSetting],
    [OrganizationBase].[IsMailboxForcedUnlockingEnabled],
    [OrganizationBase].[MailboxIntermittentIssueMinRange],
    [OrganizationBase].[MailboxPermanentIssueMinRange],
    [OrganizationBase].[HighContrastThemeData],
    [OrganizationBase].[DelegatedAdminUserId],
    [OrganizationBase].[IsExternalSearchIndexEnabled],
    [OrganizationBase].[IsMobileOfflineEnabled],
    [OrganizationBase].[IsOfficeGraphEnabled],
    [OrganizationBase].[IsOneDriveEnabled],
    [OrganizationBase].[ExternalPartyEntitySettings],
    [OrganizationBase].[ExternalPartyCorrelationKeys],
    [OrganizationBase].[MaxVerboseLoggingMailbox],
    [OrganizationBase].[MaxVerboseLoggingSyncCycles],
    [OrganizationBase].[MobileOfflineSyncInterval],
    [OrganizationBase].[OfficeGraphDelveUrl],
    [OrganizationBase].[MobileOfflineMinLicenseTrial],
    [OrganizationBase].[MobileOfflineMinLicenseProd],
    [OrganizationBase].[DaysSinceRecordLastModifiedMaxValue],
    [OrganizationBase].[TaskBasedFlowEnabled],
    [OrganizationBase].[ShowKBArticleDeprecationNotification],
    [OrganizationBase].[AzureSchedulerJobCollectionName],
    [OrganizationBase].[CortanaProactiveExperienceEnabled],
    [OrganizationBase].[OfficeAppsAutoDeploymentEnabled],
    [OrganizationBase].[AppDesignerExperienceEnabled],
    [OrganizationBase].[AutoApplySLA],
    [OrganizationBase].[IsEmailServerProfileContentFilteringEnabled],
    [OrganizationBase].[IsDelegateAccessEnabled],
    [OrganizationBase].[DisplayNavigationTour],
    [OrganizationBase].[UseLegacyRendering],
    [OrganizationBase].[DefaultMobileOfflineProfileId],
    [OrganizationBase].[KaPrefix],
    [OrganizationBase].[CurrentKaNumber],
    [OrganizationBase].[CurrentCategoryNumber],
    [OrganizationBase].[CategoryPrefix],
    [OrganizationBase].[MaximumEntitiesWithActiveSLA],
    [OrganizationBase].[MaximumSLAKPIPerEntityWithActiveSLA],
    [OrganizationBase].[IsConflictDetectionEnabledForMobileClient],
    [OrganizationBase].[IsDelveActionHubIntegrationEnabled],
    [OrganizationBase].[OrgInsightsEnabled],
    [OrganizationBase].[ProductRecommendationsEnabled],
    [OrganizationBase].[TextAnalyticsEnabled],
    [OrganizationBase].[MaxConditionsForMobileOfflineFilters],
    [OrganizationBase].[IsFolderAutoCreatedonSP],
    [OrganizationBase].[PowerBiFeatureEnabled],
    [OrganizationBase].[IsActionCardEnabled],
    [OrganizationBase].[IsEmailMonitoringAllowed],
    [OrganizationBase].[IsActivityAnalysisEnabled],
    [OrganizationBase].[IsAutoDataCaptureEnabled],
    [OrganizationBase].[ExternalBaseUrl],
    [OrganizationBase].[IsPreviewEnabledForActionCard],
    [OrganizationBase].[IsPreviewForEmailMonitoringAllowed],
    [OrganizationBase].[UnresolveEmailAddressIfMultipleMatch],
    [OrganizationBase].[RiErrorStatus],
    [OrganizationBase].[WidgetProperties],
    [OrganizationBase].[EnableMicrosoftFlowIntegration],
    [OrganizationBase].[IsEnabledForAllRoles],
    [OrganizationBase].[IsPreviewForAutoCaptureEnabled],
    [OrganizationBase].[DefaultCrmCustomName],
    [OrganizationBase].[ACIWebEndpointUrl],
    [OrganizationBase].[EnableLPAuthoring],
    [OrganizationBase].[IsResourceBookingExchangeSyncEnabled],
    [OrganizationBase].[IsMobileClientOnDemandSyncEnabled],
    [OrganizationBase].[PostMessageWhitelistDomains],
    [OrganizationBase].[IsRelationshipInsightsEnabled]
from [OrganizationBase] 
    left join [TransactionCurrencyBase] [basecurrency_organization] on ([OrganizationBase].[BaseCurrencyId] = [basecurrency_organization].[TransactionCurrencyId])
    left join [MobileOfflineProfileBase] [DefaultMobileOfflineProfile_Organization] on ([OrganizationBase].[DefaultMobileOfflineProfileId] = [DefaultMobileOfflineProfile_Organization].[MobileOfflineProfileId] and [DefaultMobileOfflineProfile_Organization].OverwriteTime = 0 and [DefaultMobileOfflineProfile_Organization].ComponentState = 0)
    left join [EmailServerProfileBase] [EmailServerProfile_Organization] on ([OrganizationBase].[DefaultEmailServerProfileId] = [EmailServerProfile_Organization].[EmailServerProfileId])
    left join [ImageDescriptor] [lk_organization_entityimage] on ([OrganizationBase].[EntityImageId] = [lk_organization_entityimage].[ImageDescriptorId])
    left join [SystemUserBase] [lk_organizationbase_createdby] with(nolock) on ([OrganizationBase].[CreatedBy] = [lk_organizationbase_createdby].[SystemUserId])
    left join [SystemUserBase] [lk_organizationbase_createdonbehalfby] with(nolock) on ([OrganizationBase].[CreatedOnBehalfBy] = [lk_organizationbase_createdonbehalfby].[SystemUserId])
    left join [SystemUserBase] [lk_organizationbase_modifiedby] with(nolock) on ([OrganizationBase].[ModifiedBy] = [lk_organizationbase_modifiedby].[SystemUserId])
    left join [SystemUserBase] [lk_organizationbase_modifiedonbehalfby] with(nolock) on ([OrganizationBase].[ModifiedOnBehalfBy] = [lk_organizationbase_modifiedonbehalfby].[SystemUserId])
    left join [TemplateBase] [Template_Organization] on ([OrganizationBase].[AcknowledgementTemplateId] = [Template_Organization].[TemplateId] and [Template_Organization].OverwriteTime = 0 and [Template_Organization].ComponentState = 0)

GO
