USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[CustomControlResourceBase]    Script Date: 4/10/2017 9:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomControlResourceBase](
	[ModifiedOn] [datetime] NULL,
	[CustomControlResourceId] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CustomControlId] [uniqueidentifier] NOT NULL,
	[VersionRequirement] [nvarchar](20) NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[Version] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime] NULL,
	[WebResourceId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[IntroducedVersion] [nvarchar](48) NULL,
	[CustomControlResourceIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_CustomControlResourceBase_CustomControlResourceIdUnique]  DEFAULT (newid()),
	[OverwriteTime] [datetime] NOT NULL CONSTRAINT [DF_CustomControlResourceBase_OverwriteTime]  DEFAULT ((0)),
	[VersionNumber] [timestamp] NULL,
	[IsManaged] [bit] NOT NULL CONSTRAINT [DF_CustomControlResourceBase_IsManaged]  DEFAULT ((0)),
	[SupportingSolutionId] [uniqueidentifier] NULL,
	[SolutionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_CustomControlResourceBase_SolutionId]  DEFAULT ('fd140aad-4df4-11dd-bd17-0019b9312238'),
	[ComponentState] [int] NOT NULL CONSTRAINT [DF_CustomControlResourceBase_ComponentState]  DEFAULT ((0)),
 CONSTRAINT [cndx_PrimaryKey_CustomControlResource] PRIMARY KEY CLUSTERED 
(
	[CustomControlResourceId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [UQ_CustomControlresourceBase_CustomControlResourceIdUnique]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[CustomControlResourceBase] ADD  CONSTRAINT [UQ_CustomControlresourceBase_CustomControlResourceIdUnique] UNIQUE NONCLUSTERED 
(
	[CustomControlResourceIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [indx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [indx_Sync_VersionNumber] ON [dbo].[CustomControlResourceBase]
(
	[VersionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
