USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[CardTypeBase]    Script Date: 4/10/2017 9:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardTypeBase](
	[IsBaseCard] [bit] NULL CONSTRAINT [DF_CardTypeBase_IsBaseCard]  DEFAULT ((0)),
	[IsLiveOnly] [bit] NULL CONSTRAINT [DF_CardTypeBase_IsLiveOnly]  DEFAULT ((0)),
	[IntCardOption] [int] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[CardName] [nvarchar](100) NULL,
	[VersionNumber] [timestamp] NULL,
	[LastSyncTime] [datetime] NULL,
	[ExchangeRate] [decimal](23, 10) NULL,
	[ClientAvailability] [int] NOT NULL CONSTRAINT [DF_CardTypeBase_ClientAvailability]  DEFAULT ((1)),
	[BoolCardOption] [bit] NULL CONSTRAINT [DF_CardTypeBase_BoolCardOption]  DEFAULT ((0)),
	[Actions] [nvarchar](max) NULL,
	[ScheduleTime] [datetime] NULL,
	[HasSnoozeDismiss] [bit] NULL CONSTRAINT [DF_CardTypeBase_HasSnoozeDismiss]  DEFAULT ((0)),
	[CardTypeIcon] [nvarchar](250) NULL,
	[IsEnabled] [bit] NULL CONSTRAINT [DF_CardTypeBase_IsEnabled]  DEFAULT ((0)),
	[CardType] [int] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[StringCardOption] [nvarchar](max) NULL,
	[TransactionCurrencyId] [uniqueidentifier] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[IsPreviewCard] [bit] NULL CONSTRAINT [DF_CardTypeBase_IsPreviewCard]  DEFAULT ((0)),
	[SummaryText] [nvarchar](250) NULL,
	[GroupType] [nvarchar](128) NULL,
	[CreatedOn] [datetime] NULL,
	[SoftTitle] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[CardTypeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CardTypeBase] PRIMARY KEY CLUSTERED 
(
	[CardTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [cndx_cardtypeint]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [cndx_cardtypeint] ON [dbo].[CardTypeBase]
(
	[CardType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
