USE [D365_MSCRM]
GO
/****** Object:  UserDefinedTableType [dbo].[t_ComponentSetTable]    Script Date: 4/10/2017 9:59:17 PM ******/
CREATE TYPE [dbo].[t_ComponentSetTable] AS TABLE(
	[ObjectId] [uniqueidentifier] NULL,
	[ComponentType] [int] NULL
)
GO
