USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[ConnectionRoleBase]    Script Date: 4/10/2017 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConnectionRoleBase](
	[ConnectionRoleIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_ConnectionRoleBase_ConnectionRoleIdUnique]  DEFAULT (newid()),
	[ConnectionRoleId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[VersionNumber] [timestamp] NULL,
	[ComponentState] [int] NOT NULL CONSTRAINT [DF_ConnectionRoleBase_ComponentState]  DEFAULT ((0)),
	[IsManaged] [bit] NOT NULL CONSTRAINT [DF_ConnectionRoleBase_IsManaged]  DEFAULT ((0)),
	[SupportingSolutionId] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ImportSequenceNumber] [int] NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[StatusCode] [int] NULL,
	[StateCode] [int] NOT NULL,
	[Category] [int] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[OverwriteTime] [datetime] NOT NULL CONSTRAINT [DF_ConnectionRoleBase_OverwriteTime]  DEFAULT ((0)),
	[IsCustomizable] [bit] NOT NULL CONSTRAINT [DF_ConnectionRoleBase_IsCustomizable]  DEFAULT ((1)),
	[Description] [nvarchar](1000) NULL,
	[SolutionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ConnectionRoleBase_SolutionId]  DEFAULT ('fd140aad-4df4-11dd-bd17-0019b9312238'),
	[IntroducedVersion] [nvarchar](48) NULL,
 CONSTRAINT [cndx_PrimaryKey_ConnectionRole] PRIMARY KEY CLUSTERED 
(
	[ConnectionRoleId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [UQ_ConnectionRoleBase_ConnectionRoleIdUnique]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[ConnectionRoleBase] ADD  CONSTRAINT [UQ_ConnectionRoleBase_ConnectionRoleIdUnique] UNIQUE NONCLUSTERED 
(
	[ConnectionRoleIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[ConnectionRoleBase]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ndx_Core]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [ndx_Core] ON [dbo].[ConnectionRoleBase]
(
	[StateCode] ASC,
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ndx_name]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [ndx_name] ON [dbo].[ConnectionRoleBase]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
