USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[OrganizationBase]    Script Date: 4/10/2017 9:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrganizationBase](
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](160) NOT NULL,
	[UserGroupId] [uniqueidentifier] NULL,
	[PrivilegeUserGroupId] [uniqueidentifier] NULL,
	[FiscalPeriodType] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_FiscalPeriodType]  DEFAULT ((2002)),
	[FiscalCalendarStart] [datetime] NULL,
	[DateFormatCode] [int] NOT NULL CONSTRAINT [Set_To_Zero125]  DEFAULT ((0)),
	[TimeFormatCode] [int] NOT NULL CONSTRAINT [Set_To_Zero126]  DEFAULT ((0)),
	[CurrencySymbol] [nvarchar](13) NULL CONSTRAINT [DF_OrganizationBase_CurrencySymbol]  DEFAULT ('$'),
	[WeekStartDayCode] [int] NOT NULL CONSTRAINT [Set_To_Zero127]  DEFAULT ((0)),
	[DateSeparator] [nvarchar](5) NULL CONSTRAINT [ORG_DATE_SEPARATOR2]  DEFAULT ('/'),
	[FullNameConventionCode] [int] NOT NULL CONSTRAINT [Set_To_Zero128]  DEFAULT ((0)),
	[NegativeFormatCode] [int] NOT NULL CONSTRAINT [Set_To_Zero129]  DEFAULT ((0)),
	[NumberFormat] [nvarchar](2) NULL CONSTRAINT [ORG_NUMBER_FORMAT2]  DEFAULT ('us'),
	[IsDisabled] [bit] NULL CONSTRAINT [Set_To_Zero130]  DEFAULT ((0)),
	[DisabledReason] [nvarchar](500) NULL,
	[KbPrefix] [nvarchar](20) NULL CONSTRAINT [DF_OrganizationBase_KbPrefix]  DEFAULT ('KBA'),
	[CurrentKbNumber] [int] NULL CONSTRAINT [ORG_LOWER_BOUND_10007]  DEFAULT ((1000)),
	[CasePrefix] [nvarchar](20) NULL CONSTRAINT [DF_OrganizationBase_CasePrefix]  DEFAULT ('CAS'),
	[CurrentCaseNumber] [int] NULL CONSTRAINT [ORG_LOWER_BOUND_10008]  DEFAULT ((1000)),
	[ContractPrefix] [nvarchar](20) NULL CONSTRAINT [DF_OrganizationBase_ContractPrefix]  DEFAULT ('CNR'),
	[CurrentContractNumber] [int] NULL CONSTRAINT [ORG_LOWER_BOUND_10009]  DEFAULT ((1000)),
	[QuotePrefix] [nvarchar](20) NULL CONSTRAINT [DF_OrganizationBase_QuotePrefix]  DEFAULT ('QUO'),
	[CurrentQuoteNumber] [int] NULL CONSTRAINT [ORG_LOWER_BOUND_100010]  DEFAULT ((1000)),
	[OrderPrefix] [nvarchar](20) NULL CONSTRAINT [DF_OrganizationBase_OrderPrefix]  DEFAULT ('ORD'),
	[CurrentOrderNumber] [int] NULL CONSTRAINT [ORG_LOWER_BOUND_100011]  DEFAULT ((1000)),
	[InvoicePrefix] [nvarchar](20) NULL CONSTRAINT [DF_OrganizationBase_InvoicePrefix]  DEFAULT ('INV'),
	[CurrentInvoiceNumber] [int] NULL CONSTRAINT [ORG_LOWER_BOUND_100012]  DEFAULT ((1000)),
	[UniqueSpecifierLength] [int] NULL CONSTRAINT [Unique_Specifier_Length2]  DEFAULT ((6)),
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[FiscalYearFormat] [nvarchar](25) NULL,
	[FiscalPeriodFormat] [nvarchar](25) NULL,
	[FiscalYearPeriodConnect] [nvarchar](5) NOT NULL CONSTRAINT [DF_OrganizationBase_FiscalYearPeriodConnect]  DEFAULT ('s'),
	[LanguageCode] [int] NULL,
	[SortId] [int] NULL,
	[DateFormatString] [nvarchar](255) NULL,
	[TimeFormatString] [nvarchar](255) NULL,
	[PricingDecimalPrecision] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_PricingDecimalPrecision]  DEFAULT ((2)),
	[ShowWeekNumber] [bit] NULL CONSTRAINT [Set_To_Zero131]  DEFAULT ((0)),
	[NextTrackingNumber] [int] NULL,
	[TagMaxAggressiveCycles] [tinyint] NOT NULL CONSTRAINT [DF_OrganizationBase_TagMaxAggressiveCycles]  DEFAULT ((2)),
	[TokenKey] [nvarchar](90) NULL,
	[SystemUserId] [uniqueidentifier] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[GrantAccessToNetworkService] [bit] NULL CONSTRAINT [DF_OrganizationBase_GrantAccessToNetworkService]  DEFAULT ((0)),
	[AllowOutlookScheduledSyncs] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowOutlookScheduledSyncs]  DEFAULT ((1)),
	[AllowMarketingEmailExecution] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowMarketingEmailExecution]  DEFAULT ((1)),
	[SqlAccessGroupId] [uniqueidentifier] NULL,
	[CurrencyFormatCode] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_CurrencyFormatCode]  DEFAULT ((0)),
	[FiscalSettingsUpdated] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_FiscalSettingsUpdated]  DEFAULT ((0)),
	[ReportingGroupId] [uniqueidentifier] NULL,
	[TokenExpiry] [smallint] NULL,
	[ShareToPreviousOwnerOnAssign] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_ShareToPreviousOwnerOnAssign]  DEFAULT ((1)),
	[AcknowledgementTemplateId] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[IntegrationUserId] [uniqueidentifier] NULL,
	[TrackingTokenIdBase] [int] NULL,
	[BusinessClosureCalendarId] [uniqueidentifier] NULL,
	[AllowAutoUnsubscribeAcknowledgement] [bit] NULL CONSTRAINT [DF_OrganizationBase_AllowAutoUnsubscribeAcknowledgement]  DEFAULT ((0)),
	[AllowAutoUnsubscribe] [bit] NULL CONSTRAINT [DF_OrganizationBase_AllowAutoUnsubscribe]  DEFAULT ((0)),
	[Picture] [nvarchar](max) NULL,
	[VersionNumber] [timestamp] NULL,
	[TrackingPrefix] [nvarchar](256) NULL,
	[MinOutlookSyncInterval] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MinOutlookSyncInterval]  DEFAULT ((900000)),
	[BulkOperationPrefix] [nvarchar](20) NOT NULL CONSTRAINT [DF_OrganizationBase_BulkOperationPrefix]  DEFAULT ('BO'),
	[AllowAutoResponseCreation] [bit] NULL CONSTRAINT [DF_OrganizationBase_AllowAutoResponseCreation]  DEFAULT ((1)),
	[MaximumTrackingNumber] [int] NULL,
	[CampaignPrefix] [nvarchar](20) NOT NULL CONSTRAINT [DF_OrganizationBase_CampaignPrefix]  DEFAULT ('CMP'),
	[SqlAccessGroupName] [nvarchar](256) NULL,
	[CurrentCampaignNumber] [int] NULL CONSTRAINT [DF_OrganizationBase_CurrentCampaignNumber]  DEFAULT ((1000)),
	[FiscalYearDisplayCode] [tinyint] NOT NULL CONSTRAINT [DF_OrganizationBase_FiscalYearDisplayCode]  DEFAULT ((1)),
	[SiteMapXml] [nvarchar](max) NULL,
	[IsRegistered] [bit] NULL CONSTRAINT [DF_OrganizationBase_IsRegistered]  DEFAULT ((0)),
	[ReportingGroupName] [nvarchar](256) NULL,
	[CurrentBulkOperationNumber] [int] NULL CONSTRAINT [DF_OrganizationBase_CurrentBulkOperationNumber]  DEFAULT ((1000)),
	[SchemaNamePrefix] [nvarchar](8) NULL CONSTRAINT [DF_OrganizationBase_SchemaNamePrefix]  DEFAULT ('new'),
	[IgnoreInternalEmail] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IgnoreInternalEmail]  DEFAULT ((0)),
	[TagPollingPeriod] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_TagPollingPeriod]  DEFAULT ((600000)),
	[TrackingTokenIdDigits] [tinyint] NULL,
	[NumberGroupFormat] [nvarchar](50) NULL,
	[LongDateFormatCode] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_LongDateFormatCode]  DEFAULT ((0)),
	[UTCConversionTimeZoneCode] [int] NULL,
	[TimeZoneRuleVersionNumber] [int] NULL,
	[CurrentImportSequenceNumber] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_CurrentImportSequenceNumber]  DEFAULT ((1)),
	[ParsedTablePrefix] [nvarchar](20) NOT NULL CONSTRAINT [DF_OrganizationBase_ParsedTablePrefix]  DEFAULT ('PIF'),
	[V3CalloutConfigHash] [nvarchar](256) NULL,
	[IsFiscalPeriodMonthBased] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsFiscalPeriodMonthBased]  DEFAULT ((0)),
	[LocaleId] [int] NOT NULL,
	[ParsedTableColumnPrefix] [nvarchar](20) NOT NULL CONSTRAINT [DF_OrganizationBase_ParsedTableColumnPrefix]  DEFAULT ('COL'),
	[SupportUserId] [uniqueidentifier] NULL,
	[AMDesignator] [nvarchar](25) NOT NULL CONSTRAINT [DF_OrganizationBase_AMDesignator]  DEFAULT ('AM'),
	[CurrencyDisplayOption] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_CurrencyDisplayOption]  DEFAULT ((0)),
	[MinAddressBookSyncInterval] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MinAddressBookSyncInterval]  DEFAULT ((3600000)),
	[IsDuplicateDetectionEnabledForOnlineCreateUpdate] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsDuplicateDetectionEnabledForOnlineCreateUpdate]  DEFAULT ((1)),
	[FeatureSet] [nvarchar](max) NULL,
	[BlockedAttachments] [nvarchar](max) NULL,
	[IsDuplicateDetectionEnabledForOfflineSync] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsDuplicateDetectionEnabledForOfflineSync]  DEFAULT ((1)),
	[AllowOfflineScheduledSyncs] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowOfflineScheduledSyncs]  DEFAULT ((1)),
	[AllowUnresolvedPartiesOnEmailSend] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowUnresolvedPartiesOnEmailSend]  DEFAULT ((0)),
	[TimeSeparator] [nvarchar](5) NULL,
	[CurrentParsedTableNumber] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_CurrentParsedTableNumber]  DEFAULT ((1)),
	[MinOfflineSyncInterval] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MinOfflineSyncInterval]  DEFAULT ((900000)),
	[AllowWebExcelExport] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowWebExcelExport]  DEFAULT ((1)),
	[ReferenceSiteMapXml] [nvarchar](max) NULL,
	[IsDuplicateDetectionEnabledForImport] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsDuplicateDetectionEnabledForImport]  DEFAULT ((1)),
	[CalendarType] [int] NULL CONSTRAINT [DF_OrganizationBase_CalendarType]  DEFAULT ((2)),
	[SQMEnabled] [bit] NULL CONSTRAINT [DF_OrganizationBase_SQMEnabled]  DEFAULT ((0)),
	[NegativeCurrencyFormatCode] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_NegativeCurrencyFormatCode]  DEFAULT ((0)),
	[AllowAddressBookSyncs] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowAddressBookSyncs]  DEFAULT ((1)),
	[ISVIntegrationCode] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_ISVIntegrationCode]  DEFAULT ((0)),
	[DecimalSymbol] [nvarchar](5) NOT NULL CONSTRAINT [DF_OrganizationBase_DecimalSymbol]  DEFAULT ('.'),
	[MaxUploadFileSize] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxUploadFileSize]  DEFAULT ((5242880)),
	[IsAppMode] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsAppMode]  DEFAULT ((0)),
	[EnablePricingOnCreate] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_EnablePricingOnCreate]  DEFAULT ((1)),
	[IsSOPIntegrationEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsSOPIntegrationEnabled]  DEFAULT ((0)),
	[PMDesignator] [nvarchar](25) NOT NULL CONSTRAINT [DF_OrganizationBase_PMDesignator]  DEFAULT ('PM'),
	[CurrencyDecimalPrecision] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_CurrencyDecimalPrecision]  DEFAULT ((2)),
	[MaxAppointmentDurationDays] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxAppointmentDurationDays]  DEFAULT ((10)),
	[EmailSendPollingPeriod] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_EmailSendPollingPeriod]  DEFAULT ((600000)),
	[RenderSecureIFrameForEmail] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_RenderSecureIFrameForEmail]  DEFAULT ((0)),
	[NumberSeparator] [nvarchar](5) NOT NULL CONSTRAINT [DF_OrganizationBase_NumberSeparator]  DEFAULT (','),
	[PrivReportingGroupId] [uniqueidentifier] NULL,
	[BaseCurrencyId] [uniqueidentifier] NULL,
	[MaxRecordsForExportToExcel] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxRecordsForExportToExcel]  DEFAULT ((100000)),
	[PrivReportingGroupName] [nvarchar](256) NULL,
	[YearStartWeekCode] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_YearStartWeekCode]  DEFAULT ((0)),
	[IsPresenceEnabled] [bit] NULL CONSTRAINT [DF_OrganizationBase_IsPresenceEnabled]  DEFAULT ((1)),
	[IsDuplicateDetectionEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsDuplicateDetectionEnabled]  DEFAULT ((1)),
	[RecurrenceExpansionJobBatchInterval] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_RecurrenceExpansionJobBatchInterval]  DEFAULT ((0)),
	[DefaultRecurrenceEndRangeType] [int] NULL CONSTRAINT [DF_OrganizationBase_DefaultRecurrenceEndRangeType]  DEFAULT ((2)),
	[HashMinAddressCount] [int] NULL,
	[RequireApprovalForUserEmail] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_RequireApprovalForUserEmail]  DEFAULT ((1)),
	[RecurrenceDefaultNumberOfOccurrences] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_RecurrenceDefaultNumberOfOccurrences]  DEFAULT ((10)),
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[RequireApprovalForQueueEmail] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_RequireApprovalForQueueEmail]  DEFAULT ((1)),
	[AllowEntityOnlyAudit] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowEntityOnlyAudit]  DEFAULT ((1)),
	[IsAuditEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsAuditEnabled]  DEFAULT ((0)),
	[RecurrenceExpansionSynchCreateMax] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_RecurrenceExpansionSynchCreateMax]  DEFAULT ((15)),
	[GoalRollupExpiryTime] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_GoalRollupExpiryTime]  DEFAULT ((30)),
	[BaseCurrencyPrecision] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_BaseCurrencyPrecision]  DEFAULT ((2)),
	[FiscalPeriodFormatPeriod] [int] NULL CONSTRAINT [DF_OrganizationBase_FiscalPeriodFormatPeriod]  DEFAULT ((1)),
	[AllowClientMessageBarAd] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowClientMessageBarAd]  DEFAULT ((1)),
	[InitialVersion] [nvarchar](20) NULL,
	[HashFilterKeywords] [nvarchar](max) NULL,
	[NextCustomObjectTypeCode] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_NextCustomObjectTypeCode]  DEFAULT ((10000)),
	[ExpireSubscriptionsInDays] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_ExpireSubscriptionsInDays]  DEFAULT ((90)),
	[OrgDbOrgSettings] [nvarchar](max) NULL,
	[PastExpansionWindow] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_PastExpansionWindow]  DEFAULT ((3)),
	[EnableSmartMatching] [bit] NULL,
	[MaxRecordsForLookupFilters] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxRecordsForLookupFilters]  DEFAULT ((300)),
	[BaseCurrencySymbol] [nvarchar](4000) NOT NULL CONSTRAINT [DF_OrganizationBase_BaseCurrencySymbol]  DEFAULT ('$'),
	[ReportScriptErrors] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_ReportScriptErrors]  DEFAULT ((0)),
	[RecurrenceExpansionJobBatchSize] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_RecurrenceExpansionJobBatchSize]  DEFAULT ((0)),
	[FutureExpansionWindow] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_FutureExpansionWindow]  DEFAULT ((12)),
	[GetStartedPaneContentEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_GetStartedPaneContentEnabled]  DEFAULT ((1)),
	[SampleDataImportId] [uniqueidentifier] NULL,
	[BaseISOCurrencyCode] [nvarchar](4000) NOT NULL CONSTRAINT [DF_OrganizationBase_BaseISOCurrencyCode]  DEFAULT ('USD'),
	[GoalRollupFrequency] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_GoalRollupFrequency]  DEFAULT ((24)),
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[HashDeltaSubjectCount] [int] NULL,
	[HashMaxCount] [int] NULL,
	[FiscalYearFormatYear] [int] NULL CONSTRAINT [DF_OrganizationBase_FiscalYearFormatYear]  DEFAULT ((1)),
	[FiscalYearFormatPrefix] [int] NULL CONSTRAINT [DF_OrganizationBase_FiscalYearFormatPrefix]  DEFAULT ((1)),
	[PinpointLanguageCode] [int] NULL,
	[FiscalYearFormatSuffix] [int] NULL CONSTRAINT [DF_OrganizationBase_FiscalYearFormatSuffix]  DEFAULT ((3)),
	[AllowUserFormModePreference] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowUserFormModePreference]  DEFAULT ((1)),
	[MaximumActiveBusinessProcessFlowsAllowedPerEntity] [int] NULL CONSTRAINT [DF_OrganizationBase_MaximumActiveBusinessProcessFlowsAllowedPerEntity]  DEFAULT ((10)),
	[YammerGroupId] [int] NULL,
	[IsUserAccessAuditEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsUserAccessAuditEnabled]  DEFAULT ((0)),
	[IsDefaultCountryCodeCheckEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsDefaultCountryCodeCheckEnabled]  DEFAULT ((1)),
	[MetadataSyncLastTimeOfNeverExpiredDeletedObjects] [datetime] NULL,
	[IncomingEmailExchangeEmailRetrievalBatchSize] [int] NULL CONSTRAINT [DF_OrganizationBase_IncomingEmailExchangeEmailRetrievalBatchSize]  DEFAULT ((10)),
	[QuickFindRecordLimitEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_QuickFindRecordLimitEnabled]  DEFAULT ((1)),
	[YammerOAuthAccessTokenExpired] [bit] NULL,
	[UseSkypeProtocol] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_UseSkypeProtocol]  DEFAULT ((1)),
	[DefaultEmailServerProfileId] [uniqueidentifier] NULL,
	[GenerateAlertsForErrors] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_GenerateAlertsForErrors]  DEFAULT ((1)),
	[DefaultCountryCode] [nvarchar](15) NULL,
	[EmailCorrelationEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_EmailCorrelationEnabled]  DEFAULT ((1)),
	[UserAccessAuditingInterval] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_UserAccessAuditingInterval]  DEFAULT ((4)),
	[IsAutoSaveEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsAutoSaveEnabled]  DEFAULT ((1)),
	[DefaultEmailSettings] [nvarchar](max) NULL,
	[MetadataSyncTimestamp] [bigint] NOT NULL CONSTRAINT [DF_OrganizationBase_MetadataSyncTimestamp]  DEFAULT ((1)),
	[YammerNetworkPermalink] [nvarchar](256) NULL,
	[EmailConnectionChannel] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_EmailConnectionChannel]  DEFAULT ((0)),
	[EntityImageId] [uniqueidentifier] NULL,
	[NotifyMailboxOwnerOfEmailServerLevelAlerts] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_NotifyMailboxOwnerOfEmailServerLevelAlerts]  DEFAULT ((0)),
	[BingMapsApiKey] [nvarchar](1024) NULL,
	[GenerateAlertsForInformation] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_GenerateAlertsForInformation]  DEFAULT ((1)),
	[GenerateAlertsForWarnings] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_GenerateAlertsForWarnings]  DEFAULT ((0)),
	[YammerPostMethod] [int] NULL,
	[AllowUsersSeeAppdownloadMessage] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AllowUsersSeeAppdownloadMessage]  DEFAULT ((1)),
	[UseReadForm] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_UseReadForm]  DEFAULT ((0)),
	[EnableBingMapsIntegration] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_EnableBingMapsIntegration]  DEFAULT ((1)),
	[DisableSocialCare] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_DisableSocialCare]  DEFAULT ((0)),
	[SocialInsightsInstance] [nvarchar](max) NULL,
	[UseInbuiltRuleForDefaultPricelistSelection] [bit] NULL CONSTRAINT [DF_OrganizationBase_UseInbuiltRuleForDefaultPricelistSelection]  DEFAULT ((1)),
	[DiscountCalculationMethod] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_DiscountCalculationMethod]  DEFAULT ((0)),
	[IsAssignedTasksSyncEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsAssignedTasksSyncEnabled]  DEFAULT ((0)),
	[IsAppointmentAttachmentSyncEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsAppointmentAttachmentSyncEnabled]  DEFAULT ((0)),
	[IsContactMailingAddressSyncEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsContactMailingAddressSyncEnabled]  DEFAULT ((1)),
	[MaxSupportedInternetExplorerVersion] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxSupportedInternetExplorerVersion]  DEFAULT ((10)),
	[CreateProductsWithoutParentInActiveState] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_CreateProductsWithoutParentInActiveState]  DEFAULT ((0)),
	[SlaPauseStates] [nvarchar](max) NULL,
	[MaxProductsInBundle] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxProductsInBundle]  DEFAULT ((15)),
	[OOBPriceCalculationEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_OOBPriceCalculationEnabled]  DEFAULT ((1)),
	[CascadeStatusUpdate] [bit] NULL CONSTRAINT [DF_OrganizationBase_CascadeStatusUpdate]  DEFAULT ((0)),
	[RestrictStatusUpdate] [bit] NULL CONSTRAINT [DF_OrganizationBase_RestrictStatusUpdate]  DEFAULT ((0)),
	[MaxDepthForHierarchicalSecurityModel] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxDepthForHierarchicalSecurityModel]  DEFAULT ((3)),
	[IsHierarchicalSecurityModelEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsHierarchicalSecurityModelEnabled]  DEFAULT ((0)),
	[GlobalHelpUrlEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_GlobalHelpUrlEnabled]  DEFAULT ((0)),
	[DisplayNavigationTour] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_DisplayNavigationTour]  DEFAULT ((1)),
	[GlobalAppendUrlParametersEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_GlobalAppendUrlParametersEnabled]  DEFAULT ((0)),
	[SocialInsightsTermsAccepted] [bit] NULL CONSTRAINT [DF_OrganizationBase_SocialInsightsTermsAccepted]  DEFAULT ((0)),
	[SocialInsightsEnabled] [bit] NULL CONSTRAINT [DF_OrganizationBase_SocialInsightsEnabled]  DEFAULT ((0)),
	[GlobalHelpUrl] [nvarchar](500) NULL,
	[SignupOutlookDownloadFWLink] [nvarchar](200) NOT NULL CONSTRAINT [DF_OrganizationBase_SignupOutlookDownloadFWLink]  DEFAULT (''),
	[MaximumDynamicPropertiesAllowed] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaximumDynamicPropertiesAllowed]  DEFAULT ((50)),
	[UsePositionHierarchy] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_UsePositionHierarchy]  DEFAULT ((0)),
	[SuppressSLA] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_SuppressSLA]  DEFAULT ((0)),
	[IsMailboxInactiveBackoffEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsMailboxInactiveBackoffEnabled]  DEFAULT ((0)),
	[MobileOfflineSyncInterval] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MobileOfflineSyncInterval]  DEFAULT ((600000)),
	[PluginTraceLogSetting] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_PluginTraceLogSetting]  DEFAULT ((0)),
	[DaysSinceRecordLastModifiedMaxValue] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_DaysSinceRecordLastModifiedMaxValue]  DEFAULT ((9999)),
	[MaxFolderBasedTrackingMappings] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxFolderBasedTrackingMappings]  DEFAULT ((25)),
	[KaPrefix] [nvarchar](20) NOT NULL CONSTRAINT [DF_OrganizationBase_KaPrefix]  DEFAULT ('KA'),
	[SharePointDeploymentType] [int] NULL CONSTRAINT [DF_OrganizationBase_SharePointDeploymentType]  DEFAULT ((0)),
	[TaskBasedFlowEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_TaskBasedFlowEnabled]  DEFAULT ((0)),
	[MailboxPermanentIssueMinRange] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MailboxPermanentIssueMinRange]  DEFAULT ((7)),
	[IsOneDriveEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsOneDriveEnabled]  DEFAULT ((0)),
	[MaxVerboseLoggingSyncCycles] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxVerboseLoggingSyncCycles]  DEFAULT ((9)),
	[OfficeGraphDelveUrl] [nvarchar](1000) NULL,
	[WebResourceHash] [nvarchar](512) NOT NULL CONSTRAINT [DF_OrganizationBase_WebResourceHash]  DEFAULT ('0'),
	[MaxVerboseLoggingMailbox] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MaxVerboseLoggingMailbox]  DEFAULT ((5)),
	[IsFullTextSearchEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsFullTextSearchEnabled]  DEFAULT ((0)),
	[DefaultMobileOfflineProfileId] [uniqueidentifier] NULL,
	[AutoApplyDefaultonCaseCreate] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AutoApplyDefaultonCaseCreate]  DEFAULT ((1)),
	[IsDelegateAccessEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsDelegateAccessEnabled]  DEFAULT ((0)),
	[KMSettings] [nvarchar](max) NULL,
	[MobileOfflineMinLicenseTrial] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MobileOfflineMinLicenseTrial]  DEFAULT ((0)),
	[DefaultThemeData] [nvarchar](max) NULL,
	[AutoApplySLA] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AutoApplySLA]  DEFAULT ((0)),
	[MailboxIntermittentIssueMinRange] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MailboxIntermittentIssueMinRange]  DEFAULT ((2)),
	[HighContrastThemeData] [nvarchar](max) NULL,
	[IsFolderBasedTrackingEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsFolderBasedTrackingEnabled]  DEFAULT ((0)),
	[PrivacyStatementUrl] [nvarchar](500) NULL,
	[MobileOfflineMinLicenseProd] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_MobileOfflineMinLicenseProd]  DEFAULT ((30)),
	[ExpireChangeTrackingInDays] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_ExpireChangeTrackingInDays]  DEFAULT ((30)),
	[ExternalPartyCorrelationKeys] [nvarchar](max) NULL,
	[ShowKBArticleDeprecationNotification] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_ShowKBArticleDeprecationNotification]  DEFAULT ((1)),
	[IsMailboxForcedUnlockingEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsMailboxForcedUnlockingEnabled]  DEFAULT ((1)),
	[ExternalPartyEntitySettings] [nvarchar](max) NULL,
	[IsOfficeGraphEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsOfficeGraphEnabled]  DEFAULT ((0)),
	[IsExternalSearchIndexEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsExternalSearchIndexEnabled]  DEFAULT ((0)),
	[CurrentKaNumber] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_CurrentKaNumber]  DEFAULT ((1000)),
	[DelegatedAdminUserId] [uniqueidentifier] NULL,
	[EnforceReadOnlyPlugins] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_EnforceReadOnlyPlugins]  DEFAULT ((0)),
	[IsEmailServerProfileContentFilteringEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsEmailServerProfileContentFilteringEnabled]  DEFAULT ((1)),
	[UseLegacyRendering] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_UseLegacyRendering]  DEFAULT ((0)),
	[IsMobileOfflineEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsMobileOfflineEnabled]  DEFAULT ((0)),
	[AzureSchedulerJobCollectionName] [nvarchar](100) NULL,
	[AutoApplyDefaultonCaseUpdate] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AutoApplyDefaultonCaseUpdate]  DEFAULT ((1)),
	[IsEnabledForAllRoles] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsEnabledForAllRoles]  DEFAULT ((1)),
	[IsPreviewForEmailMonitoringAllowed] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsPreviewForEmailMonitoringAllowed]  DEFAULT ((0)),
	[IsPreviewForAutoCaptureEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsPreviewForAutoCaptureEnabled]  DEFAULT ((0)),
	[IsResourceBookingExchangeSyncEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsResourceBookingExchangeSyncEnabled]  DEFAULT ((0)),
	[PostMessageWhitelistDomains] [nvarchar](500) NULL,
	[ExternalBaseUrl] [nvarchar](500) NULL,
	[MaximumEntitiesWithActiveSLA] [int] NULL CONSTRAINT [DF_OrganizationBase_MaximumEntitiesWithActiveSLA]  DEFAULT ((7)),
	[CortanaProactiveExperienceEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_CortanaProactiveExperienceEnabled]  DEFAULT ((0)),
	[WidgetProperties] [nvarchar](250) NULL,
	[RiErrorStatus] [int] NULL CONSTRAINT [DF_OrganizationBase_RiErrorStatus]  DEFAULT ((1)),
	[DefaultCrmCustomName] [nvarchar](50) NOT NULL CONSTRAINT [DF_OrganizationBase_DefaultCrmCustomName]  DEFAULT ('Dynamics 365 – custom'),
	[OfficeAppsAutoDeploymentEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_OfficeAppsAutoDeploymentEnabled]  DEFAULT ((0)),
	[AppDesignerExperienceEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_AppDesignerExperienceEnabled]  DEFAULT ((0)),
	[ProductRecommendationsEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_ProductRecommendationsEnabled]  DEFAULT ((0)),
	[PowerBiFeatureEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_PowerBiFeatureEnabled]  DEFAULT ((0)),
	[EnableMicrosoftFlowIntegration] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_EnableMicrosoftFlowIntegration]  DEFAULT ((1)),
	[UnresolveEmailAddressIfMultipleMatch] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_UnresolveEmailAddressIfMultipleMatch]  DEFAULT ((0)),
	[CurrentCategoryNumber] [int] NOT NULL CONSTRAINT [DF_OrganizationBase_CurrentCategoryNumber]  DEFAULT ((1000)),
	[IsDelveActionHubIntegrationEnabled] [bit] NULL CONSTRAINT [DF_OrganizationBase_IsDelveActionHubIntegrationEnabled]  DEFAULT ((0)),
	[CategoryPrefix] [nvarchar](20) NOT NULL CONSTRAINT [DF_OrganizationBase_CategoryPrefix]  DEFAULT ('CAT'),
	[IsActionCardEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsActionCardEnabled]  DEFAULT ((0)),
	[IsActivityAnalysisEnabled] [bit] NULL CONSTRAINT [DF_OrganizationBase_IsActivityAnalysisEnabled]  DEFAULT ((0)),
	[IsFolderAutoCreatedonSP] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsFolderAutoCreatedonSP]  DEFAULT ((0)),
	[TextAnalyticsEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_TextAnalyticsEnabled]  DEFAULT ((0)),
	[IsPreviewEnabledForActionCard] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsPreviewEnabledForActionCard]  DEFAULT ((0)),
	[IsConflictDetectionEnabledForMobileClient] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsConflictDetectionEnabledForMobileClient]  DEFAULT ((0)),
	[IsMobileClientOnDemandSyncEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsMobileClientOnDemandSyncEnabled]  DEFAULT ((0)),
	[IsAutoDataCaptureEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsAutoDataCaptureEnabled]  DEFAULT ((0)),
	[MaximumSLAKPIPerEntityWithActiveSLA] [int] NULL CONSTRAINT [DF_OrganizationBase_MaximumSLAKPIPerEntityWithActiveSLA]  DEFAULT ((5)),
	[MaxConditionsForMobileOfflineFilters] [int] NULL CONSTRAINT [DF_OrganizationBase_MaxConditionsForMobileOfflineFilters]  DEFAULT ((3)),
	[EnableLPAuthoring] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_EnableLPAuthoring]  DEFAULT ((0)),
	[OrgInsightsEnabled] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_OrgInsightsEnabled]  DEFAULT ((0)),
	[IsRelationshipInsightsEnabled] [bit] NULL CONSTRAINT [DF_OrganizationBase_IsRelationshipInsightsEnabled]  DEFAULT ((0)),
	[ACIWebEndpointUrl] [nvarchar](500) NULL,
	[IsEmailMonitoringAllowed] [bit] NOT NULL CONSTRAINT [DF_OrganizationBase_IsEmailMonitoringAllowed]  DEFAULT ((0)),
 CONSTRAINT [cndx_PrimaryKey_Organization] PRIMARY KEY CLUSTERED 
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[OrganizationBase]  WITH CHECK ADD  CONSTRAINT [basecurrency_organization] FOREIGN KEY([BaseCurrencyId])
REFERENCES [dbo].[TransactionCurrencyBase] ([TransactionCurrencyId])
GO
ALTER TABLE [dbo].[OrganizationBase] CHECK CONSTRAINT [basecurrency_organization]
GO
ALTER TABLE [dbo].[OrganizationBase]  WITH CHECK ADD  CONSTRAINT [calendar_organization] FOREIGN KEY([BusinessClosureCalendarId])
REFERENCES [dbo].[CalendarBase] ([CalendarId])
GO
ALTER TABLE [dbo].[OrganizationBase] CHECK CONSTRAINT [calendar_organization]
GO
ALTER TABLE [dbo].[OrganizationBase]  WITH CHECK ADD  CONSTRAINT [DefaultMobileOfflineProfile_Organization] FOREIGN KEY([DefaultMobileOfflineProfileId])
REFERENCES [dbo].[MobileOfflineProfileBaseIds] ([MobileOfflineProfileId])
GO
ALTER TABLE [dbo].[OrganizationBase] CHECK CONSTRAINT [DefaultMobileOfflineProfile_Organization]
GO
ALTER TABLE [dbo].[OrganizationBase]  WITH CHECK ADD  CONSTRAINT [EmailServerProfile_Organization] FOREIGN KEY([DefaultEmailServerProfileId])
REFERENCES [dbo].[EmailServerProfileBase] ([EmailServerProfileId])
GO
ALTER TABLE [dbo].[OrganizationBase] CHECK CONSTRAINT [EmailServerProfile_Organization]
GO
ALTER TABLE [dbo].[OrganizationBase]  WITH CHECK ADD  CONSTRAINT [Template_Organization] FOREIGN KEY([AcknowledgementTemplateId])
REFERENCES [dbo].[TemplateBaseIds] ([TemplateId])
GO
ALTER TABLE [dbo].[OrganizationBase] CHECK CONSTRAINT [Template_Organization]
GO
