USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[ReportVisibilityBase]    Script Date: 4/10/2017 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportVisibilityBase](
	[ReportId] [uniqueidentifier] NOT NULL,
	[ReportVisibilityId] [uniqueidentifier] NOT NULL,
	[VersionNumber] [timestamp] NULL,
	[ImportSequenceNumber] [int] NULL,
	[ModifiedOn] [datetime] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[VisibilityCode] [int] NOT NULL CONSTRAINT [DF_ReportVisibilityBase_VisibilityCode]  DEFAULT ((1)),
	[ModifiedBy] [uniqueidentifier] NULL,
	[SolutionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_ReportVisibilityBase_SolutionId]  DEFAULT ('fd140aad-4df4-11dd-bd17-0019b9312238'),
	[IsCustomizable] [bit] NOT NULL CONSTRAINT [DF_ReportVisibilityBase_IsCustomizable]  DEFAULT ((1)),
	[IsManaged] [bit] NOT NULL CONSTRAINT [DF_ReportVisibilityBase_IsManaged]  DEFAULT ((0)),
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[OverwriteTime] [datetime] NOT NULL CONSTRAINT [DF_ReportVisibilityBase_OverwriteTime]  DEFAULT ((0)),
	[ReportVisibilityIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_ReportVisibilityBase_ReportVisibilityIdUnique]  DEFAULT (newid()),
	[SupportingSolutionId] [uniqueidentifier] NULL,
	[ComponentState] [int] NOT NULL CONSTRAINT [DF_ReportVisibilityBase_ComponentState]  DEFAULT ((0)),
 CONSTRAINT [cndx_PrimaryKey_ReportVisibility] PRIMARY KEY CLUSTERED 
(
	[ReportVisibilityId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [UQ_ReportVisibilityBase_ReportVisibilityIdUnique]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[ReportVisibilityBase] ADD  CONSTRAINT [UQ_ReportVisibilityBase_ReportVisibilityIdUnique] UNIQUE NONCLUSTERED 
(
	[ReportVisibilityIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[ReportVisibilityBase]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ndx_for_cascaderelationship_report_reportvisibility]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [ndx_for_cascaderelationship_report_reportvisibility] ON [dbo].[ReportVisibilityBase]
(
	[ReportId] ASC
)
INCLUDE ( 	[ComponentState]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
