USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[SdkMessageBaseIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SdkMessageBaseIds](
	[SdkMessageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SdkMessageBaseIds] PRIMARY KEY CLUSTERED 
(
	[SdkMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SdkMessageBaseIds] ([SdkMessageId]) VALUES (N'83bdbb1b-ea3e-db11-86a7-000a3a5473e8')
INSERT [dbo].[SdkMessageBaseIds] ([SdkMessageId]) VALUES (N'84bdbb1b-ea3e-db11-86a7-000a3a5473e8')
INSERT [dbo].[SdkMessageBaseIds] ([SdkMessageId]) VALUES (N'85bdbb1b-ea3e-db11-86a7-000a3a5473e8')
GO
