USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[ColumnMappingBase]    Script Date: 4/10/2017 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColumnMappingBase](
	[ColumnMappingId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[TargetEntityName] [nvarchar](160) NULL,
	[StatusCode] [int] NOT NULL CONSTRAINT [DF_ColumnMappingBase_StatusCode]  DEFAULT ((0)),
	[ProcessCode] [int] NOT NULL CONSTRAINT [DF_ColumnMappingBase_ProcessCode]  DEFAULT ((1)),
	[ModifiedOn] [datetime] NOT NULL,
	[TargetAttributeName] [nvarchar](160) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ImportMapId] [uniqueidentifier] NULL,
	[SourceAttributeName] [nvarchar](160) NULL,
	[SourceEntityName] [nvarchar](160) NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[StateCode] [int] NOT NULL CONSTRAINT [DF_ColumnMappingBase_StateCode]  DEFAULT ((0)),
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
 CONSTRAINT [cndx_PrimaryKey_ColumnMapping] PRIMARY KEY CLUSTERED 
(
	[ColumnMappingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [fndx_for_cascaderelationship_ColumnMapping_ImportMap]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [fndx_for_cascaderelationship_ColumnMapping_ImportMap] ON [dbo].[ColumnMappingBase]
(
	[ImportMapId] ASC
)
WHERE ([ImportMapId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ndx_Core]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [ndx_Core] ON [dbo].[ColumnMappingBase]
(
	[StateCode] ASC,
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ColumnMappingBase]  WITH CHECK ADD  CONSTRAINT [ColumnMapping_ImportMap] FOREIGN KEY([ImportMapId])
REFERENCES [dbo].[ImportMapBase] ([ImportMapId])
GO
ALTER TABLE [dbo].[ColumnMappingBase] CHECK CONSTRAINT [ColumnMapping_ImportMap]
GO
