USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[MetadataDifference]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetadataDifference](
	[CreatedOn] [datetime] NULL,
	[IntroducedVersionString] [nvarchar](48) NULL,
	[ModifiedOn] [datetime] NULL,
	[MetadataDifferenceId] [uniqueidentifier] NOT NULL,
	[DifferenceXml] [nvarchar](max) NOT NULL,
	[SolutionId] [uniqueidentifier] NOT NULL,
	[IntroducedVersion] [float] NOT NULL,
 CONSTRAINT [cndx_PrimaryKey_MetadataDifference] PRIMARY KEY CLUSTERED 
(
	[MetadataDifferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [ndx_Unique_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ndx_Unique_VersionNumber] ON [dbo].[MetadataDifference]
(
	[IntroducedVersion] ASC,
	[SolutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
