USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[TransformationMappingBase]    Script Date: 4/10/2017 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransformationMappingBase](
	[ImportMapId] [uniqueidentifier] NULL,
	[TransformationTypeName] [nvarchar](256) NULL,
	[ProcessCode] [int] NOT NULL CONSTRAINT [DF_TransformationMappingBase_ProcessCode]  DEFAULT ((1)),
	[SourceEntityName] [nvarchar](160) NULL,
	[StatusCode] [int] NOT NULL CONSTRAINT [DF_TransformationMappingBase_StatusCode]  DEFAULT ((0)),
	[ModifiedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[TransformationMappingId] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[StateCode] [int] NOT NULL CONSTRAINT [DF_TransformationMappingBase_StateCode]  DEFAULT ((0)),
	[TargetEntityName] [nvarchar](160) NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
 CONSTRAINT [cndx_PrimaryKey_TransformationMapping] PRIMARY KEY CLUSTERED 
(
	[TransformationMappingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [ndx_Core]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE NONCLUSTERED INDEX [ndx_Core] ON [dbo].[TransformationMappingBase]
(
	[StateCode] ASC,
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TransformationMappingBase]  WITH CHECK ADD  CONSTRAINT [TransformationMapping_ImportMap] FOREIGN KEY([ImportMapId])
REFERENCES [dbo].[ImportMapBase] ([ImportMapId])
GO
ALTER TABLE [dbo].[TransformationMappingBase] CHECK CONSTRAINT [TransformationMapping_ImportMap]
GO
