USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[TemplateBase]    Script Date: 4/10/2017 9:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TemplateBase](
	[TemplateId] [uniqueidentifier] NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[OwningBusinessUnit] [uniqueidentifier] NULL,
	[IsPersonal] [bit] NULL CONSTRAINT [Set_To_Zero149]  DEFAULT ((0)),
	[MimeType] [nvarchar](256) NULL,
	[TemplateTypeCode] [int] NOT NULL CONSTRAINT [DF_TemplateBase_TemplateTypeCode]  DEFAULT ((8)),
	[Body] [nvarchar](max) NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[PresentationXml] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[VersionNumber] [timestamp] NULL,
	[SubjectPresentationXml] [nvarchar](max) NULL,
	[GenerationTypeCode] [int] NULL CONSTRAINT [DF_TemplateBase_GenerationTypeCode]  DEFAULT ((0)),
	[LanguageCode] [int] NULL,
	[ImportSequenceNumber] [int] NULL,
	[SolutionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_TemplateBase_SolutionId]  DEFAULT ('fd140aad-4df4-11dd-bd17-0019b9312238'),
	[SupportingSolutionId] [uniqueidentifier] NULL,
	[ComponentState] [int] NOT NULL CONSTRAINT [DF_TemplateBase_ComponentState]  DEFAULT ((0)),
	[TemplateIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_TemplateBase_TemplateIdUnique]  DEFAULT (newid()),
	[IsManaged] [bit] NOT NULL CONSTRAINT [DF_TemplateBase_IsManaged]  DEFAULT ((0)),
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[IsCustomizable] [bit] NOT NULL CONSTRAINT [DF_TemplateBase_IsCustomizable]  DEFAULT ((1)),
	[OverwriteTime] [datetime] NOT NULL CONSTRAINT [DF_TemplateBase_OverwriteTime]  DEFAULT ((0)),
	[OwnerId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_TemplateBase_OwnerId]  DEFAULT ('00000000-0000-0000-0000-000000000000'),
	[OwnerIdType] [int] NOT NULL CONSTRAINT [DF_TemplateBase_OwnerIdType]  DEFAULT ((8)),
	[IntroducedVersion] [nvarchar](48) NULL,
	[IsRecommended] [bit] NULL CONSTRAINT [DF_TemplateBase_IsRecommended]  DEFAULT ((0)),
	[OpenCount] [int] NULL,
	[ReplyRate] [int] NULL,
	[ReplyCount] [int] NULL,
	[UsedCount] [int] NULL,
	[OpenRate] [int] NULL,
 CONSTRAINT [cndx_PrimaryKey_Template] PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [UQ_TemplateBase_TemplateIdUnique]    Script Date: 4/10/2017 9:59:57 PM ******/
ALTER TABLE [dbo].[TemplateBase] ADD  CONSTRAINT [UQ_TemplateBase_TemplateIdUnique] UNIQUE NONCLUSTERED 
(
	[TemplateIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [fndx_for_cascaderelationship_business_unit_templates]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE NONCLUSTERED INDEX [fndx_for_cascaderelationship_business_unit_templates] ON [dbo].[TemplateBase]
(
	[OwningBusinessUnit] ASC
)
WHERE ([OwningBusinessUnit] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[TemplateBase]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ndx_Security]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE NONCLUSTERED INDEX [ndx_Security] ON [dbo].[TemplateBase]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ndx_Title]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE NONCLUSTERED INDEX [ndx_Title] ON [dbo].[TemplateBase]
(
	[Title] ASC,
	[LanguageCode] ASC,
	[TemplateTypeCode] ASC,
	[IsPersonal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
