USE [D365_MSCRM]
GO
/****** Object:  Table [MetadataSchema].[IndexFilters]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MetadataSchema].[IndexFilters](
	[IndexFilterId] [uniqueidentifier] NOT NULL,
	[IndexId] [uniqueidentifier] NOT NULL,
	[AttributeId] [uniqueidentifier] NOT NULL,
	[FilterOperator] [nvarchar](64) NOT NULL,
	[FilterValue] [nvarchar](512) NULL,
 CONSTRAINT [PK_IndexFilters] PRIMARY KEY CLUSTERED 
(
	[IndexFilterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [MetadataSchema].[IndexFilters] ([IndexFilterId], [IndexId], [AttributeId], [FilterOperator], [FilterValue]) VALUES (N'3f57787b-c5b3-4107-af09-001677e022d1', N'7f12c90f-1705-42fb-a08b-b92a12c3433b', N'c21720f8-ff67-4757-b7e1-d39900cd5faa', N'is not null', NULL)
INSERT [MetadataSchema].[IndexFilters] ([IndexFilterId], [IndexId], [AttributeId], [FilterOperator], [FilterValue]) VALUES (N'cf9de022-e0ed-49f6-9589-001db83fbd2b', N'edd3a2c7-3abd-497c-a34a-7e4b00df9560', N'032da5a3-f1b8-4e0b-ad77-fb04a257688c', N'is not null', NULL)
INSERT [MetadataSchema].[IndexFilters] ([IndexFilterId], [IndexId], [AttributeId], [FilterOperator], [FilterValue]) VALUES (N'1fd3d18d-3f15-45ba-aa98-00652a3542d4', N'8cec0229-b2a3-45e6-86a0-a50dcd7f514d', N'2578fcdc-3074-4ec5-b213-1d9f959c91fc', N'is not null', NULL)
GO
ALTER TABLE [MetadataSchema].[IndexFilters]  WITH CHECK ADD  CONSTRAINT [indexfilters_indexid] FOREIGN KEY([IndexId])
REFERENCES [MetadataSchema].[EntityIndex] ([IndexId])
GO
ALTER TABLE [MetadataSchema].[IndexFilters] CHECK CONSTRAINT [indexfilters_indexid]
GO
