<div class="mscrm-createNewAppBody" mscrm-disable-focus-on-keydown>
	<div id="createNewAppPageHeader">
		<mscrm-wizard-buttonstrip></mscrm-wizard-buttonstrip>
	</div>
	<div role="group"
		 id="createNewAppPageBody" class="createNewAppPageBody"
		 aria-labelledby="mscrm-createAppHeader"
		 mscrm-major-component data-ctabindex="0" tabindex="0" data-mcgroupname="primary"
		 aria-hidden="false">
		<div id="mscrm-createAppHeader" class="mscrm-createAppHeader">
			<h3 id="AppDesigner.AppTitle" class="mscrm-createNewAppTitle"><mscrm-locale mscrm-resource-key="AppDesigner.NewAppTitle" /></h3>
			<div id="AppDesigner.AppDescription" class="mscrm-createNewAppDescription" mscrm-locale mscrm-resource-key="AppDesigner.NewAppDescription" mscrm-target-attr="title"><mscrm-locale mscrm-resource-key="AppDesigner.NewAppDescription" /></div>
		</div>
		<mscrm-notification-bar />
		<mscrm-app-info-form mscrm-initial-focus-on-load data-focuselementid="AppDesigner.Title"></mscrm-app-info-form>
	</div>
</div>