<div class="mscrm-SitemapComponentTileContainer" ng-attr-title="{{tooltip}}">
    <div ng-class="['mscrm-SitemapComponentIcon', icon]">
    </div>
    <div class="mscrm-SitemapComponentTileName">
        <div class="mscrm-SitemapComponentTileLabel">
            <mscrm-locale mscrm-resource-key="{{label}}"></mscrm-locale>
        </div>
        <div class="mscrm-SitemapComponentTileDesc">
            <mscrm-locale mscrm-resource-key="{{description}}"></mscrm-locale>
        </div>
    </div>
</div>