<div class="mscrm-SitemapDesignerStatusBar">
    <div class="mscrm-breadcrumbTitle">
        <div tabindex="-1" mscrm-major-component data-ctabindex="2" data-mcgroupname="primary" class="mscrm-SitemapBreadcrumbWrapperDiv">
            <mscrm-breadcrumb></mscrm-breadcrumb>
        </div>
    </div>
    <div class="mscrm-SitemapStatusBar">
        <div tabindex="-1" mscrm-major-component data-ctabindex="3" data-mcgroupname="primary" data-skipmcfocus="1" class="mscrm-SiteMapStatusBarWrapperDiv">
            <div tabindex="-1" class="mscrm-SiteMapStatusBarWrapperMajorComp">
                <div ng-bind="sitemapStatusBarController.sitemapStatus()"></div>
            </div>
        </div>
    </div>
</div>