<div class="mscrm-SitemapDesigner" ng-controller="mscrmSitemapDesignerShellController as sitemapShellController" mscrm-disable-commandbar ng-click="sitemapShellController.SitemapDesignerShellClick($event)" role="group" mscrm-disable-focus-on-keydown>
	 <mscrm-sitemap-status-bar></mscrm-sitemap-status-bar>
	 <mscrm-sitemap-global-command-bar></mscrm-sitemap-global-command-bar>
	 <div class="mscrm-sitemapPaneContainer">
		  <mscrm-sitemap-designer-shell></mscrm-sitemap-designer-shell>
	 </div>
</div>