<div class="mscrm-sitemapNode" ng-show="isAdvancedSectionOpen">
	<div class="mscrm-sitemapSubNodeTitle" ng-click="propertyPaneController.toggleSkuCheckboxList($event); propertyPaneController.LoadOptionSetValuesForSkuAndClient(PropertyDirective.nodeLabel);"
		 aria-expanded="false" mscrm-action-on-select tabindex="-1">
		<span ng-class="['mscrm-collapsibleIcon',
			{'mscrm-glyph-NextArrowIcon': !isItemsOpened,
			'mscrm-glyph-DownArrowIcon': isItemsOpened}]"></span>
		<span>{{PropertyDirective.nodeDisplayName}}</span>
	</div>
	<div class="mscrm-sitemapNodeContent" ng-init="isItemsOpened = false" ng-if="isItemsOpened" mscrm-arrow-key-navigation data-arrow-direction="vertical">
		<div class="mscrm-CheckBoxList">
			<div class="mscrm-SKUCheckBox" ng-repeat="item in propertyPaneController.skuOptionsList"
				 mscrm-locale mscrm-resource-key="SitemapDesigner.SubAreaSku.Tooltip" mscrm-target-attr="title">
				<div class="mscrm-CheckBoxAllCol" ng-if="$index == 0">
					<div class="mscrm-CheckBoxRowCol-ItemSelector">
						<input type="checkbox" id="{{item.Id}}"
							   ng-checked="item.Value"
							   ng-click="propertyPaneController.SetSku(item.Label)"
							   mscrm-action-on-select
							   tabindex="-1"
							   aria-label="{{item.Label}}" />
					</div>
					<div class="mscrm-CheckBoxRowCol-ItemDetails">
						<label for="item">{{item.Label}}</label>
					</div>
				</div>
				<div class="mscrm-CheckBox" ng-if="$odd && $index != 0">
					<div class="mscrm-CheckBoxRowCol">
						<div class="mscrm-CheckBoxRowCol-ItemSelector">
							<input type="checkbox"
								   id="{{propertyPaneController.skuOptionsList[$index].Id}}"
								   ng-checked="propertyPaneController.skuOptionsList[$index].Value"
								   ng-click="propertyPaneController.SetSku(propertyPaneController.skuOptionsList[$index].Label)" mscrm-action-on-select
								   tabindex="-1"
								   aria-label="{{propertyPaneController.skuOptionsList[$index].Label}}" />
						</div>
						<div class="mscrm-CheckBoxRowCol-ItemDetails">
							<label for="item">{{propertyPaneController.skuOptionsList[$index].Label}}</label>
						</div>
					</div>
					<div class="mscrm-CheckBoxRowCol" ng-if="($index + 1) <  propertyPaneController.skuOptionsList.length">
						<div class="mscrm-CheckBoxRowCol-ItemSelector">
							<input type="checkbox"
								   id="{{propertyPaneController.skuOptionsList[$index+1].Id}}"
								   ng-checked="propertyPaneController.skuOptionsList[$index+1].Value"
								   ng-click="propertyPaneController.SetSku(propertyPaneController.skuOptionsList[$index+1].Label)" mscrm-action-on-select
								   tabindex="-1"
								   aria-label="{{propertyPaneController.skuOptionsList[$index+1].Label}}" />
						</div>
						<div class="mscrm-CheckBoxRowCol-ItemDetails">
							<label for="item">{{propertyPaneController.skuOptionsList[$index+1].Label}}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>