<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".manifest" />
      <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" />
    </staticContent>
  </system.webServer>
</configuration>