<div class="mscrm-AppDesignerStatusBar">
	<div class="mscrm-AppDesignerBreadcrumbContainer">
		<div mscrm-major-component data-ctabindex="3" tabindex="-1" data-mcgroupname="primary" class="mscrm-AppBreadcrumbWrapperDiv">
			<mscrm-breadcrumb></mscrm-breadcrumb>
		</div>
	</div>
	<div class="mscrm-AppStatusBar">
		<div class="mscrm-AppStatusBarContents">
			<div mscrm-major-component data-ctabindex="4" tabindex="-1" data-mcgroupname="primary" data-skipmcfocus="1" class="mscrm-AppStatusBarWrapperDiv">
				<div tabindex="-1" class="mscrm-AppStatusBarWrapperMajorComp">
					<div id="AppDesigner.AppLastSavedOn">{{appController.AppLastSavedOnText}}</div>
					<div id="AppDesigner.AppInfoStatus">{{appController.AppInfoStatus}}</div>
				</div>
			</div>
		</div>
	</div>
</div>