<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <remove name="crm.authentication" />
  </configSections>

  <system.web>

    <httpRuntime executionTimeout="300" maxRequestLength="8192" />
    <httpModules>
      <clear />
    </httpModules>

    <compilation defaultLanguage="C#" debug="false">

      <assemblies>
        <clear />
        <add assembly="*" />
        <add assembly="Microsoft.Crm, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add
          assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <clear />
        </fileExtensions>
      </requestFiltering>
    </security>
    <modules>
      <remove name="CrmSessionAuthenticationManager" />
      <remove name="CrmFederatedAuthenticationModule" />
      <remove name="CrmAuthentication" />
    </modules>
  </system.webServer>
  <appSettings>
    <!--
			Help Catalog Name
			========================================================================================
			This is the name of the Index Server Catalog to use when executing queries from Help.
			Default Setting: "Microsoft CRM Help"
		-->
    <add key="HelpCatalogName" value="Microsoft CRM Help" />
  </appSettings>
</configuration>