<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="MailAppSecureProtocol" value="Tls12" /> <!-- System.Net.SecurityProtocolType enum value -->
		<add key="MailAppSecureProtocolFallback" value="Tls11" /> <!-- System.Net.SecurityProtocolType enum value -->
		<add key="UseStateForAuthUrl" value="false" /><!-- If false, state is not be used to provide auth URL in code_auth.aspx, otherwise it will be used as a fallback-->
	</appSettings>
	<location path="index.html">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="DisableCache" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>