<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".manifest" />
            <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
            <clientCache cacheControlMode="DisableCache"/>
        </staticContent>
    </system.webServer>
    <location path="app.manifest">
        <system.webServer>
            <rewrite>
              <rules>
                <rule name="AppManifestCdnRedirect" stopProcessing="true">
                  <action type="Rewrite" url="../Handlers/UnifiedClientCDNHandler.ashx"/>
                </rule>
              </rules>
            </rewrite>
        </system.webServer>
    </location>
    <location path="main.htm">
        <system.webServer>
            <rewrite>
              <rules>
                <rule name="MainHtmCdnRedirect" stopProcessing="true">
                  <action type="Rewrite" url="../Handlers/UnifiedClientCDNHandler.ashx"/>
                </rule>
              </rules>
            </rewrite>
        </system.webServer>
    </location>
    <location path="blank.htm">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="resources">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </system.webServer>
    </location>
    <location path="resources/styles">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="x-content-type-options" value="nosniff" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="embed.js">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Access-Control-Allow-Origin" value="*" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="embedauth.htm">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="Access-Control-Allow-Origin" value="*" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="scripts">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
            <httpProtocol>
                <customHeaders>
                    <add name="x-content-type-options" value="nosniff" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="sw.js">
        <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="service-worker-allowed" value="/" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
</configuration>
