<?xml version="1.0" encoding="utf-8"?><configuration><configSections></configSections><system.web><httpModules><clear /><add name="CrmAuthentication" type="Microsoft.Crm.Authentication.AuthenticationEngine, Microsoft.Crm.Authentication, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /></httpModules><compilation defaultLanguage="C#" debug="false"><assemblies><clear /><add assembly="Microsoft.Crm, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /><add assembly="Microsoft.Crm.DeploymentService, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" /></assemblies></compilation></system.web><location><system.webServer><modules><remove name="CrmFederatedAuthenticationModule" /><remove name="CrmSessionAuthenticationManager" /><remove name="OnBeginRequestTelemetryCorrelationModule" /><remove name="OnPostAuthenticateRequestTelemetryCorrelationModule" /><remove name="WebApiUrlRewriteModule" /></modules></system.webServer></location><!--
	Specific settings for the MSCRMServices directory
	--><crm.authentication><authentication /></crm.authentication><runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"><dependentAssembly><assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" /><bindingRedirect oldVersion="3.3.0.0-4.6.0.0" newVersion="4.6.0.0" /></dependentAssembly>
	<dependentAssembly>
	  <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
	  <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="13.0.0.0" />
	</dependentAssembly>
<dependentAssembly><assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" /></dependentAssembly></assemblyBinding></runtime></configuration>