<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- COMMENT:START CRM Titan 28973
			If you add any new section here , please ensure that section name is removed from help/web.config
End COMMENT:END-->
    <section name="crm.authentication" type="Microsoft.Crm.Authentication.AuthenticationSettingsConfigurationSectionHandler, Microsoft.Crm.Authentication, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <system.web>
    <httpRuntime executionTimeout="300" maxQueryStringLength="32768" maxRequestLength="131072" requestValidationMode="2.0" encoderType="Microsoft.Crm.CrmHttpEncoder, Microsoft.Crm" enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" maxUrlLength="32768" requestPathInvalidCharacters="&amp;,\,?" />
    <httpModules>
      <!-- note: AbortSlowHttpRequestsModule must come first -->
      <add name="AbortSlowHttpRequestsModule" type="Microsoft.Crm.Extensibility.AbortSlowHttpRequestsModule, Microsoft.Crm.Extensibility, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrmFederatedAuthenticationModule" type="Microsoft.Crm.Authentication.Claims.CrmFederatedAuthenticationModule, Microsoft.Crm.Authentication, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrmSessionAuthenticationManager" type="Microsoft.Crm.Authentication.Claims.CrmSessionAuthenticationManager, Microsoft.Crm.Authentication, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CrmAuthentication" type="Microsoft.Crm.Authentication.AuthenticationEngine, Microsoft.Crm.Authentication, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="WebApiUrlRewriteModule" type="Microsoft.Crm.Application.Components.Modules.WebApiUrlRewriteModule, Microsoft.Crm.Application.Components.Application, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="MapOrg" type="Microsoft.Crm.MapOrgEngine, Microsoft.Crm.Core, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Crm.Web.Reporting.ReportViewerValidationHandler, Microsoft.Crm.Application.Pages, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <compilation defaultLanguage="C#" debug="false">
      <assemblies>
        <add assembly="Microsoft.Crm.Platform.Passport, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Crm, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Crm.Sdk, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Crm.Platform.Sdk, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <pages buffer="true" enableSessionState="false" enableViewState="false" validateRequest="false" />
    <sessionState mode="Off" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <location>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="Allow" value="OPTIONS,GET,HEAD,POST" />
          <add name="Public" value="OPTIONS,GET,HEAD,POST" />
          <add name="Timing-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
      <rewrite>
        <outboundRules>
          <rule name="Remove Server Header">
            <match serverVariable="RESPONSE_Server" pattern=".+" />
            <action type="Rewrite" value="" />
          </rule>
          <rule name="Clear Pragma For Manifest CDN Redirect" preCondition="UClientManifestUrl">
            <match serverVariable="RESPONSE_Pragma" pattern=".*" />
            <action type="Rewrite" value="" />
          </rule>
          <preConditions>
            <preCondition name="UClientManifestUrl">
              <add input="{URL}" pattern="[/uclient/app.manifest]" />
            </preCondition>
          </preConditions>
        </outboundRules>
      </rewrite>
      <handlers>
        <remove name="WebDAV" />
        <remove name="ExtensionlessUrl-ISAPI-4.0_64bit" />
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
        <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="OPTIONSVerbHandler" />
        <add name="Reserved.ReportViewerWebControl.axd_*" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Crm.Web.Reporting.ReportViewerValidationHandler, Microsoft.Crm.Application.Pages, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="api/*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="api/*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="api/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="StaticFileModule" requireAccess="None" />
        <!-- run managed modules on this URI path -->
        <add name="NativeWebSession" path="NativeWebSession/*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>
      <modules>
        <remove name="WebDAVModule" />
        <!-- note: OnBeginRequestTelemetryCorrelationModule must come first followed by AbortSlowHttpRequestsModule -->
        <add name="OnBeginRequestTelemetryCorrelationModule" type="Microsoft.Crm.Application.Components.Application.Modules.OnBeginRequestTelemetryCorrelationModule, Microsoft.Crm.Application.Components.Application, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
        <add name="AbortSlowHttpRequestsModule" type="Microsoft.Crm.Extensibility.AbortSlowHttpRequestsModule, Microsoft.Crm.Extensibility, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="MapOrg" type="Microsoft.Crm.MapOrgEngine, Microsoft.Crm.Core, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
        <add name="CrmFederatedAuthenticationModule" type="Microsoft.Crm.Authentication.Claims.CrmFederatedAuthenticationModule, Microsoft.Crm.Authentication, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
        <add name="CrmSessionAuthenticationManager" type="Microsoft.Crm.Authentication.Claims.CrmSessionAuthenticationManager, Microsoft.Crm.Authentication, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
        <add name="CrmAuthentication" type="Microsoft.Crm.Authentication.AuthenticationEngine, Microsoft.Crm.Authentication, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
        <add name="OnPostAuthenticateRequestTelemetryCorrelationModule" type="Microsoft.Crm.Application.Components.Application.Modules.OnPostAuthenticateRequestTelemetryCorrelationModule, Microsoft.Crm.Application.Components.Application, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
        <add name="WebApiUrlRewriteModule" type="Microsoft.Crm.Application.Components.Modules.WebApiUrlRewriteModule, Microsoft.Crm.Application.Components.Application, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      </modules>
    </system.webServer>
  </location>
  <!--
	Specific settings for the MSCRMServices directory
	-->
  <location path="MSCRMServices">
    <system.web>
      <httpRuntime maxRequestLength="32768" />
      <webServices>
        <!-- configuring the reflector + format extension for custom WSDL generation -->
        <soapExtensionReflectorTypes>
          <add type="Microsoft.Crm.Sdk.CrmServiceSoapExtensionReflector, Microsoft.Crm.WebServices" />
        </soapExtensionReflectorTypes>
        <conformanceWarnings>
          <remove name="BasicProfile1_1" />
        </conformanceWarnings>
      </webServices>
    </system.web>
  </location>
  <!--
	Support for Live Portal
	-->
  <location path="Portal">
    <system.web>
      <compilation defaultLanguage="C#" debug="false">
        <assemblies>
          <clear />
          <add assembly="*" />
        </assemblies>
      </compilation>
      <pages enableSessionState="true" validateRequest="false" enableViewState="true" />
    </system.web>
    <system.webServer>
      <modules>
        <remove name="AbortSlowHttpRequestsModule" />
        <remove name="OnBeginRequestTelemetryCorrelationModule" />
        <remove name="OnPostAuthenticateRequestTelemetryCorrelationModule" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <!--
	Support for Live Platform
	-->
  <location path="Platform">
    <system.web>
      <compilation defaultLanguage="C#" debug="false">
        <assemblies>
          <clear />
          <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="*" />
        </assemblies>
      </compilation>
      <pages enableSessionState="true" validateRequest="false" enableViewState="true" />
    </system.web>
    <system.webServer>
      <modules>
        <remove name="AbortSlowHttpRequestsModule" />
        <remove name="CrmFederatedAuthenticationModule" />
        <remove name="CrmSessionAuthenticationManager" />
        <remove name="CrmAuthentication" />
        <remove name="OnBeginRequestTelemetryCorrelationModule" />
        <remove name="OnPostAuthenticateRequestTelemetryCorrelationModule" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <location path="CrmLiveAdminWebService">
    <system.web>
      <compilation defaultLanguage="C#" debug="false">
        <assemblies>
          <clear />
          <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
          <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
          <add assembly="*" />
        </assemblies>
      </compilation>
    </system.web>
    <system.webServer>
      <modules>
        <remove name="AbortSlowHttpRequestsModule" />
        <remove name="CrmFederatedAuthenticationModule" />
        <remove name="CrmSessionAuthenticationManager" />
        <remove name="CrmAuthentication" />
        <remove name="OnBeginRequestTelemetryCorrelationModule" />
        <remove name="OnPostAuthenticateRequestTelemetryCorrelationModule" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <location path="Support">
    <system.web>
      <compilation defaultLanguage="C#" debug="false">
        <assemblies>
          <!-- Only remove explicit assemblies added above -->
          <remove assembly="Microsoft.Crm, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <remove assembly="Microsoft.Crm.Sdk, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <remove assembly="Microsoft.Crm.Platform.Sdk, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <remove assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
          <remove assembly="Microsoft.Crm.Platform.Passport, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </assemblies>
      </compilation>
      <httpModules>
        <!-- Only remove explicit modules added above -->
        <remove name="AbortSlowHttpRequestsModule" />
        <remove name="CrmFederatedAuthenticationModule" />
        <remove name="CrmSessionAuthenticationManager" />
        <remove name="CrmAuthentication" />
      </httpModules>
    </system.web>
    <system.webServer>
      <modules>
        <remove name="AbortSlowHttpRequestsModule" />
        <remove name="CrmFederatedAuthenticationModule" />
        <remove name="CrmSessionAuthenticationManager" />
        <remove name="CrmAuthentication" />
        <remove name="OnBeginRequestTelemetryCorrelationModule" />
        <remove name="OnPostAuthenticateRequestTelemetryCorrelationModule" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <location path="G">
    <system.web>
      <httpModules>
        <remove name="WebApiUrlRewriteModule" />
      </httpModules>
    </system.web>
    <system.webServer>
      <modules>
        <remove name="AbortSlowHttpRequestsModule" />
        <remove name="OnBeginRequestTelemetryCorrelationModule" />
        <remove name="OnPostAuthenticateRequestTelemetryCorrelationModule" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location>
  <location path="viewer.aspx">
    <system.web>
      <pages buffer="true" enableSessionState="false" enableViewState="true" validateRequest="false" />
    </system.web>
  </location>
  <appSettings>
    <!--
    Task are only added in dot net 4.5, corext env has dot net 4.0. so HttpContext was becoming
    null after context switch in Odata Batching.    
    The "true" value for "aspnet:UseTaskFriendlySynchronizationContex" tells ASP.NET to use an entirely
    new asynchronous pipeline which follows CLR conventions for kicking off asynchronous operations, 
    including returning threads to the ThreadPool when necessary. ASP.NET 4.0 and below followed its own 
    conventions which went against CLR guidelines, and if the switch is not enabled it is very easy for
    asynchronous methods to run synchronously, deadlock the request, or otherwise not behave as expected.
    -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <!--
			Help Catalog Name
			========================================================================================
			This is the name of the Index Server Catalog to use when executing queries from Help.
			Default Setting: "Microsoft Dynamics 365 Help"
		-->
    <add key="HelpCatalogName" value="Microsoft Dynamics 365 Help" />
    <!--
			Show Developer Errors
			========================================================================================
			If a server-side error occurs, this setting determines whether or not Debug error
			messages are rendered to the user.  Debug error message are not recommended for
			production environments, but may be useful in attempting to debug a problem you are
			having with MSCRM.
			Recommended Setting: "Off"
			Values: "On" or "Off"
		-->
    <add key="DevErrors" value="Off" />
    <!--
			Client Type
			========================================================================================
			This variable is used by the code to determine if the web pages are in Outlook
			client mode or in web mode.  Note that the Outlook Desktop client will use the Web
			mode since it's actually hitting the application server.
			Values: "Outlook" or "Web"
-->
    <add key="ClientType" value="Web" />
    <add key="ReportViewerServerConnection" value="Microsoft.Crm.Web.Reporting.CrmReportServerConnection, Microsoft.Crm.Application.Pages, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <add key="ReportViewerMessages" value="Microsoft.Crm.Web.Reporting.CrmReportViewerMessages, Microsoft.Crm.Application.Pages, Version=9.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </appSettings>
  <crm.authentication>
    <authentication />
  </crm.authentication>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxAllowedContentLength="134217728" />
        <denyUrlSequences>
          <add sequence="MSCRMServices/2007/CrmDeploymentService.asmx" />
        </denyUrlSequences>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension=".resx" />
          <add fileExtension=".resx" allowed="true" />
        </fileExtensions>
        <hiddenSegments>
        </hiddenSegments>
        <verbs allowUnlisted="true" applyToWebDAV="true">
          <add verb="OPTIONS" allowed="true" />
          <add verb="TRACE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <rewrite>
      <rules>
        <rule name="ClientGlobalContextRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?(WebResources|Handlers)/ClientGlobalContext.js.aspx" />
          <action type="Rewrite" url="/{R:1}/_Common/ClientGlobalContext.js.aspx" />
        </rule>
        <rule name="WebResourcesRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?webresources/([^\\?]+)" />
          <action type="Rewrite" url="/{R:1}/Handlers/WebResource.ashx?name={R:3}" />
        </rule>
        <rule name="FederationMetadataRule" stopProcessing="true">
          <match url="FederationMetadata/2007-06/FederationMetadata.xml" />
          <action type="Rewrite" url="/Handlers/FederationMetadata.ashx" />
        </rule>
        <rule name="GetFileRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?wopi/files/([0-9a-zA-Z][^/]*)/contents" />
          <action type="Rewrite" url="{R:1}/Handlers/WopiServerHandler.ashx?action=GetFile&amp;fileId={R:3}&amp;access_token={C:1}" appendQueryString="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="GET" />
            <add input="{QUERY_STRING}" pattern="access_token=([%0-9a-zA-Z][^/]*)" />
          </conditions>
        </rule>
        <rule name="PutFileRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?wopi/files/([0-9a-zA-Z][^/]*)/contents" />
          <action type="Rewrite" url="{R:1}/Handlers/WopiServerHandler.ashx?action=PutFile&amp;fileId={R:3}&amp;access_token={C:1}" appendQueryString="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="POST" />
            <add input="{QUERY_STRING}" pattern="access_token=([%0-9a-zA-Z][^/]*)" />
          </conditions>
        </rule>
        <rule name="CheckFileInfoRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?wopi/files/([0-9a-zA-Z][^/]*)(?!.*?contents)" />
          <action type="Rewrite" url="{R:1}/Handlers/WopiServerHandler.ashx?action=CheckFileInfo&amp;fileId={R:3}&amp;access_token={C:1}" appendQueryString="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="GET" />
            <add input="{QUERY_STRING}" pattern="access_token=([%0-9a-zA-Z][^/]*)" />
          </conditions>
        </rule>
        <rule name="LockFileRule" stopProcessing="true">
          <match url="/?([0-9a-zA-Z][^/]*)?/?((?:%7b|\{)[^/]*(?:%7d|\}))?/?wopi/files/([0-9a-zA-Z][^/]*)(?!.*?contents)" />
          <action type="Rewrite" url="{R:1}/Handlers/WopiServerHandler.ashx?action=LockFile&amp;fileId={R:3}&amp;access_token={C:1}" appendQueryString="false" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="POST" />
            <add input="{QUERY_STRING}" pattern="access_token=([%0-9a-zA-Z][^/]*)" />
          </conditions>
        </rule>
        <rule name="AppModuleUniqueNameRule" stopProcessing="true">
          <match url="([0-9a-zA-Z][^/]*/)?apps/uniqueName/([0-9a-zA-Z][^/]*)/(.*)" />
          <action type="Rewrite" url="{R:1}{R:3}?appName={R:2}" />
        </rule>
        <rule name="AppModuleRule" stopProcessing="true">
          <match url="([0-9a-zA-Z][^/]*/)?apps/([0-9a-zA-Z][^/]*)/(.*)" />
          <action type="Rewrite" url="{R:1}{R:3}?app={R:2}" />
        </rule>
        <rule name="AppLandingRule">
          <match url="^([0-9a-zA-Z][^/]*/)?apps/default.aspx$" />
          <action type="Rewrite" url="{R:1}/applandingpage.aspx" />
        </rule>
        <rule name="DesignerUrlRule1" enabled="true">
          <match url="^designer/([a-zA-Z]+)/?([0-9a-zA-Z][^/]*)?/?([0-9a-zA-Z][^/]*)?" />
          <action type="Rewrite" url="designers/designer.aspx?designer={R:1}&amp;solutionid={R:2}&amp;id={R:3}" />
          <conditions logicalGrouping="MatchAny">
            <add input="{PATH_INFO}" pattern="/designer/app/" />
            <add input="{PATH_INFO}" pattern="/designer/sitemap/" />
            <add input="{PATH_INFO}" pattern="/designer/form/" />
            <add input="{PATH_INFO}" pattern="/designer/view/" />
            <add input="{PATH_INFO}" pattern="/designer/pview/" />
            <add input="{PATH_INFO}" pattern="/designer/theme/" />
          </conditions>
        </rule>
        <rule name="DesignerUrlRule2" enabled="true">
          <match url="/?(.+?)?/designer/([a-zA-Z]+)/?([0-9a-zA-Z][^/]*)?/?([0-9a-zA-Z][^/]*)?" />
          <action type="Rewrite" url="{R:1}/designers/designer.aspx?designer={R:2}&amp;solutionid={R:3}&amp;id={R:4}" />
          <conditions logicalGrouping="MatchAny">
            <add input="{PATH_INFO}" pattern="/designer/app/" />
            <add input="{PATH_INFO}" pattern="/designer/sitemap/" />
            <add input="{PATH_INFO}" pattern="/designer/form/" />
            <add input="{PATH_INFO}" pattern="/designer/view/" />
            <add input="{PATH_INFO}" pattern="/designer/pview/" />
            <add input="{PATH_INFO}" pattern="/designer/theme/" />
          </conditions>
        </rule>
        <rule name="Flow Alternate Endpoint">
          <match url="^flow/(api.*)" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
        <rule name="Powerapps Alternate Endpoint">
          <match url="^powerapps/(api.*)" />
          <action type="Rewrite" url="{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Workflow" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Workflow" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Log" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.1.129" newVersion="9.0.1.129" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.30605" newVersion="7.6.0.30605" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.30605" newVersion="7.6.0.30605" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.6.0.30605" newVersion="7.6.0.30605" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.99.99.99" newVersion="2.29.0.1078" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="3.3.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.28" newVersion="4.0.2.28" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OpenApi" publicKeyToken="3f5743946376f042" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OpenApi.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.3.0" newVersion="4.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-106.12.0.0" newVersion="106.12.0.0" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="2.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IShellService" openTimeout="00:00:05" receiveTimeout="00:00:05" sendTimeout="00:00:05" closeTimeout="00:00:05">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://suite.office.net:443/shell/ShellService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IShellService" contract="IShellService" name="WSHttpBinding_IShellService" behaviorConfiguration="WSHttpBinding_EndPointBehavior">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WSHttpBinding_EndPointBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="ServiceModelRedirect" />
        </listeners>
      </source>
      <source name="System.ServiceModel.Activation" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="ServiceModelRedirect" />
        </listeners>
      </source>
      <source name="System.IdentityModel" switchValue="Error">
        <listeners>
          <add name="ServiceModelRedirect" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="Microsoft.Crm.ServiceModelTraceRedirector, Microsoft.Crm.Core" name="ServiceModelRedirect" />
    </sharedListeners>
  </system.diagnostics>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1073741824" />
        <!-- 1GB limit -->
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" physicalMemoryLimitPercentage="90" pollingInterval="00:00:15" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <location path="_static">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="x-content-type-options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="_imgs">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="x-content-type-options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="_common/styles">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="x-content-type-options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="nga/resources/styles">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="x-content-type-options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="_controls/notes">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="x-content-type-options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="_controls/wallcontrol">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="x-content-type-options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="favicon.ico">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="x-content-type-options" value="nosniff" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="CspViolationReporting">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="CspViolationReportingRule" stopProcessing="true">
            <action type="Rewrite" url="/Handlers/UnifiedClientCDNHandler.ashx" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>