.ms-connectionroleobjecttypecodelist-types {
    overflow-y: auto;
    margin-left: 20px;
    height: 200px;
    border-right: #6699cc 1px solid;
    border-top: #6699cc 1px solid;
    border-left: #6699cc 1px solid;
    color: #000000;
    border-bottom: #6699cc 1px solid;
}