USE [D365_MSCRM]
GO
/****** Object:  View [dbo].[BusinessUnit]    Script Date: 4/10/2017 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--
-- base view for BusinessUnit
--
create view [dbo].[BusinessUnit]
 (
    -- logical attributes
    [ModifiedByYomiName],
    [ModifiedByName],
    [CreatedByName],
    [CreatedByYomiName],
    [CreatedOnBehalfByName],
    [CreatedOnBehalfByYomiName],
    [ParentBusinessUnitIdName],
    [ModifiedOnBehalfByYomiName],
    [ModifiedOnBehalfByName],
    [OrganizationIdName],
    [TransactionCurrencyIdName],

    -- linked address entities
    [Address1_AddressTypeCode],
    [Address1_City],
    [Address1_Composite],
    [Address1_Country],
    [Address1_County],
    [Address1_Fax],
    [Address1_AddressId],
    [Address1_Latitude],
    [Address1_Line1],
    [Address1_Line2],
    [Address1_Line3],
    [Address1_Longitude],
    [Address1_Name],
    [Address1_PostalCode],
    [Address1_PostOfficeBox],
    [Address1_ShippingMethodCode],
    [Address1_StateOrProvince],
    [Address1_Telephone1],
    [Address1_Telephone2],
    [Address1_Telephone3],
    [Address1_UPSZone],
    [Address1_UTCOffset],

    [Address2_AddressTypeCode],
    [Address2_City],
    [Address2_Composite],
    [Address2_Country],
    [Address2_County],
    [Address2_Fax],
    [Address2_AddressId],
    [Address2_Latitude],
    [Address2_Line1],
    [Address2_Line2],
    [Address2_Line3],
    [Address2_Longitude],
    [Address2_Name],
    [Address2_PostalCode],
    [Address2_PostOfficeBox],
    [Address2_ShippingMethodCode],
    [Address2_StateOrProvince],
    [Address2_Telephone1],
    [Address2_Telephone2],
    [Address2_Telephone3],
    [Address2_UPSZone],
    [Address2_UTCOffset],

    -- physical attributes
    [BusinessUnitId],
    [OrganizationId],
    [UserGroupId],
    [Name],
    [Description],
    [DivisionName],
    [FileAsName],
    [TickerSymbol],
    [StockExchange],
    [UTCOffset],
    [CreatedOn],
    [ModifiedOn],
    [CreditLimit],
    [CostCenter],
    [WebSiteUrl],
    [FtpSiteUrl],
    [EMailAddress],
    [InheritanceMask],
    [CreatedBy],
    [ModifiedBy],
    [WorkflowSuspended],
    [ParentBusinessUnitId],
    [IsDisabled],
    [DisabledReason],
    [VersionNumber],
    [Picture],
    [CalendarId],
    [OverriddenCreatedOn],
    [ImportSequenceNumber],
    [CreatedOnBehalfBy],
    [ModifiedOnBehalfBy],
    [TransactionCurrencyId],
    [ExchangeRate]
) with view_metadata as
select
    -- logical attributes
    [lk_businessunitbase_modifiedby].[YomiFullName],
    [lk_businessunitbase_modifiedby].[FullName],
    [lk_businessunitbase_createdby].[FullName],
    [lk_businessunitbase_createdby].[YomiFullName],
    [lk_businessunitbase_createdonbehalfby].[FullName],
    [lk_businessunitbase_createdonbehalfby].[YomiFullName],
    [business_unit_parent_business_unit].[Name],
    [lk_businessunitbase_modifiedonbehalfby].[YomiFullName],
    [lk_businessunitbase_modifiedonbehalfby].[FullName],
    [organization_business_units].[Name],
    [TransactionCurrency_BusinessUnit].[CurrencyName],

    -- linked address entities
    [XXaddress1].[AddressTypeCode],
    [XXaddress1].[City],
    [XXaddress1].[Composite],
    [XXaddress1].[Country],
    [XXaddress1].[County],
    [XXaddress1].[Fax],
    [XXaddress1].[InternalAddressId],
    [XXaddress1].[Latitude],
    [XXaddress1].[Line1],
    [XXaddress1].[Line2],
    [XXaddress1].[Line3],
    [XXaddress1].[Longitude],
    [XXaddress1].[Name],
    [XXaddress1].[PostalCode],
    [XXaddress1].[PostOfficeBox],
    [XXaddress1].[ShippingMethodCode],
    [XXaddress1].[StateOrProvince],
    [XXaddress1].[Telephone1],
    [XXaddress1].[Telephone2],
    [XXaddress1].[Telephone3],
    [XXaddress1].[UPSZone],
    [XXaddress1].[UTCOffset],
    [XXaddress2].[AddressTypeCode],
    [XXaddress2].[City],
    [XXaddress2].[Composite],
    [XXaddress2].[Country],
    [XXaddress2].[County],
    [XXaddress2].[Fax],
    [XXaddress2].[InternalAddressId],
    [XXaddress2].[Latitude],
    [XXaddress2].[Line1],
    [XXaddress2].[Line2],
    [XXaddress2].[Line3],
    [XXaddress2].[Longitude],
    [XXaddress2].[Name],
    [XXaddress2].[PostalCode],
    [XXaddress2].[PostOfficeBox],
    [XXaddress2].[ShippingMethodCode],
    [XXaddress2].[StateOrProvince],
    [XXaddress2].[Telephone1],
    [XXaddress2].[Telephone2],
    [XXaddress2].[Telephone3],
    [XXaddress2].[UPSZone],
    [XXaddress2].[UTCOffset],
    -- physical attribute
    [BusinessUnitBase].[BusinessUnitId],
    [BusinessUnitBase].[OrganizationId],
    [BusinessUnitBase].[UserGroupId],
    [BusinessUnitBase].[Name],
    [BusinessUnitBase].[Description],
    [BusinessUnitBase].[DivisionName],
    [BusinessUnitBase].[FileAsName],
    [BusinessUnitBase].[TickerSymbol],
    [BusinessUnitBase].[StockExchange],
    [BusinessUnitBase].[UTCOffset],
    [BusinessUnitBase].[CreatedOn],
    [BusinessUnitBase].[ModifiedOn],
    [BusinessUnitBase].[CreditLimit],
    [BusinessUnitBase].[CostCenter],
    [BusinessUnitBase].[WebSiteUrl],
    [BusinessUnitBase].[FtpSiteUrl],
    [BusinessUnitBase].[EMailAddress],
    [BusinessUnitBase].[InheritanceMask],
    [BusinessUnitBase].[CreatedBy],
    [BusinessUnitBase].[ModifiedBy],
    [BusinessUnitBase].[WorkflowSuspended],
    [BusinessUnitBase].[ParentBusinessUnitId],
    [BusinessUnitBase].[IsDisabled],
    [BusinessUnitBase].[DisabledReason],
    [BusinessUnitBase].[VersionNumber],
    [BusinessUnitBase].[Picture],
    [BusinessUnitBase].[CalendarId],
    [BusinessUnitBase].[OverriddenCreatedOn],
    [BusinessUnitBase].[ImportSequenceNumber],
    [BusinessUnitBase].[CreatedOnBehalfBy],
    [BusinessUnitBase].[ModifiedOnBehalfBy],
    [BusinessUnitBase].[TransactionCurrencyId],
    [BusinessUnitBase].[ExchangeRate]
from [BusinessUnitBase] 
    left join [InternalAddressBase] XXaddress1 on ([BusinessUnitBase].[BusinessUnitId] = XXaddress1.ParentId and XXaddress1.AddressNumber = 1)
    left join [InternalAddressBase] XXaddress2 on ([BusinessUnitBase].[BusinessUnitId] = XXaddress2.ParentId and XXaddress2.AddressNumber = 2)
    left join [BusinessUnitBase] [business_unit_parent_business_unit] on ([BusinessUnitBase].[ParentBusinessUnitId] = [business_unit_parent_business_unit].[BusinessUnitId])
    left join [SystemUserBase] [lk_businessunitbase_createdby] with(nolock) on ([BusinessUnitBase].[CreatedBy] = [lk_businessunitbase_createdby].[SystemUserId])
    left join [SystemUserBase] [lk_businessunitbase_createdonbehalfby] with(nolock) on ([BusinessUnitBase].[CreatedOnBehalfBy] = [lk_businessunitbase_createdonbehalfby].[SystemUserId])
    left join [SystemUserBase] [lk_businessunitbase_modifiedby] with(nolock) on ([BusinessUnitBase].[ModifiedBy] = [lk_businessunitbase_modifiedby].[SystemUserId])
    left join [SystemUserBase] [lk_businessunitbase_modifiedonbehalfby] with(nolock) on ([BusinessUnitBase].[ModifiedOnBehalfBy] = [lk_businessunitbase_modifiedonbehalfby].[SystemUserId])
    left join [OrganizationBase] [organization_business_units] with(nolock) on ([BusinessUnitBase].[OrganizationId] = [organization_business_units].[OrganizationId])
    left join [TransactionCurrencyBase] [TransactionCurrency_BusinessUnit] on ([BusinessUnitBase].[TransactionCurrencyId] = [TransactionCurrency_BusinessUnit].[TransactionCurrencyId])

GO
