USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[ReportCategoryBaseIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportCategoryBaseIds](
	[ReportCategoryId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ReportCategoryBaseIds] PRIMARY KEY CLUSTERED 
(
	[ReportCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ReportCategoryBaseIds] ([ReportCategoryId]) VALUES (N'50cec14f-fa1d-e711-80d3-00155d00662d')
INSERT [dbo].[ReportCategoryBaseIds] ([ReportCategoryId]) VALUES (N'59cec14f-fa1d-e711-80d3-00155d00662d')
INSERT [dbo].[ReportCategoryBaseIds] ([ReportCategoryId]) VALUES (N'61cec14f-fa1d-e711-80d3-00155d00662d')
