USE [D365_MSCRM]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_UDF_7ba8a5cdd4c648ac8ed1655a56af9307]    Script Date: 4/10/2017 9:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_UDF_7ba8a5cdd4c648ac8ed1655a56af9307]() RETURNS int WITH SCHEMABINDING AS BEGIN DECLARE @return int; RETURN @return; END
GO
