USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[InvalidDependencyBase]    Script Date: 4/10/2017 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvalidDependencyBase](
	[IsExistingNodeRequiredComponent] [bit] NULL,
	[ExistingDependencyType] [int] NOT NULL CONSTRAINT [DF_InvalidDependencyBase_ExistingDependencyType]  DEFAULT ((0)),
	[MissingComponentLookupType] [int] NOT NULL CONSTRAINT [DF_InvalidDependencyBase_MissingComponentLookupType]  DEFAULT ((0)),
	[MissingComponentId] [uniqueidentifier] NULL,
	[MissingComponentInfo] [nvarchar](max) NULL,
	[InvalidDependencyId] [uniqueidentifier] NOT NULL,
	[ExistingComponentId] [uniqueidentifier] NULL,
	[ExistingComponentType] [int] NULL,
	[MissingComponentType] [int] NOT NULL CONSTRAINT [DF_InvalidDependencyBase_MissingComponentType]  DEFAULT ((0)),
 CONSTRAINT [cndx_PrimaryKey_InvalidDependency] PRIMARY KEY CLUSTERED 
(
	[InvalidDependencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[InvalidDependencyBase] ([IsExistingNodeRequiredComponent], [ExistingDependencyType], [MissingComponentLookupType], [MissingComponentId], [MissingComponentInfo], [InvalidDependencyId], [ExistingComponentId], [ExistingComponentType], [MissingComponentType]) VALUES (0, 2, 3, NULL, N'msdyn_/PersonalWall.htm', N'a9afcd05-f61d-e711-80d3-00155d00662d', N'063e7659-05d9-4030-960d-10fe269a5a8b', 60, 61)
INSERT [dbo].[InvalidDependencyBase] ([IsExistingNodeRequiredComponent], [ExistingDependencyType], [MissingComponentLookupType], [MissingComponentId], [MissingComponentInfo], [InvalidDependencyId], [ExistingComponentId], [ExistingComponentType], [MissingComponentType]) VALUES (0, 2, 3, NULL, N'msdyn_/PersonalWall.htm', N'aaafcd05-f61d-e711-80d3-00155d00662d', N'2701de60-8f2a-48a4-8262-4a35ca7441fa', 60, 61)
INSERT [dbo].[InvalidDependencyBase] ([IsExistingNodeRequiredComponent], [ExistingDependencyType], [MissingComponentLookupType], [MissingComponentId], [MissingComponentInfo], [InvalidDependencyId], [ExistingComponentId], [ExistingComponentType], [MissingComponentType]) VALUES (0, 2, 3, NULL, N'msdyn_/PersonalWall.htm', N'b6afcd05-f61d-e711-80d3-00155d00662d', N'15e19ce1-819e-4789-a5aa-ea4fe1741568', 60, 61)
