USE [D365_MSCRM]
GO
/****** Object:  View [dbo].[Mailbox]    Script Date: 4/10/2017 9:59:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--
-- base view for Mailbox
--
create view [dbo].[Mailbox]
 (
    -- logical attributes
    [ModifiedByName],
    [ModifiedByYomiName],
    [CreatedOnBehalfByName],
    [CreatedOnBehalfByYomiName],
    [OwningBusinessUnitName],
    [EmailServerProfileName],
    [CreatedByName],
    [CreatedByYomiName],
    [ModifiedOnBehalfByName],
    [ModifiedOnBehalfByYomiName],
    [EntityImage_URL],
    [EntityImage_Timestamp],
    [EntityImage],
    [OrganizationIdName],
    [IsPasswordSet],

    -- ownership entries
    OwnerId,
    OwnerIdName,
    OwnerIdYomiName,
    OwnerIdDsc,
    OwnerIdType,
    OwningUser,
    OwningTeam,

    -- physical attributes
    [MailboxId],
    [CreatedOn],
    [CreatedBy],
    [ModifiedOn],
    [ModifiedBy],
    [CreatedOnBehalfBy],
    [ModifiedOnBehalfBy],
    [OwningBusinessUnit],
    [StateCode],
    [StatusCode],
    [ExchangeSyncStateXml],
    [TimeZoneRuleVersionNumber],
    [UTCConversionTimeZoneCode],
    [Name],
    [EmailAddress],
    [IncomingEmailDeliveryMethod],
    [OutgoingEmailDeliveryMethod],
    [ProcessAndDeleteEmails],
    [AllowEmailConnectorToUseCredentials],
    [Username],
    [Password],
    [RegardingObjectId],
    [RegardingObjectIdName],
    [EmailServerProfile],
    [IsForwardMailbox],
    [RegardingObjectTypeCode],
    [OrganizationId],
    [EmailRouterAccessApproval],
    [HostId],
    [NoEmailCount],
    [ProcessEmailReceivedAfter],
    [ReceivingPostponedUntil],
    [LastMessageId],
    [OutgoingEmailStatus],
    [IncomingEmailStatus],
    [TestMailboxAccessCompletedOn],
    [TestEmailConfigurationScheduled],
    [EnabledForIncomingEmail],
    [TransientFailureCount],
    [ACTDeliveryMethod],
    [VersionNumber],
    [PostponeTestEmailConfigurationUntil],
    [TestEmailConfigurationRetryCount],
    [PostponeSendingUntil],
    [LastActiveOn],
    [UndeliverableFolder],
    [EnabledForOutgoingEmail],
    [ProcessingStateCode],
    [LastAutoDiscoveredOn],
    [PostponeMailboxProcessingUntil],
    [EWSURL],
    [MailboxProcessingContext],
    [EnabledForACT],
    [ReceivingPostponedUntilForACT],
    [NoACTCount],
    [ACTStatus],
    [EntityImageId],
    [IsEmailAddressApprovedByO365Admin],
    [IsACTSyncOrgFlagSet],
    [ProcessedTimes],
    [LastDuration],
    [OrgMarkedAsPrimaryForExchangeSync],
    [AverageTotalDuration],
    [LastSyncErrorCode],
    [LastSyncError],
    [LastSyncErrorCount],
    [LastSyncErrorOccurredOn],
    [LastSyncErrorMachineName],
    [ItemsProcessedForLastSync],
    [ItemsFailedForLastSync],
    [LastSyncStartedOn],
    [LastSuccessfulSyncCompletedOn],
    [FolderHierarchy],
    [ProcessingLastAttemptedOn],
    [ForcedUnlockCount],
    [LastMailboxForcedUnlockOccurredOn],
    [IsServiceAccount],
    [VerboseLoggingEnabled],
    [OfficeAppsDeploymentScheduled],
    [OfficeAppsDeploymentStatus],
    [OfficeAppsDeploymentCompleteOn],
    [OfficeAppsDeploymentError],
    [PostponeOfficeAppsDeploymentUntil],
    [MailboxStatus]
) with view_metadata as
select
    -- logical attributes
    [lk_mailbox_modifiedby].[FullName],
    [lk_mailbox_modifiedby].[YomiFullName],
    [lk_mailbox_createdonbehalfby].[FullName],
    [lk_mailbox_createdonbehalfby].[YomiFullName],
    [business_unit_mailbox].[Name],
    [emailserverprofile_mailbox].[Name],
    [lk_mailbox_createdby].[FullName],
    [lk_mailbox_createdby].[YomiFullName],
    [lk_mailbox_modifiedonbehalfby].[FullName],
    [lk_mailbox_modifiedonbehalfby].[YomiFullName],
    [lk_mailbox_entityimage].[ImageURL],
    [lk_mailbox_entityimage].[ImageTimestamp],
    [lk_mailbox_entityimage].[ImageData],
    [organization_mailbox].[Name],
    CAST(case when [MailboxBase].[Password] is null then 0 else 1 end as bit),

    -- ownership entries
    OwnerId = [MailboxBase].OwnerId,
    OwnerName = XXowner.Name,
    OwnerYomiName =  XXowner.YomiName,
    OwnerDsc = 0, -- DSC is removed, stub it to 0
    OwnerIdType = XXowner.OwnerIdType,
    OwningUser = case 
 		when XXowner.OwnerIdType= 8 then XXowner.OwnerId
		else null
		end,
    OwningTeam = case 
 		when XXowner.OwnerIdType= 9 then XXowner.OwnerId
		else null
		end,

    -- physical attribute
    [MailboxBase].[MailboxId],
    [MailboxBase].[CreatedOn],
    [MailboxBase].[CreatedBy],
    [MailboxBase].[ModifiedOn],
    [MailboxBase].[ModifiedBy],
    [MailboxBase].[CreatedOnBehalfBy],
    [MailboxBase].[ModifiedOnBehalfBy],
    [MailboxBase].[OwningBusinessUnit],
    [MailboxBase].[StateCode],
    [MailboxBase].[StatusCode],
    [MailboxBase].[ExchangeSyncStateXml],
    [MailboxBase].[TimeZoneRuleVersionNumber],
    [MailboxBase].[UTCConversionTimeZoneCode],
    [MailboxBase].[Name],
    [MailboxBase].[EmailAddress],
    [MailboxBase].[IncomingEmailDeliveryMethod],
    [MailboxBase].[OutgoingEmailDeliveryMethod],
    [MailboxBase].[ProcessAndDeleteEmails],
    [MailboxBase].[AllowEmailConnectorToUseCredentials],
    [MailboxBase].[Username],
    [MailboxBase].[Password],
    [MailboxBase].[RegardingObjectId],
    [MailboxBase].[RegardingObjectIdName],
    [MailboxBase].[EmailServerProfile],
    [MailboxBase].[IsForwardMailbox],
    [MailboxBase].[RegardingObjectTypeCode],
    [MailboxBase].[OrganizationId],
    [MailboxBase].[EmailRouterAccessApproval],
    [MailboxBase].[HostId],
    [MailboxBase].[NoEmailCount],
    [MailboxBase].[ProcessEmailReceivedAfter],
    [MailboxBase].[ReceivingPostponedUntil],
    [MailboxBase].[LastMessageId],
    [MailboxBase].[OutgoingEmailStatus],
    [MailboxBase].[IncomingEmailStatus],
    [MailboxBase].[TestMailboxAccessCompletedOn],
    [MailboxBase].[TestEmailConfigurationScheduled],
    [MailboxBase].[EnabledForIncomingEmail],
    [MailboxBase].[TransientFailureCount],
    [MailboxBase].[ACTDeliveryMethod],
    [MailboxBase].[VersionNumber],
    [MailboxBase].[PostponeTestEmailConfigurationUntil],
    [MailboxBase].[TestEmailConfigurationRetryCount],
    [MailboxBase].[PostponeSendingUntil],
    [MailboxBase].[LastActiveOn],
    [MailboxBase].[UndeliverableFolder],
    [MailboxBase].[EnabledForOutgoingEmail],
    [MailboxBase].[ProcessingStateCode],
    [MailboxBase].[LastAutoDiscoveredOn],
    [MailboxBase].[PostponeMailboxProcessingUntil],
    [MailboxBase].[EWSURL],
    [MailboxBase].[MailboxProcessingContext],
    [MailboxBase].[EnabledForACT],
    [MailboxBase].[ReceivingPostponedUntilForACT],
    [MailboxBase].[NoACTCount],
    [MailboxBase].[ACTStatus],
    [MailboxBase].[EntityImageId],
    [MailboxBase].[IsEmailAddressApprovedByO365Admin],
    [MailboxBase].[IsACTSyncOrgFlagSet],
    [MailboxBase].[ProcessedTimes],
    [MailboxBase].[LastDuration],
    [MailboxBase].[OrgMarkedAsPrimaryForExchangeSync],
    [MailboxBase].[AverageTotalDuration],
    [MailboxBase].[LastSyncErrorCode],
    [MailboxBase].[LastSyncError],
    [MailboxBase].[LastSyncErrorCount],
    [MailboxBase].[LastSyncErrorOccurredOn],
    [MailboxBase].[LastSyncErrorMachineName],
    [MailboxBase].[ItemsProcessedForLastSync],
    [MailboxBase].[ItemsFailedForLastSync],
    [MailboxBase].[LastSyncStartedOn],
    [MailboxBase].[LastSuccessfulSyncCompletedOn],
    [MailboxBase].[FolderHierarchy],
    [MailboxBase].[ProcessingLastAttemptedOn],
    [MailboxBase].[ForcedUnlockCount],
    [MailboxBase].[LastMailboxForcedUnlockOccurredOn],
    [MailboxBase].[IsServiceAccount],
    [MailboxBase].[VerboseLoggingEnabled],
    [MailboxBase].[OfficeAppsDeploymentScheduled],
    [MailboxBase].[OfficeAppsDeploymentStatus],
    [MailboxBase].[OfficeAppsDeploymentCompleteOn],
    [MailboxBase].[OfficeAppsDeploymentError],
    [MailboxBase].[PostponeOfficeAppsDeploymentUntil],
    [MailboxBase].[MailboxStatus]
from [MailboxBase] 
    left join [BusinessUnitBase] [business_unit_mailbox] on ([MailboxBase].[OwningBusinessUnit] = [business_unit_mailbox].[BusinessUnitId])
    left join [EmailServerProfileBase] [emailserverprofile_mailbox] on ([MailboxBase].[EmailServerProfile] = [emailserverprofile_mailbox].[EmailServerProfileId])
    left join [SystemUserBase] [lk_mailbox_createdby] with(nolock) on ([MailboxBase].[CreatedBy] = [lk_mailbox_createdby].[SystemUserId])
    left join [SystemUserBase] [lk_mailbox_createdonbehalfby] with(nolock) on ([MailboxBase].[CreatedOnBehalfBy] = [lk_mailbox_createdonbehalfby].[SystemUserId])
    left join [ImageDescriptor] [lk_mailbox_entityimage] on ([MailboxBase].[EntityImageId] = [lk_mailbox_entityimage].[ImageDescriptorId])
    left join [SystemUserBase] [lk_mailbox_modifiedby] with(nolock) on ([MailboxBase].[ModifiedBy] = [lk_mailbox_modifiedby].[SystemUserId])
    left join [SystemUserBase] [lk_mailbox_modifiedonbehalfby] with(nolock) on ([MailboxBase].[ModifiedOnBehalfBy] = [lk_mailbox_modifiedonbehalfby].[SystemUserId])
    left join [OrganizationBase] [organization_mailbox] with(nolock) on ([MailboxBase].[OrganizationId] = [organization_mailbox].[OrganizationId])
    left join OwnerBase XXowner with(nolock) on ([MailboxBase].OwnerId = XXowner.OwnerId)

GO
