USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[PluginTypeBase]    Script Date: 4/10/2017 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PluginTypeBase](
	[FriendlyName] [nvarchar](256) NOT NULL,
	[PluginTypeId] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[TypeName] [nvarchar](256) NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[VersionNumber] [timestamp] NULL,
	[IsWorkflowActivity] [bit] NULL CONSTRAINT [DF_PluginTypeBase_IsWorkflowActivity]  DEFAULT ((0)),
	[PluginTypeIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_PluginTypeBase_PluginTypeIdUnique]  DEFAULT (newid()),
	[PluginAssemblyId] [uniqueidentifier] NULL,
	[CustomizationLevel] [int] NOT NULL CONSTRAINT [DF_PluginTypeBase_CustomizationLevel]  DEFAULT ((0)),
	[SolutionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PluginTypeBase_SolutionId]  DEFAULT ('fd140aad-4df4-11dd-bd17-0019b9312238'),
	[ComponentState] [int] NOT NULL CONSTRAINT [DF_PluginTypeBase_ComponentState]  DEFAULT ((0)),
	[Description] [nvarchar](256) NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[SupportingSolutionId] [uniqueidentifier] NULL,
	[WorkflowActivityGroupName] [nvarchar](256) NULL,
	[IsManaged] [bit] NOT NULL CONSTRAINT [DF_PluginTypeBase_IsManaged]  DEFAULT ((0)),
	[OverwriteTime] [datetime] NOT NULL CONSTRAINT [DF_PluginTypeBase_OverwriteTime]  DEFAULT ((0)),
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[Name] [nvarchar](256) NULL,
	[CustomWorkflowActivityInfo] [nvarchar](max) NULL,
 CONSTRAINT [cndx_PrimaryKey_PluginType] PRIMARY KEY CLUSTERED 
(
	[PluginTypeId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [UQ_PluginTypeBase_PluginTypeIdUnique]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[PluginTypeBase] ADD  CONSTRAINT [UQ_PluginTypeBase_PluginTypeIdUnique] UNIQUE NONCLUSTERED 
(
	[PluginTypeIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_PluginTypeBase_TypeMetadata]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[PluginTypeBase] ADD  CONSTRAINT [UQ_PluginTypeBase_TypeMetadata] UNIQUE NONCLUSTERED 
(
	[TypeName] ASC,
	[PluginAssemblyId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [fndx_for_cascaderelationship_pluginassembly_plugintype]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [fndx_for_cascaderelationship_pluginassembly_plugintype] ON [dbo].[PluginTypeBase]
(
	[PluginAssemblyId] ASC
)
INCLUDE ( 	[ComponentState]) 
WHERE ([PluginAssemblyId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[PluginTypeBase]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ndx_NameIsWorkflowActivity]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [ndx_NameIsWorkflowActivity] ON [dbo].[PluginTypeBase]
(
	[Name] ASC,
	[IsWorkflowActivity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ1_PluginType]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ1_PluginType] ON [dbo].[PluginTypeBase]
(
	[FriendlyName] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
