USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[TeamProfiles]    Script Date: 4/10/2017 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamProfiles](
	[VersionNumber] [timestamp] NULL,
	[TeamProfileId] [uniqueidentifier] NOT NULL,
	[FieldSecurityProfileId] [uniqueidentifier] NOT NULL,
	[TeamId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [cndx_PrimaryKey_TeamProfiles] PRIMARY KEY CLUSTERED 
(
	[TeamProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[TeamProfiles]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ndx_for_cascaderelationship_profile_teamprofiles]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE NONCLUSTERED INDEX [ndx_for_cascaderelationship_profile_teamprofiles] ON [dbo].[TeamProfiles]
(
	[FieldSecurityProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ndx_Unique_TeamIdFieldSecurityProfileId]    Script Date: 4/10/2017 9:59:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [ndx_Unique_TeamIdFieldSecurityProfileId] ON [dbo].[TeamProfiles]
(
	[TeamId] ASC,
	[FieldSecurityProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TeamProfiles] ADD  CONSTRAINT [DF_TeamProfiles_TeamProfileId]  DEFAULT (newid()) FOR [TeamProfileId]
GO
ALTER TABLE [dbo].[TeamProfiles]  WITH CHECK ADD  CONSTRAINT [team_teamprofiles] FOREIGN KEY([TeamId])
REFERENCES [dbo].[TeamBase] ([TeamId])
GO
ALTER TABLE [dbo].[TeamProfiles] CHECK CONSTRAINT [team_teamprofiles]
GO
