USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[PluginAssemblyBase]    Script Date: 4/10/2017 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PluginAssemblyBase](
	[SourceHash] [nvarchar](256) NULL,
	[CustomizationLevel] [int] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_CustomizationLevel]  DEFAULT ((0)),
	[Content] [varchar](max) NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[Path] [nvarchar](256) NULL,
	[Name] [nvarchar](256) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[Version] [nvarchar](48) NOT NULL,
	[VersionNumber] [timestamp] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[PluginAssemblyId] [uniqueidentifier] NOT NULL,
	[Culture] [nvarchar](32) NOT NULL,
	[SourceType] [int] NOT NULL,
	[PluginAssemblyIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_PluginAssemblyBase_PluginAssemblyIdUnique]  DEFAULT (newid()),
	[PublicKeyToken] [nvarchar](32) NOT NULL,
	[OverwriteTime] [datetime] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_OverwriteTime]  DEFAULT ((0)),
	[IsolationMode] [int] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_IsolationMode]  DEFAULT ((1)),
	[Minor] [int] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_Minor]  DEFAULT ((0)),
	[SolutionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_SolutionId]  DEFAULT ('fd140aad-4df4-11dd-bd17-0019b9312238'),
	[Major] [int] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_Major]  DEFAULT ((0)),
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[IsManaged] [bit] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_IsManaged]  DEFAULT ((0)),
	[ComponentState] [int] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_ComponentState]  DEFAULT ((0)),
	[SupportingSolutionId] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[Description] [nvarchar](256) NULL,
	[IsHidden] [bit] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_IsHidden]  DEFAULT ((0)),
	[IntroducedVersion] [nvarchar](48) NULL,
	[IsCustomizable] [bit] NOT NULL CONSTRAINT [DF_PluginAssemblyBase_IsCustomizable]  DEFAULT ((1)),
 CONSTRAINT [cndx_PrimaryKey_pluginassembly] PRIMARY KEY CLUSTERED 
(
	[PluginAssemblyId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_PluginAssemblyBase_AssemblyMetadata]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[PluginAssemblyBase] ADD  CONSTRAINT [UQ_PluginAssemblyBase_AssemblyMetadata] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[Major] ASC,
	[Minor] ASC,
	[Culture] ASC,
	[PublicKeyToken] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [UQ_PluginAssemblyBase_PluginAssemblyIdUnique]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[PluginAssemblyBase] ADD  CONSTRAINT [UQ_PluginAssemblyBase_PluginAssemblyIdUnique] UNIQUE NONCLUSTERED 
(
	[PluginAssemblyIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[PluginAssemblyBase]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
