USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[EntityRelationshipIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityRelationshipIds](
	[EntityRelationshipId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [XPKEntityRelationshipIds] PRIMARY KEY CLUSTERED 
(
	[EntityRelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[EntityRelationshipIds] ([EntityRelationshipId]) VALUES (N'8b366d6e-d389-11db-9246-00123f3a1b51')
INSERT [dbo].[EntityRelationshipIds] ([EntityRelationshipId]) VALUES (N'8b366d6f-d389-11db-9246-00123f3a1b51')
INSERT [dbo].[EntityRelationshipIds] ([EntityRelationshipId]) VALUES (N'8b366d70-d389-11db-9246-00123f3a1b51')
GO
