USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[SdkMessageResponseBaseIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SdkMessageResponseBaseIds](
	[SdkMessageResponseId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SdkMessageResponseBaseIds] PRIMARY KEY CLUSTERED 
(
	[SdkMessageResponseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[SdkMessageResponseBaseIds] ([SdkMessageResponseId]) VALUES (N'1c4e947e-79f0-4e35-b2a8-000959ef93f4')
INSERT [dbo].[SdkMessageResponseBaseIds] ([SdkMessageResponseId]) VALUES (N'e4c3bb1b-ea3e-db11-86a7-000a3a5473e8')
INSERT [dbo].[SdkMessageResponseBaseIds] ([SdkMessageResponseId]) VALUES (N'e5c3bb1b-ea3e-db11-86a7-000a3a5473e8')
GO
