USE [D365_MSCRM]
GO
/****** Object:  View [dbo].[DisplayStringMapAsIfPublished]    Script Date: 4/10/2017 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--
-- base 'as if published' view for DisplayStringMapAsIfPublished
--
create view [dbo].[DisplayStringMapAsIfPublished]
 with view_metadata as
select
* from [DisplayStringMap]
GO
