USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[EntityIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityIds](
	[EntityId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [XPKEntityIds] PRIMARY KEY CLUSTERED 
(
	[EntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[EntityIds] ([EntityId]) VALUES (N'5358a6e8-96c9-de11-9a56-00137299e1c2')
INSERT [dbo].[EntityIds] ([EntityId]) VALUES (N'73ae8c09-d2a8-e011-91da-00155d1dd929')
INSERT [dbo].[EntityIds] ([EntityId]) VALUES (N'9dd0cfe8-ca52-e411-80c6-00155d206d09')
GO
