USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[RelationshipIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationshipIds](
	[RelationshipId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [XPKRelationshipIds] PRIMARY KEY CLUSTERED 
(
	[RelationshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[RelationshipIds] ([RelationshipId]) VALUES (N'6b72c40f-80ee-4eab-88b8-000c07bd21da')
INSERT [dbo].[RelationshipIds] ([RelationshipId]) VALUES (N'68564cdb-2b2e-11df-80a6-00137299e1c2')
INSERT [dbo].[RelationshipIds] ([RelationshipId]) VALUES (N'8fcb6027-2bcd-11df-80a6-00137299e1c2')
GO
