USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[RoleBaseIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleBaseIds](
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_RoleBaseIds] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[RoleBaseIds] ([RoleId]) VALUES (N'caacfcbe-f31d-e711-80d3-00155d00662d')
INSERT [dbo].[RoleBaseIds] ([RoleId]) VALUES (N'ccaefcbe-f31d-e711-80d3-00155d00662d')
INSERT [dbo].[RoleBaseIds] ([RoleId]) VALUES (N'3eb1fcbe-f31d-e711-80d3-00155d00662d')
