USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[CascadeOperation]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CascadeOperation](
	[CascadeLinkType] [int] NOT NULL,
	[IsDeleteEntitySchema] [bit] NULL DEFAULT ((0)),
	[HasExtraConditions] [bit] NULL DEFAULT ((0)),
	[ReferencedEntityObjectTypeCode] [int] NOT NULL,
	[ReferencingEntityObjectTypeCode] [int] NOT NULL,
	[ReferencingAttributeColumnNumber] [int] NOT NULL,
	[CascadeStatement] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReferencedEntityObjectTypeCode] ASC,
	[CascadeLinkType] ASC,
	[ReferencingEntityObjectTypeCode] ASC,
	[ReferencingAttributeColumnNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[CascadeOperation] ([CascadeLinkType], [IsDeleteEntitySchema], [HasExtraConditions], [ReferencedEntityObjectTypeCode], [ReferencingEntityObjectTypeCode], [ReferencingAttributeColumnNumber], [CascadeStatement]) VALUES (1, 0, 0, 1, 2, 179, N'select o.ContactId, 2, @n, 0 from ContactBase o join @i c on c.o = o.ParentCustomerId and c.t = 1 and c.d = @c')
INSERT [dbo].[CascadeOperation] ([CascadeLinkType], [IsDeleteEntitySchema], [HasExtraConditions], [ReferencedEntityObjectTypeCode], [ReferencingEntityObjectTypeCode], [ReferencingAttributeColumnNumber], [CascadeStatement]) VALUES (1, 0, 0, 1, 3, 46, N'select o.OpportunityId, 3, @n, 0 from OpportunityBase o join @i c on c.o = o.CustomerId and c.t = 1 and c.d = @c')
INSERT [dbo].[CascadeOperation] ([CascadeLinkType], [IsDeleteEntitySchema], [HasExtraConditions], [ReferencedEntityObjectTypeCode], [ReferencingEntityObjectTypeCode], [ReferencingAttributeColumnNumber], [CascadeStatement]) VALUES (1, 0, 0, 1, 4, 106, N'select o.LeadId, 4, @n, 0 from LeadBase o join @i c on c.o = o.CustomerId and c.t = 1 and c.d = @c')
GO
