USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[PrincipalSyncAttributeMapBase]    Script Date: 4/10/2017 9:59:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrincipalSyncAttributeMapBase](
	[MappingName] [nvarchar](100) NOT NULL,
	[AllowedSyncDirection] [tinyint] NOT NULL CONSTRAINT [DF_PrincipalSyncAttributeMapBase_AllowedSyncDirection]  DEFAULT ((0)),
	[PrincipalId] [uniqueidentifier] NOT NULL,
	[SyncDirection] [int] NOT NULL CONSTRAINT [DF_PrincipalSyncAttributeMapBase_SyncDirection]  DEFAULT ((0)),
	[AttributeCRMName] [nvarchar](100) NULL,
	[EntityTypeCode] [int] NOT NULL,
	[OrganizationId] [uniqueidentifier] NOT NULL,
	[AttributeExchangeName] [nvarchar](100) NULL,
	[ParentPrincipalSyncAttributeMappingId] [uniqueidentifier] NULL,
	[DefaultSyncDirection] [int] NOT NULL CONSTRAINT [DF_PrincipalSyncAttributeMapBase_DefaultSyncDirection]  DEFAULT ((0)),
	[IsComputed] [bit] NOT NULL CONSTRAINT [DF_PrincipalSyncAttributeMapBase_IsComputed]  DEFAULT ((0)),
	[VersionNumber] [timestamp] NULL,
	[PrincipalSyncAttributeMapId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_PrincipalSyncAttributeMapBase_PrincipalSyncAttributeMapId]  DEFAULT (newid()),
	[ComputedProperties] [nvarchar](500) NULL,
	[AttributeCRMDisplayName] [nvarchar](100) NULL,
	[AttributeExchangeDisplayName] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[PrincipalSyncAttributeMapBase]
(
	[VersionNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
