USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[MailMergeTemplateBase]    Script Date: 4/10/2017 9:59:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailMergeTemplateBase](
	[ModifiedBy] [uniqueidentifier] NULL,
	[Body] [nvarchar](max) NULL,
	[TemplateTypeCode] [int] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[Description] [nvarchar](256) NULL,
	[UTCConversionTimeZoneCode] [int] NULL,
	[FileSize] [int] NULL,
	[ParameterXml] [nvarchar](max) NULL,
	[MailMergeType] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[DefaultFilter] [nvarchar](max) NULL,
	[MimeType] [nvarchar](256) NULL,
	[TimeZoneRuleVersionNumber] [int] NULL,
	[StateCode] [int] NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[LanguageCode] [int] NULL,
	[OwningBusinessUnit] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[DocumentFormat] [int] NULL,
	[VersionNumber] [timestamp] NULL,
	[Name] [nvarchar](425) NOT NULL,
	[MailMergeTemplateId] [uniqueidentifier] NOT NULL,
	[IsPersonal] [bit] NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_IsPersonal]  DEFAULT ((1)),
	[StatusCode] [int] NULL,
	[IsCustomizable] [bit] NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_IsCustomizable]  DEFAULT ((1)),
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[ExchangeRate] [decimal](23, 10) NULL,
	[OwnerId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_OwnerId]  DEFAULT ('00000000-0000-0000-0000-000000000000'),
	[SupportingSolutionId] [uniqueidentifier] NULL,
	[MailMergeTemplateIdUnique] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_MailMergeTemplateIdUnique]  DEFAULT (newid()),
	[TransactionCurrencyId] [uniqueidentifier] NULL,
	[OverwriteTime] [datetime] NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_OverwriteTime]  DEFAULT ((0)),
	[SolutionId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_SolutionId]  DEFAULT ('fd140aad-4df4-11dd-bd17-0019b9312238'),
	[IsManaged] [bit] NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_IsManaged]  DEFAULT ((0)),
	[ComponentState] [int] NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_ComponentState]  DEFAULT ((0)),
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[OwnerIdType] [int] NOT NULL CONSTRAINT [DF_MailMergeTemplateBase_OwnerIdType]  DEFAULT ((8)),
	[IntroducedVersion] [nvarchar](48) NULL,
 CONSTRAINT [cndx_PrimaryKey_MailMergeTemplate] PRIMARY KEY CLUSTERED 
(
	[MailMergeTemplateId] ASC,
	[SolutionId] ASC,
	[ComponentState] ASC,
	[OverwriteTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [UQ_MailMergeTemplateBase_MailMergeTemplateIdUnique]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[MailMergeTemplateBase] ADD  CONSTRAINT [UQ_MailMergeTemplateBase_MailMergeTemplateIdUnique] UNIQUE NONCLUSTERED 
(
	[MailMergeTemplateIdUnique] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [fndx_for_cascaderelationship_business_unit_mailmergetemplates]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [fndx_for_cascaderelationship_business_unit_mailmergetemplates] ON [dbo].[MailMergeTemplateBase]
(
	[OwningBusinessUnit] ASC
)
WHERE ([OwningBusinessUnit] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [fndx_Sync_VersionNumber]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [fndx_Sync_VersionNumber] ON [dbo].[MailMergeTemplateBase]
(
	[VersionNumber] ASC
)
WHERE ([VersionNumber] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ndx_Core]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [ndx_Core] ON [dbo].[MailMergeTemplateBase]
(
	[StateCode] ASC,
	[StatusCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
/****** Object:  Index [ndx_Security]    Script Date: 4/10/2017 9:59:56 PM ******/
CREATE NONCLUSTERED INDEX [ndx_Security] ON [dbo].[MailMergeTemplateBase]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
