USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[Rollup_Bootstrap_Markers_bacebbde18e243a7b3fb4bbdf2b2c0e5]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rollup_Bootstrap_Markers_bacebbde18e243a7b3fb4bbdf2b2c0e5](
	[Id] [int] NULL,
	[Start] [int] NULL,
	[End] [int] NULL
) ON [PRIMARY]

GO
