USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[RecordCountSnapshot]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordCountSnapshot](
	[Count] [bigint] NOT NULL,
	[RecordCountSnapshotId] [uniqueidentifier] NOT NULL CONSTRAINT [DF_RecordCountSnapshot_RecordCountSnapshotId]  DEFAULT (newid()),
	[ObjectTypeCode] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Index [cndx_RecordCountSnapshot_ObjectTypeCode]    Script Date: 4/10/2017 9:59:22 PM ******/
CREATE UNIQUE CLUSTERED INDEX [cndx_RecordCountSnapshot_ObjectTypeCode] ON [dbo].[RecordCountSnapshot]
(
	[ObjectTypeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
INSERT [dbo].[RecordCountSnapshot] ([Count], [RecordCountSnapshotId], [ObjectTypeCode]) VALUES (0, N'fa00fa8b-4bdb-42fc-8634-3d8995a37a96', 1)
INSERT [dbo].[RecordCountSnapshot] ([Count], [RecordCountSnapshotId], [ObjectTypeCode]) VALUES (0, N'228bd434-d12b-4a08-acb1-a5d115ddb4a9', 2)
INSERT [dbo].[RecordCountSnapshot] ([Count], [RecordCountSnapshotId], [ObjectTypeCode]) VALUES (0, N'1a5b4f7f-1a38-446a-bdec-0672973506fb', 3)
GO
/****** Object:  Index [ndx_PrimaryKey_RecordCountSnapshot]    Script Date: 4/10/2017 9:59:56 PM ******/
ALTER TABLE [dbo].[RecordCountSnapshot] ADD  CONSTRAINT [ndx_PrimaryKey_RecordCountSnapshot] PRIMARY KEY NONCLUSTERED 
(
	[RecordCountSnapshotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
