USE [D365_MSCRM]
GO
/****** Object:  View [dbo].[WorkflowWaitSubscription]    Script Date: 4/10/2017 9:59:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--
-- base view for WorkflowWaitSubscription
--
create view [dbo].[WorkflowWaitSubscription]
 (
    -- logical attributes
    [OwnerId],
    [OwnerIdType],
    [OwningBusinessUnit],
    [OwningUser],

    -- physical attributes
    [EntityId],
    [WorkflowWaitSubscriptionId],
    [AsyncOperationId],
    [Data],
    [ModifiedOn],
    [EntityName],
    [IsModified],
    [IsDeleted],
    [WaitOnAttributeList]
) with view_metadata as
select
    -- logical attributes
    [asyncoperation_workflowwaitsubscription].[OwnerId],
    [asyncoperation_workflowwaitsubscription].[OwnerIdType],
    [asyncoperation_workflowwaitsubscription].[OwningBusinessUnit],
    case when [asyncoperation_workflowwaitsubscription].OwnerIdType = 8
    then [asyncoperation_workflowwaitsubscription].OwnerId
    else null
    end,

    -- physical attribute
    [WorkflowWaitSubscriptionBase].[EntityId],
    [WorkflowWaitSubscriptionBase].[WorkflowWaitSubscriptionId],
    [WorkflowWaitSubscriptionBase].[AsyncOperationId],
    [WorkflowWaitSubscriptionBase].[Data],
    [WorkflowWaitSubscriptionBase].[ModifiedOn],
    [WorkflowWaitSubscriptionBase].[EntityName],
    [WorkflowWaitSubscriptionBase].[IsModified],
    [WorkflowWaitSubscriptionBase].[IsDeleted],
    [WorkflowWaitSubscriptionBase].[WaitOnAttributeList]
from [WorkflowWaitSubscriptionBase] 
    left join [AsyncOperationBase] [asyncoperation_workflowwaitsubscription] on ([WorkflowWaitSubscriptionBase].[AsyncOperationId] = [asyncoperation_workflowwaitsubscription].[AsyncOperationId])

GO
