USE [D365_MSCRM]
GO
/****** Object:  Table [dbo].[WorkflowBaseIds]    Script Date: 4/10/2017 9:59:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowBaseIds](
	[WorkflowId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_WorkflowBaseIds] PRIMARY KEY CLUSTERED 
(
	[WorkflowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[WorkflowBaseIds] ([WorkflowId]) VALUES (N'2b1af9b0-f91d-e711-80d3-00155d00662d')
INSERT [dbo].[WorkflowBaseIds] ([WorkflowId]) VALUES (N'381af9b0-f91d-e711-80d3-00155d00662d')
INSERT [dbo].[WorkflowBaseIds] ([WorkflowId]) VALUES (N'451af9b0-f91d-e711-80d3-00155d00662d')
