<div class="mscrm-properties-buttonstrip-container">
    <button id="AppDesigner.AppInfoPropertiesPane.Apply" tabindex="-1" class="mscrm-properties-buttonstrip-button mscrm-properties-buttonstrip-SelectedButton" ng-click="wizardController.OnApplyClick($event)" mscrm-action-on-select ng-disabled="!wizardController.ShouldEnableUpdateInWizard" mscrm-locale mscrm-resource-key="AppDesigner.Apply" mscrm-target-attr="title">
        <mscrm-locale mscrm-resource-key="AppDesigner.Apply"/>
    </button>
    <button id="AppDesigner.AppInfoPropertiesPane.Discard" tabindex="-1" class="mscrm-properties-buttonstrip-button" ng-click="wizardController.OnDiscardClick($event)" mscrm-action-on-select ng-disabled="!wizardController.IsAppWizardInDirtyState" mscrm-locale mscrm-resource-key="AppDesigner.Discard" mscrm-target-attr="title">
        <mscrm-locale mscrm-resource-key="AppDesigner.Discard"/>
    </button>
</div>