<div class="mscrm-AppGlobalCommandButtonWrapper">
	<button id="AppDesigner.AppGlobalCommand.{{mscrmButtonTextKey}}" type="button" tabindex="-1" class="mscrm-AppGlobalCommandButton" ng-click="mscrmButtonClickCallback()"
			mscrm-action-on-select  mscrm-locale mscrm-resource-key="{{mscrmButtonTooltipKey}}" mscrm-target-attr="title" ng-disabled="mscrmButtonDisabled()">
		<div class="mscrm-AppGlobalCommandButtonContainer">
			<div id="AppDesigner.AppGlobalCommand.CommandButton.{{mscrmButtonTextKey}}.Icon" ng-class="['mscrm-AppGlobalCommandButtonIcon', mscrmButtonIconClass]"></div>
			<div id="AppDesigner.AppGlobalCommand.CommandButton.{{mscrmButtonTextKey}}.Text" class="mscrm-AppGlobalCommandButtonText"><mscrm-locale mscrm-resource-key="{{mscrmButtonTextKey}}" /></div>
		</div>
	</button>
</div>