<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections></configSections>
  <system.web>
    <httpModules>
      <clear />
      <add name="CrmAuthentication"
           type="Microsoft.Crm.Authentication.AuthenticationEngine, Microsoft.Crm.Authentication, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
    <compilation defaultLanguage="C#" debug="false">
      <assemblies>
        <clear /><add assembly="Microsoft.Crm, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add
          assembly="Microsoft.Crm.DeploymentService, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>
  <location>
    <system.webServer>
      <modules>
        <remove name="CrmFederatedAuthenticationModule" /><remove name="CrmSessionAuthenticationManager" />
        <remove name="WebApiUrlRewriteModule" />
      </modules>
    </system.webServer>
  </location><!--
	Specific settings for the MSCRMServices directory
	--><crm.authentication>
    <authentication />
  </crm.authentication>
</configuration>