<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".manifest" />
            <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" />
        </staticContent>
    </system.webServer>
    <location path="main.htm">
        <system.webServer>
            <rewrite>
                <rules>
                    <rule name="UnifiedClientRedirect" stopProcessing="true">
                        <action type="Rewrite" url="../Handlers/UnifiedClientCDNHandler.ashx?clienthost=2" redirectType="Permanent" />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
    </location>
</configuration>
